<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd0ccd94-d6b1-43ca-b4a3-546d5124f141" Alias="Blue Laser Irradiation Generates Intracellular Rea" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/BlueLaserIrradiationGeneratesIntracellularRea</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Blue Laser Irradiation Generates Intracellular Rea" />
    <SortOrder>114</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Toshihiro Kushibiki, PhD, Takeshi Hirasawa, MSci, Shinpei Okawa, PhD, and Miya Ishihara, PhD</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">The purpose of this study was to measure intracellular reactive oxygen species (ROS) production after laser irradiation in various types of cells.</p>
<h3>Background data:</h3>
<p class="p1">ROS are considered to be the key secondary messengers produced by low-level laser therapy (LLLT). Although various mechanisms for the effects of LLLT have been proposed, and intracellular ROS were indicated as the one of the key factors, direct measurement of intracellular ROS of several types of cells after different wavelength lasers irradiation has not been reported.</p>
<h3>Materials and methods:</h3>
<p class="p1">Various types of cells were used in this study: mouse preadipocytes (3T3-L1), prechondrocytes (ATDC5), myoblasts (C2C12), mesenchymal stromal cells (KUSA-A1), lung cancer cells (LLC), insulinoma cells (MIN6), fibroblasts (NIH-3T3), human cervix adenocarcinoma cells (HeLa), macrophages differentiated from lymphocytes (THP-1) after treatment with phorbol ester, and rat basophilic leukemia cells (RBL-2H3). Cells were irradiated with a blue laser (wavelength: 405 nm), a red laser (wavelength: 664 nm) or a near infrared laser (wavelength: 808 nm) at 100 mW/cm2 for 60 or 120 sec. Intracellular ROS levels were measured by fluorometric assay using the intracellular ROS probe, CM-H2DCFDA in a flow cytometer.</p>
<h3>Results:</h3>
<p class="p1">After a blue laser irradiation, intracellular ROS levels were increased in all types of cells. In contrast, intracellular ROS generation was not observed after irradiation with a red laser or near-infrared laser.</p>
<h3>Conclusions:</h3>
<p class="p1">Potential sources of intracellular ROS were excited by blue laser irradiation, resulting in ROS production within cells. Although the low-level intracellular ROS should be generated after a red or a near-infrared laser irradiation, the only high level intracellular ROS were detected by the ROS probe used in this study. As ROS are considered to be key secondary messengers, the specific functional regulation of cells by laser irradiation will be studied in a future study.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-03-05T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Toshihiro Kushibiki, Takeshi Hirasawa, Shinpei Okawa, and Miya Ishihara. Photomedicine and Laser Surgery. March 2013, 31(3): 95-104. doi:10.1089/pho.2012.3361.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Blue Laser Irradiation Generates Intracellular Reactive Oxygen Species in Various Types of Cells]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Blue Laser Irradiation Generates Intracellular Reactive Oxygen Species in Various Types of Cells]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomedicine and Laser Surgery]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Blue Laser Irradiation Generates Intracellular Reactive Oxygen Species in Various Types of Cells" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>