<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ca03795-23bc-4ffb-aa66-ad98e0eaac69" Alias="Blue Light Eliminates Community-Acquired Methicill" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/BlueLightEliminatesCommunityAcquiredMethicill</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Blue Light Eliminates Community-Acquired Methicill" />
    <SortOrder>115</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Tianhong Dai, Asheesh Gupta, Ying-Ying Huang, Margaret E Sherwood, Clinton K. Murray, Mark S. Vrahas, Tammy Kielian, and Michael R. Hamblin</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Background and objective:</h3>
<p class="p1">Bacterial skin and soft tissue infections (SSTI) affect millions of individuals annually in the United States. Treatment of SSTI has been significantly complicated by the increasing emergence of community-acquired methicillin-resistant Staphylococcus aureus (CA-MRSA) strains. The objective of this study was to demonstrate the efficacy of blue light (415&plusmn;10 nm) therapy for eliminating CA-MRSA infections in skin abrasions of mice.</p>
<h3>Methods:</h3>
<p class="p1">The susceptibilities of a CA-MRSA strain (USA300LAC) and human keratinocytes (HaCaT) to blue light inactivation were compared by in vitro culture studies. A mouse model of skin abrasion infection was developed using bioluminescent USA300LAC::lux. Blue light was delivered to the infected mouse skin abrasions at 30 min (acute) and 24 h (established) after the bacterial inoculation. Bioluminescence imaging was used to monitor in real time the extent of infection in mice.</p>
<h3>Results:</h3>
<p class="p1">USA300LAC was much more susceptible to blue light inactivation than HaCaT cells (p=0.038). Approximately 4.75-log10 bacterial inactivation was achieved after 170 J/cm2 blue light had been delivered, but only 0.29 log10 loss of viability in HaCaT cells was observed. Transmission electron microscopy imaging of USA300LAC cells exposed to blue light exhibited disruption of the cytoplasmic content, disruption of cell walls, and cell debris. In vivo studies showed that blue light rapidly reduced the bacterial burden in both acute and established CA-MRSA infections. More than 2-log10 reduction of bacterial luminescence in the mouse skin abrasions was achieved when 41.4 (day 0) and 108 J/cm2 (day 1) blue light had been delivered. Bacterial regrowth was observed in the mouse wounds at 24 h after the blue light therapy.</p>
<h3>Conclusions:</h3>
<p class="p1">There exists a therapeutic window of blue light for bacterial infections where bacteria are selectively inactivated by blue light while host tissue cells are preserved. Blue light therapy has the potential to rapidly reduce the bacterial load in SSTI.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Tianhong Dai, Asheesh Gupta, Ying-Ying Huang, Margaret E Sherwood, Clinton K. Murray, Mark S. Vrahas, Tammy Kielian, and Michael R. Hamblin. Photomedicine and Laser Surgery. -Not available-, ahead of print. doi:10.1089/pho.2012.3365.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Blue Light Eliminates Community-Acquired Methicillin-resistant Staphylococcus aureus in Infected Mouse Skin Abrasions]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Blue Light Eliminates Community-Acquired Methicillin-resistant Staphylococcus aureus in Infected Mouse Skin Abrasions]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Blue Light Eliminates Community-Acquired Methicillin-resistant Staphylococcus aureus in Infected Mouse Skin Abrasions]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Blue Light Eliminates Community-Acquired Methicillin-resistant Staphylococcus aureus in Infected Mouse Skin Abrasions" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/c6dd030be8b7f7e6324fe98a5ff75c9e,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/5e83787cb163a6e9646affb57308f615,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/f1b0228ae51c58d9cdbf8f4e17bf3250,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/c6b4a9da28212d79802fddc91cdcc951,umb://document/114028e2148022765bcb693f38267e43,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>