<?xml version="1.0" encoding="utf-8"?>
<Content Key="120dbc26-148b-4a07-bbf3-28b66affe7aa" Alias="Comparison of single and multiple applications of " Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/ComparisonOfSingleAndMultipleApplicationsOf</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Comparison of single and multiple applications of " />
    <SortOrder>123</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Ng GY, Fung DT, Leung MC, Guo X</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>BACKGROUND AND OBJECTIVES:</h3>
<p class="p1">To examine single versus multiple applications of the gallium aluminum arsenide (GaAlAs) laser on the healing of surgically injured medial collateral ligaments (MCLs) in rats.</p>
<h3>STUDY DESIGN/MATERIALS AND METHODS:</h3>
<p class="p1">Sixteen rats were studied, with 12 receiving surgical transection to their right MCL and 4 receiving a sham injury. Group 1 (n = 4) received a single dose of GaAlAs laser therapy (wavelength 660 nm, average power 8.8 mW, pulse 10 kHz, dosage 31.6 J/cm(2)) directly to their MCL during surgery. Group 2 (n = 4) received 9 doses of GaAlAs laser therapy applied transcutaneously on alternate days (wavelength 660 nm, average power 8.8 mW, pulse 10 kHz, dosage 3.5 J/cm(2)). The controls (Group 3, n = 4) received one session of placebo laser at the time of surgery, with the laser equipment shut down, while the sham injured Group 4 (n = 4) received no treatment. Biomechanical tests for structural stiffness, ultimate tensile strength (UTS), and load-relaxation were done at 3 weeks after injury. The stiffness and UTS data were normalized by expressing as a percentage of the left side of each animal before statistical analysis.</p>
<h3>RESULTS:</h3>
<p class="p1">The load-relaxation data did not show any differences between the groups (P = 0.18). The normalized stiffness levels of Groups 2 (81.08+/-11.28%) and 4 (92.66+/-13.19%) were significantly higher (P = 0.025) than that of the control Group 3 (58.99+/-15.91%). The normalized UTS of Groups 2 (81.38+/-5.68%) and 4 (90.18+/-8.82%) were also significantly higher (P = 0.012) than that of the control (64.49+/-9.26%). Although, Group 1 had higher mean stiffness and UTS values than the control, no statistically significant difference was found between these two groups.</p>
<h3>CONCLUSIONS:</h3>
<p class="p1">Multiple laser therapy improves the normalized strength and stiffness of repairing rat MCLs at 3 weeks after injury. The multiple treatments seem to be superior to a single treatment when the cumulative dosages are comparable between the two modes of application.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2004-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Lasers Surg Med. 2004;34(3):285-9.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Comparison of single and multiple applications of GaAlAs laser on rat medial collateral ligament repair.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Comparison of single and multiple applications of GaAlAs laser on rat medial collateral ligament repair.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Lasers Surg Med.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Comparison of single and multiple applications of GaAlAs laser on rat medial collateral ligament repair." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/02007c2475b6c22ea24897bd92e94a3b,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/5df44537a851939b196bcb715963835c,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>