<?xml version="1.0" encoding="utf-8"?>
<Content Key="098783e8-b9ff-4370-aac0-4d8c81572259" Alias="Effect of low-level laser therapy on the release o" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EffectOfLowLevelLaserTherapyOnTheReleaseO</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Effect of low-level laser therapy on the release o" />
    <SortOrder>132</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Mohammad Esmaeelinejad , Mohammad Bayat</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Introduction:</h3>
<p class="p1">This study evaluated the effects of low-level laser therapy (LLLT) on human skin fibroblasts (HSFs) that have been cultured in high glucose concentration media.</p>
<h3>Materials and Methods:</h3>
<p class="p1">HSFs were cultured under physiologic glucose condition medium, and then cultured in high glucose concentration medium (15 mM/L) for one or two weeks prior to LLLT. Experimental HSFs were irradiated with three energy densities (0.5, 1, and 2 J/cm2) once daily on three consecutive days. Release of interleukin-6 (IL-6) and basic fibroblast growth factor (bFGF) were evaluated by the enzyme-linked immunosorbent assay (ELISA) method.</p>
<h3>Results:</h3>
<p class="p1">Statistical analysis showed three doses of 0.5 (p=0.049), 1 (p=0.027), and 2 J/cm2 (p=0.004) stimulated the release of IL-6 in HSFs cultured in high glucose concentration medium compared to non-irradiated HSFs that were cultured in the same medium. LLLT with 2 J/cm2 induced the release of bFGF from HSFs cultured in high glucose concentration medium for one (p=0.047) or two weeks (both p=0.04).</p>
<h3>Conclusion:</h3>
<p class="p1">Our study showed LLLT stimulated the release of IL-6 and bFGF from HSFs cultured in high glucose concentration medium. LLLT was more effective in releasing IL-6 and bFGF while HSFs which were cultured in physiologic glucose concentration medium during laser irradiation.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[doi:10.3109/14764172.2013.803366]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Effect of low-level laser therapy on the release of interleukin-6 and basic fibroblast growth factor from cultured human skin fibroblasts in normal and high glucose mediums]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Effect of low-level laser therapy on the release of interleukin-6 and basic fibroblast growth factor from cultured human skin fibroblasts in normal and high glucose mediums]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Journal of Cosmetic and Laser Therapy]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link linktype="external" url="http://informahealthcare.com/doi/abs/10.3109/14764172.2013.803366" anchor="" target="_blank" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Effect of low-level laser therapy on the release of interleukin-6 and basic fibroblast growth factor from cultured human skin fibroblasts in normal and high glucose mediums" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/c6dd030be8b7f7e6324fe98a5ff75c9e,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/b7dade2303dbd62650a5bb40b098ab5a,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>