<?xml version="1.0" encoding="utf-8"?>
<Content Key="382bb21d-f2b4-4977-8043-e44cd6630355" Alias="Effects of Superpulsed Low-level Laser Therapy on " Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EffectsOfSuperpulsedLowLevelLaserTherapyOn</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Effects of Superpulsed Low-level Laser Therapy on " />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Marini, Ida MD, DDS; Gatto, Maria Rosaria PhD; Bonetti, Giulio Alessandri MD, DDS]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[Objectives: A randomized double-blind study was conducted to compare the efficacy of superpulsed low-level laser therapy (SLLLT) with nonsteroidal anti-inflammatory drugs in the treatment of pain caused by temporomandibular joint disorders.<br />
<br />
Methods: A total of 99 patients with temporomandibular joint disorders, secondary to disc displacement without reduction or osteoarthritis were randomly divided into 3 groups. Thirty-nine patients received SLLLT in 10 sessions over 2 weeks, 30 patients received ibuprofen 800 mg twice a day for 10 days, and 30 patients received sham laser as placebo in 10 sessions over 2 weeks. Pain intensity was measured by visual analog scale at baseline, 2, 5, 10, and 15 days of treatment. Mandibular function was evaluated by monitoring active and passive mouth openings and right and left lateral motions at baseline, 15 days, and 1 month of treatment. Magnetic resonance imaging was performed at baseline and the end of therapy.<br />
<br />
Results: Mean visual analog scale pain scores in SLLLT group was significantly lower than in nonsteroidal anti-inflammatory drug group and control group (P=0.0001) from fifth day up to the end of the observation period. As for active and passive mouth openings and right and left lateral motions, superiority of SLLLT was evident 1 month after treatment (interaction time treatment, P=0.0001).<br />
<br />
Discussion: Mandibular function improved in all SLLLT patients proving the effectiveness in the treatment of pain, as demonstrated by a significant improvement in clinical signs and symptoms of temporomandibular joint disc displacement without reduction and osteoarthritis at the end of treatment and stability over a period of 1 month.<br />]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2010-11-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Clinical Journal of Pain: September 2010 - Volume 26 - Issue 7 - pp 611-616 doi: 10.1097/AJP.0b013e3181e0190d]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Effects of Superpulsed Low-level Laser Therapy on Temporomandibular Joint Pain]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Effects of Superpulsed Low-level Laser Therapy on Temporomandibular Joint Pain]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Clinical Journal of Pain:]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Effects of Superpulsed Low-level Laser Therapy on Temporomandibular Joint Pain" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/a0e90c096d8985c7fc231bbe54f01a12,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/f1b0228ae51c58d9cdbf8f4e17bf3250,umb://document/f17fda64ab51b2c20ae406b336346472,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
  </Properties>
</Content>