<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-03-14T08:03:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="907d26a5-c929-4c69-bb1d-0d0d5342d6f6">home</Template>
  </Info>
  <Properties>
    <adminNotificationEmail>
      <Value><![CDATA[corleon2000@gmail.com]]></Value>
    </adminNotificationEmail>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "key": "bfc949ab-5489-4586-89f3-0c6c93f2d619",
      "values": [
        {
          "alias": "articleList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/31523089f64848839087ef9a0b83129f"
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "showPagination",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c56fb5b8-0b89-4206-847e-a6fecd865b84",
      "key": "e378d8aa-9646-4bc4-ba92-3cc44fa3af5c",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bfc949ab-5489-4586-89f3-0c6c93f2d619",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bfc949ab-5489-4586-89f3-0c6c93f2d619",
        "contentUdi": null,
        "settingsKey": "e378d8aa-9646-4bc4-ba92-3cc44fa3af5c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <smtpEnableSsl>
      <Value><![CDATA[1]]></Value>
    </smtpEnableSsl>
    <smtpFromEmail>
      <Value><![CDATA[cs@lasertherapyu.org]]></Value>
    </smtpFromEmail>
    <smtpHost>
      <Value><![CDATA[smtp.sendgrid.net]]></Value>
    </smtpHost>
    <smtpPassword>
      <Value><![CDATA[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]]></Value>
    </smtpPassword>
    <smtpPort>
      <Value><![CDATA[587]]></Value>
    </smtpPort>
    <smtpUsername>
      <Value><![CDATA[apikey]]></Value>
    </smtpUsername>
    <socialIconLinks>
      <Value><![CDATA[]]></Value>
    </socialIconLinks>
    <stripeCurrency>
      <Value><![CDATA[usd]]></Value>
    </stripeCurrency>
    <stripePublishableKey>
      <Value><![CDATA[pk_test_51K1yt8HyBXygieFcGRjsxyEU6ulqe0ZBIVndgMIUDCcOf25avvxmp9sXui4JrkFFjYWmv3yNtBkxOajGLRLtYBeb00hjcSjHuT]]></Value>
    </stripePublishableKey>
    <stripeSecretKey>
      <Value><![CDATA[sk_test_51K1yt8HyBXygieFcdmrDUIZBN7TsPgmJgp5P4cFN8vBVOcEWeZczpsxDwGVuDJfhOn29YW1rs9EVYSI7GuSxcy5x00EzEcN3tJ]]></Value>
    </stripeSecretKey>
    <subscriptionThreeMonthPrice>
      <Value><![CDATA[]]></Value>
    </subscriptionThreeMonthPrice>
    <subscriptionTwelveMonthPrice>
      <Value><![CDATA[]]></Value>
    </subscriptionTwelveMonthPrice>
    <subtitle>
      <Value><![CDATA[For Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Starter Kit]]></Value>
    </title>
  </Properties>
</Content>