<?xml version="1.0" encoding="utf-8"?>
<Content Key="80f0d4ae-d91f-4e77-aa43-c0e1dc13d61e" Alias="In vitro analysis of bacterial morphology by atomi" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/InVitroAnalysisOfBacterialMorphologyByAtomi</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="In vitro analysis of bacterial morphology by atomi" />
    <SortOrder>151</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">de Sousa NT, Guirro RR, Santana HF, Silva CC.</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>OBJECTIVE:</h3>
<p class="p1">The objective of this study was to analyze the bacterial morphology by atomic force microscopy (AFM) after the application of low-level laser therapy (LLLT) in in vitro culture of Staphylococcus aureus ATCC 29213.</p>
<h3>BACKGROUND DATA:</h3>
<p class="p1">Infections caused by S. aureus are among the highest occurring in hospitals and can often colonize pressure ulcers. LLLT is among the methods used to accelerate the healing of ulcers. However, there is no consensus on its effect on bacteria.</p>
<h3>MATERIALS AND METHODS:</h3>
<p class="p1">After being cultivated and seeded, the cultures were irradiated using wavelengths of 660, 830, and 904 nm at fluences of 0, 1, 2, 3, 4, 5, and 16 J/cm(2). Viable cells of S. aureus strain were counted after 24 h incubation. To analyze the occurrence of morphological changes, the topographical measurement of bacterial cells was analyzed using the AFM.</p>
<h3>RESULTS:</h3>
<p class="p1">The overall assessment revealed that the laser irradiation reduced the S. aureus growth using 830 and 904 nm wavelengths; the latter with the greatest inhibition of the colony-forming units (CFU/mL) (331.1&plusmn;38.19 and 137.38&plusmn;21.72). Specifically with 660 nm, the statistical difference occurred only at a fluence of 3 J/cm(2). Topographical analysis showed small changes in morphological conformity of the samples tested.</p>
<h3>CONCLUSIONS:</h3>
<p class="p1">LLLT reduced the growth of S. aureus with 830 and 904 nm wavelengths, particularly with 904 nm at a fluence of 3 J/cm(2), where the greatest topographical changes of the cell structure occurred.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2012-05-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Laser Surg. 2012 May;30(5):281-5. Epub 2012 Apr 17.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[In vitro analysis of bacterial morphology by atomic force microscopy of low level laser therapy 660, 830 and 904 nm.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[In vitro analysis of bacterial morphology by atomic force microscopy of low level laser therapy 660, 830 and 904 nm.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Laser Surg.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "In vitro analysis of bacterial morphology by atomic force microscopy of low level laser therapy 660, 830 and 904 nm." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/c6dd030be8b7f7e6324fe98a5ff75c9e,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/5e83787cb163a6e9646affb57308f615,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/10ce61769a57d12205dcba1ba38c62cd,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>