<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7b9f4f3-fc68-4289-b18e-1266192f4cb4" Alias="Is Low-Level Laser Therapy an Effective Treatment " Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/IsLowLevelLaserTherapyAnEffectiveTreatment</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Is Low-Level Laser Therapy an Effective Treatment " />
    <SortOrder>155</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Adriana S. Ruiz, John Cavenagh, PhD, PA-C]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>OBJECTIVE:</h3>
<p>The objective of this selective EBM review is to determine whether or not low-level laser therapy is an effective treatment for patients with primary Raynaud&rsquo;s Phenomenon.</p>
<h3>STUDY DESIGN:</h3>
<p>Review of three randomized, double blind, placebo controlled trials, published between 2002-2004.</p>
<h3>DATA SOURCES:</h3>
<p>Randomized, double blind clinical trials comparing low-level laser therapy with a placebo treatment were found using the Cochrane databases, and PubMed.</p>
<h3>OUTCOME MEASURED:</h3>
<p>Reduction in frequency and severity of Raynaud&rsquo;s attacks. Outcomes were measured and recorded with daily diaries of attacks before and after the intervention, and thermographic studies.</p>
<h3>RESULTS:</h3>
<p>Three RCTs were included in this review. The RCT by Hirschl et al. 2002, showed a decrease in frequency of attacks from 0.86 to 0.67 with the laser therapy, which was more than with the sham treatment, but not statistically significant. It was, however, significant in lowering the intensity of attacks. The RCT by Hirschl et al. 2004 showed that both the number of attacks and their intensity were significantly reduced during the period of laser therapy compared to the sham treatment. Intensity of attacks was reduced 82% with laser therapy. The RCT by Al-Awami et al. 2004, also showed a statistically significant improvement in both frequency and intensity of attacks.</p>
<h3>CONCLUSIONS:</h3>
<p>All three RCTs showed that low level laser therapy decreased the frequency or intensity of Raynaud&rsquo;s attacks more effectively than when exposed to a sham treatment, and it seems to be an option for treating these attacks. Further studies should be conducted to understand the pathogenetic mechanism of LLLT on Raynaud&rsquo;s phenomenon and it&rsquo;s place in treatment.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2012-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Is Low-Level Laser Therapy an Effective Treatment for Patients with Primary Raynaud’s Phenomenon]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Is Low-Level Laser Therapy an Effective Treatment for Patients with Primary Raynaud’s Phenomenon]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[PCOM PHYSICIAN ASSISTANT STUDIES STUDENT SCHOLARSHIP]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link url="http://digitalcommons.pcom.edu/pa_systematic_reviews/90/" linktype="external" id="" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Is Low-Level Laser Therapy an Effective Treatment for Patients with Primary Raynaud’s Phenomenon?" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/ab2546c43a72f68338ee032ba1ba63fa,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/7f6a61155cd4a172328a5b773620a6cd,umb://document/da1bf14fc74d4306223f7db5b8a1ce56,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/131da8f92bcc398dc7f75e9ca47bc197,umb://document/b5e1aecbf44bc8530c0ac5680f09ed67,umb://document/3be3ac3c92eeda637c7e4c5bc6722c41,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6]]></Value>
    </tags>
  </Properties>
</Content>