<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dfcf809-c036-4a1f-a890-709a7c72a1c5" Alias="Laser Treatment Application-Stellate Ganglion" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/LaserTreatmentApplicationStellateGanglion</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="Laser Treatment Application-Stellate Ganglion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2018-09-12T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Stellate ganglion block can be used as a systemic pain treatment form many types of conditions.  It is located at the level of C7 (7th cervical vertebrae), anterior to the transverse process of C7, anterior to the neck of the first rib, and just below the subclavian artery, and is treated bilaterally.\nIf using the probe point it directly at the anterior TP of C7/T1 .  Palpate the TP of C7/T1 and point the probe from the anterior towards your finger tip that is on C7/T1.   This is above the medial collar bone and the stop of the sternum."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[1:07]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[umb://document/759e6aed45539e56514a31081dcb9da9,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/33c524ee090fae02676214ffd789067b,umb://document/692907e2e5d67028187797318a00e61b,umb://document/9e97a16b98e1863d6ae9848b1caacce4,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Laser Treatment Application-Stellate Ganglion]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-16822452" name="vzvd-16822452" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/16822452/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>