<?xml version="1.0" encoding="utf-8"?>
<Content Key="79e5c2b0-80c6-4cd2-9be3-235781d71ac5" Alias="Laser therapy in physical medicine" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LaserTherapyInPhysicalMedicine</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Laser therapy in physical medicine" />
    <SortOrder>158</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Boguslaw Kurkus, Wlodzislaw Kuliński</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<p class="p1">discusses the characteristics of laser radiation and the types of lasers used for stimulation.&nbsp;Technical Parameters of pulsed lasers and laser continuous operation, including a comparison of the radiation pulse energy dependency and continued with the same average power and frequency.&nbsp;Discussed the phase response of the body to laser radiation and do practical how to select and specify the parameters of the operation.&nbsp;This section gives a laser therapy is associated with the magnetic field and the mechanism of the interaction of magnetic and laser tissue.&nbsp;Given indications and contraindications of laser therapy.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Borgis - Polish Balneology 3-4/2005, pp. 76-83]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Laser therapy in physical medicine]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Laser therapy in physical medicine]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Polish Balneology]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link linktype="external" url="http://www.czytelniamedyczna.pl/395,laseroterapia-w-medycynie-fizykalnej.html" anchor="" target="_blank" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Laser therapy in physical medicine" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/e1c2353e61d08d74757cffe8975bd683,umb://document/f3098889f94a6afb605ad06444125848,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/7eb7047a95511ca8e9a081c36e14eb4c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>