<?xml version="1.0" encoding="utf-8"?>
<Content Key="61d28d6d-472d-460e-9a72-98d7b965b3b7" Alias="Laser Therapy Resesarch" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LaserTherapyResesarch</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Laser Therapy Resesarch" />
    <SortOrder>186</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Donald E. Hudson,&nbsp;BSEE,&nbsp;Doreen O. Hudson,&nbsp;BS, CET,&nbsp;James M. Wininger,&nbsp;BSEE, and&nbsp;Brian D. Richardson,&nbsp;BA, JD</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">The purpose of this study was to compare the penetration of 808 and 980 nm laser light through bovine tissue samples 18&ndash;95 mm thick.</p>
<h3>Background data:</h3>
<p class="p1">Low-level laser therapy (LLLT) is frequently used to treat musculoskeletal pathologies. Some of the therapeutic targets are several centimeters deep.</p>
<h3>Methods:</h3>
<p class="p1">Laser light at 808 and 980 nm (1 W/cm<sup>2</sup>) was projected through bovine tissue samples ranging in thickness from 18 to 95 mm. Power density measurements were taken for each wavelength at the various depths.</p>
<h3>Results:</h3>
<p class="p1">For 808 nm, 1 mW/cm<sup>2</sup>&nbsp;was achieved at 3.4 cm, but for 980 nm, 1 mW/cm<sup>2</sup>&nbsp;was achieved at only 2.2 cm depth of tissue.</p>
<h3>Conclusions:</h3>
<p class="p1">It was determined that 808 nm of light penetrates as much as 54% deeper than 980 nm light in bovine tissue.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-04-08T14:43:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Donald E. Hudson, Doreen O. Hudson, James M. Wininger, and Brian D. Richardson. Photomedicine and Laser Surgery. April 2013, 31(4): 163-168. doi:10.1089/pho.2012.3284.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Penetration of Laser Light at 808 and 980 nm in Bovine Tissue Samples]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Laser Therapy Resesarch]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomedicine and Laser Surgery]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Penetration of Laser Light at 808 and 980 nm in Bovine Tissue Samples" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/98caedba46f03f6f98ee602c84290e20,umb://document/191629759db54314136fdb7885d20d7c,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>