<?xml version="1.0" encoding="utf-8"?>
<Content Key="2195e3b6-d23a-49e0-8c26-2dbb7b800a1b" Alias="Laser Therapy - A Practical Introduction to Laser Principles &amp; Protocols" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/LaserTherapyAPracticalIntroductionToLaserPrinciplesProtocols</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="Laser Therapy - A Practical Introduction to Laser Principles &amp; Protocols" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2015-11-18T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EJoin Dr. Chris Carraway, as he reviews some basics of Low Level Laser Therapy, for understanding the mechanism of action for practical use from a clinician\u0026rsquo;s point of view. Review of common protocol for use of the Priority Principle and its application in laser treatment.\u003C/p\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[{0F7D3308-67DC-4237-B6DD-3296AF91C27A}]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Laser Therapy - A Practical Introduction to Laser Principles &amp; Protocols]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="336" id="vzvd-1363654" mozallowfullscreen name="vzvd-1363654" src="https://view.vzaar.com/1363654/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="448"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>