<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc55e40a-c056-4afd-9323-acf24696447b" Alias="LOW LEVEL LASER THERAPY FOR PAINFUL JOINTS; REVIEW" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LOWLEVELLASERTHERAPYFORPAINFULJOINTSREVIEW</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="LOW LEVEL LASER THERAPY FOR PAINFUL JOINTS; REVIEW" />
    <SortOrder>161</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">MOMENZADEH SIROUS*</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<p class="p1">Low Level Laser Therapy (LLLT) uses a light source that generates extremely pure light, of a single wavelength1. The effect is not thermal, but rather related to photochemical reactions in the cells. LLLT was introduced as an alternative non-invasive treatment for OA about 10 years ago, but its effectiveness is still controversial2. A Cochrane review of LLLT in osteoarthritis included five trials, and concluded that despite some positive findings, the meta-analysis lacked data on how LLLT effectiveness was affected by the important factors of wavelength, treatment duration of LLLT, dosage, and site of application over nerves instead of joints1, 3, 4, 5, 6, 7. A different review2 addresses some of these issues in a wider range of trials, and is broadly positive, if limited by numbers.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-06-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[JOURNAL OF LASERS IN MEDICAL SCIENCES; SPRING 2013; 4(2);67-69.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[LOW LEVEL LASER THERAPY FOR PAINFUL JOINTS; REVIEW ARTICLE]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[LOW LEVEL LASER THERAPY FOR PAINFUL JOINTS; REVIEW ARTICLE]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[JOURNAL OF LASERS IN MEDICAL SCIENCES]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link linktype="external" url="http://www.sid.ir/En/VEWSSID/J_pdf/1019120130207.pdf" anchor="" target="_blank" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "LOW LEVEL LASER THERAPY FOR PAINFUL JOINTS; REVIEW ARTICLE" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/71fe4c438ef7af318eb86d2d370b086b,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/1d73d9d829a186e168d85fe52d047e19,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>