<?xml version="1.0" encoding="utf-8"?>
<Content Key="f34e4370-a40d-4d02-9a91-26b018ccb7f5" Alias="Low level laser therapy in treatment of stress fra" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LowLevelLaserTherapyInTreatmentOfStressFra</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Low level laser therapy in treatment of stress fra" />
    <SortOrder>162</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Surg Lt Cdr Ashutosh Chauhan, Surg Capt P Sarin</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Background:</h3>
<p class="p1">Standard treatment of Stress fracture includes rest, compression, elevation and passive stretching. Low level laser therapy (LLLT) has been described in treatment of joint conditions, tendophaties, musculofascial pains and dermatological conditions. A prospective randomized control study was carried out to assess efficacy of LLLT in treatment of stress fractures in tibia.</p>
<h3>Method:</h3>
<p class="p1">68 cases were enrolled. 34 each in control and test group. Control cases were treated with placebo and test group with laser-therapy. Complete resolution of pain and tenderness, and return to painless ambulation was taken as end point of therapy in both groups.</p>
<h3>Result:</h3>
<p class="p1">The test group showed earlier resolution of symptoms and painless ambulation with fewer recurrence.</p>
<h3>Conclusion:</h3>
<p class="p1">LLLT appears beneficial in treatment of stress fracture in this preliminary study. A larger multicentric study is indicated to prove the benefit conclusively.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2006-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Medical Journal Armed Forces India Volume 62, Issue 1 , Pages 27-29, January 2006]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Low level laser therapy in treatment of stress fractures tibia: A prospective randomized trial]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Low level laser therapy in treatment of stress fractures tibia: A prospective randomized trial]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Medical Journal Armed Forces India]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link linktype="external" url="http://www.mjafi.net/article/S0377-1237%2806%2980148-6/abstract" anchor="" target="_blank" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Low level laser therapy in treatment of stress fractures tibia: A prospective randomized trial" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/682798eb9fe447c9896adedd3eba3575,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/191629759db54314136fdb7885d20d7c,umb://document/3e8e0bd660868318a0e9079d0f6e3b0a,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>