<?xml version="1.0" encoding="utf-8"?>
<Content Key="a63d1b62-6d59-4e96-b96c-28ca404f759f" Alias="Low-level laser therapy for zymosan-induced arthri" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LowLevelLaserTherapyForZymosanInducedArthri</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Low-level laser therapy for zymosan-induced arthri" />
    <SortOrder>172</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Castano AP, Dai T, Yaroslavsky I, Cohen R, Apruzzese WA, Smotrich MH, Hamblin MR.</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>BACKGROUND:</h3>
<p class="p1">It has been proposed for many years that low-level laser (or light) therapy (LLLT) can ameliorate the pain, swelling, and inflammation associated with various forms of arthritis. Light is thought to be absorbed by mitochondrial chromophores leading to an increase in adenosine triphosphate (ATP), reactive oxygen species and/or cyclic AMP production and consequent gene transcription via activation of transcription factors. However, despite many reports about the positive effects of LLLT in arthritis and in medicine in general, its use remains controversial. For all indications (including arthritis) the optimum optical parameters have been difficult to establish and so far are unknown.</p>
<h3>METHODS:</h3>
<p class="p1">We tested LLLT on rats that had zymosan injected into their knee joints to induce inflammatory arthritis. We compared illumination regimens consisting of a high and low fluence (3 and 30 J/cm(2)), delivered at high and low irradiance (5 and 50 mW/cm(2)) using 810-nm laser light daily for 5 days, with the positive control of conventional corticosteroid (dexamethasone) therapy.</p>
<h3>RESULTS:</h3>
<p class="p1">Illumination with 810-nm laser was highly effective (almost as good as dexamethasone) at reducing swelling and a longer illumination time (10 or 100 minutes compared to 1 minute) was more important in determining effectiveness than either the total fluence delivered or the irradiance. LLLT induced reduction of joint swelling correlated with reduction in the inflammatory marker serum prostaglandin E2 (PGE2).</p>
<h3>CONCLUSION:</h3>
<p class="p1">LLLT with 810-nm laser is highly effective in treating inflammatory arthritis in this model. Longer illumination times were more effective than short times regardless of total fluence or irradiance. These data will be of value in designing clinical trials of LLLT for various arthritides.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2007-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Lasers Surg Med. 2007 Jul;39(6):543-50.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Low-level laser therapy for zymosan-induced arthritis in rats: Importance of illumination time.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Low-level laser therapy for zymosan-induced arthritis in rats: Importance of illumination time.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Lasers Surg Med]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Low-level laser therapy for zymosan-induced arthritis in rats: Importance of illumination time." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/d789e26165c6cc2789073aa3529e128a,umb://document/74116831414d15707446c838f054356f,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/191629759db54314136fdb7885d20d7c,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>