<?xml version="1.0" encoding="utf-8"?>
<Content Key="1334b332-94bd-449c-8d12-45d676d3aca8" Alias="Low Level Laser in Modern Dentistry" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/LowLevelLaserInModernDentistry</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T17:46:10</CreateDate>
    <NodeName Default="Low Level Laser in Modern Dentistry" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2016-10-27T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "The thought of visiting the your dentist does not often bring a smile to one\u0027s face. \u0026nbsp;However, there have been recent advancements utilizing therapeutic lasers, that in some cases reduce the discomfort of a dentist visit and increase a patient\u0027s recovery time. \u0026nbsp; \u003Cbr /\u003E\n\u003Cbr /\u003E\nJoin Dr. Chris Carraway and his special guest speaker Dr. Gerald Ross as they discuss Low Level Laser in Dentistry . \u003Cbr /\u003E\n\u003Cbr /\u003E\nDr. Ross will be introducing us to some of these new advancements and discussing what the Dentist\u0027s office can provide with the addition of Laser Therapy."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[60:24]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[29.95]]></Value>
    </price>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[umb://document/6e71272e3e8542cb379242c2e60c6aa4,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/e45b1cc5a5673d0c483f13c97ec9c84f,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/c6b4a9da28212d79802fddc91cdcc951,umb://document/00755e20a429bcf272d87201f86ef41c,umb://document/f1b0228ae51c58d9cdbf8f4e17bf3250,umb://document/f17fda64ab51b2c20ae406b336346472,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Low Level Laser in Modern Dentistry]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-8510544" name="vzvd-8510544" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="435" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/8510544/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>