<?xml version="1.0" encoding="utf-8"?>
<Content Key="b717f3c6-086e-4c68-bb96-df1582d564eb" Alias="NAALT Interview with Terrance Baker" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTInterviewWithTerranceBaker</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="NAALT Interview with Terrance Baker" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-11T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dr. Christopher Carraway of LTU, interviews Terry Baker MD, MS, Family Medicine Physician and Vice President of NAALT, at the NAALT/WALT joint meeting in Washington DC, September 2014.\u0026nbsp; Briefly reviews the conference and pre-conference workshop where they together presented on Integrating Laser into Your Practice.\u0026nbsp; Dr. Baker is the founder and CEO of Sollay Inc.- Medical Therapeutic Laser Practice in Baltimore Maryland"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[3:02]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT Interview with Terrance Baker]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2108634" mozallowfullscreen name="vzvd-2108634" src="//view.vzaar.com/2108634/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>