<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f871750-c7c6-4a3c-a652-13c5f4a77c80" Alias="NAALT/WALT 2014 Presentation-LLLT in Veterinary Practice" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationLLLTInVeterinaryPractice</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-LLLT in Veterinary Practice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-09T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ERonald Hirschberg, DVM speaks at the 2014 NAALT/WALT combined conference in Washington, DC on: LLLT in Veterinary Practice-Clinical Applications, Finances, Evidence Based Medicine-How it all fits together.\u003C/p\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[46:18]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{07BDB90F-286D-4F57-B836-9E7D51584F48}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-LLLT in Veterinary Practice]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2437826" mozallowfullscreen name="vzvd-2437826" src="//view.vzaar.com/2437826/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>