<?xml version="1.0" encoding="utf-8"?>
<Content Key="890551c7-cd60-434e-a374-28b1bd8647d3" Alias="NAALT Interview with Richard Godine" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTInterviewWithRichardGodine</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="NAALT Interview with Richard Godine" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-11T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dr. Christopher Carraway of LTU, interviews Richard Godine, DVM-Director of Ruckersville Animal Hospital \u0026amp; Laser Center at the NAALT/WALT joint meeting in Washington, DC September 2014.\u0026nbsp; Dr. Godine is the former president of NAALT and speaks about the importance of networking within the conference downtime, for clinicians and researchers dialogue to keep things moving forward.\u0026nbsp;"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[3:20]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT Interview with Richard Godine]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2108227" mozallowfullscreen name="vzvd-2108227" src="//view.vzaar.com/2108227/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>