<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0d07ece-6c6c-4d63-9fdb-496c6b245033" Alias="NAALT/WALT 2014 Presentation-Impact of Critical Laser and Optical Radiation Characteristics on the Efficacy of Light Tissue Interactions" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationImpactOfCriticalLaserAndOpticalRadiationCharacteristicsOnTheEfficacyOfLightTissueInteractions</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-Impact of Critical Laser and Optical Radiation Characteristics on the Efficacy of Light Tissue Interactions" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-10T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIlko Ilev, PhD of the U.S.-FDA speaks at the 2014 NAALT/WALT combined conference in Washington, DC on the Impact of Critical Laser and Optical Radiation Characteristics on the Efficacy of Light-Tissue Interactions in Novel Therapeutic Technologies and Medical Devices.\u003C/p\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[50:31]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{557F9F12-A49C-45F1-B02A-4C66BD09B8F2}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-Impact of Critical Laser and Optical Radiation Characteristics on the Efficacy of Light Tissue Interactions]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2439859" mozallowfullscreen name="vzvd-2439859" src="//view.vzaar.com/2439859/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>