<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f7c637a-8236-4596-a569-48a9e1a19d16" Alias="NAALT/WALT 2014 Presentation-Stimulation of Cognitive Brain Functions with Transcranial Near-Infrared Lasers and LED's" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationStimulationOfCognitiveBrainFunctionsWithTranscranialNearInfraredLasersAndLEDs</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T17:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-Stimulation of Cognitive Brain Functions with Transcranial Near-Infrared Lasers and LED's" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-09T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Francisco Gonzalez-Lima, PhD speaks at the 2014 NAALT/WALT combined conference in Washington, DC on Stimulation of Cognitive Brain Functions with Transcranial Near-Infrared Lasers and LED\u0027s."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[22:58]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{18830CD0-1A91-4E73-B50B-0901C2E156BC}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-Stimulation of Cognitive Brain Functions with Transcranial Near-Infrared Lasers and LED&#x27;s]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2440832" mozallowfullscreen name="vzvd-2440832" src="//view.vzaar.com/2440832/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>