<?xml version="1.0" encoding="utf-8"?>
<Content Key="9465b131-b8f6-46a4-81d4-d2db88f3ce2a" Alias="Postherpetic Neuralgia Case Study of Class 4 Lase" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/PostherpeticNeuralgiaCaseStudyOfClass4Lase</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Postherpetic Neuralgia Case Study of Class 4 Lase" />
    <SortOrder>187</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Knapp, Daniel J. DC</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">Postherpetic neuralgia (PHN) is a neuropathic sequelae in 8% to 27% of individuals with prior varicella zoster virus infection and herpes zoster resulting in retrograde demyelination, neurotoxic reactive oxygen species levels, and proinflammatory cytokine activation of microglia. Pain management strategies are well documented, but not always effective. Laser therapy has shown utility in nerve injury-related pain disorders and was considered a potentially efficacious intervention.</p>
<h3>Design:</h3>
<p class="p1">Case report.</p>
<h3>Methods:</h3>
<p class="p1">Class 4 therapeutic laser treatment was applied with a dual wavelength GaAlAs (810 nm), GaAl (980 nm) laser, 2 to 4 W, 50% duty cycle, 10 Hz pulse active phase, 2.5 cm diameter aperture, scanning technique with skin contact, 10-minute treatment, 600 to 1200 J total, energy density of 3.5 to 7.1 J/cm2 average per session, and power density from 0.41 to 0.82 W/cm2 for 8 treatments. Outcome measures included the Neuropathy Pain Scale Questionnaire as the primary outcome measure, with the Numeric Pain Scale and total area of allodynia touch sensitivity as secondary outcome measurements.</p>
<h3>Results:</h3>
<p class="p1">The author reports a case of PHN of 15-year duration resistant to prior interventions. Weekly laser therapy treatment over 8 weeks resulted in reduced 0 to 10 Numeric Pain Scale score from 8 to 0, Neuropathy Pain Scale Questionnaire total score from 39 to 4, and allodynia over a 60 cm2 surface area of the upper trunk and posterior arm totally resolved, with resolution continued at 14-month follow-up.</p>
<h3>Discussion:</h3>
<p class="p1">Theoretically, laser therapy induced tissue changes in this case occurring at and below the skin surface altering inflammatory and excitatory peripheral mechanisms noted to take place in the PHN patient. Peripheral nociceptor firing must be brought back to normal thresholds to resolve such chronic neuropathic pain and inhibit the possible central sensitization component. Anti-inflammatory cytokines, growth factors, nitric oxide, adenosine triphosphate (ATP), and other mechanisms stimulated by laser therapy as noted in medical literature may be central to the favorable response seen in this patient. Controlled clinical trials of class 4 laser therapy in the PHN patient population with similar doses would be beneficial to determine if this is an effective treatment option in PHN.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[doi: 10.1097/AJP.0b013e31828b8ef8]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Postherpetic Neuralgia: Case Study of Class 4 Laser Therapy Intervention]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Postherpetic Neuralgia: Case Study of Class 4 Laser Therapy Intervention]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Clinical Journal of Pain]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Postherpetic Neuralgia: Case Study of Class 4 Laser Therapy Intervention" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/c89dc2d60a0f68eaa4ceb026cd5545ec,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/4495ec81df86471393481e1b1784dfea,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/bf8a8f93abf67e5546286a6eb69c37d8,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/7eb7047a95511ca8e9a081c36e14eb4c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/1a034c608556b269dfaf665dd886595f]]></Value>
    </tags>
  </Properties>
</Content>