<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1fd789b-6253-49ad-a6da-9faa9d223ce2" Alias="Skin Penetration Time-Profiles for Continuous 810n" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/SkinPenetrationTimeProfilesForContinuous810n</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Skin Penetration Time-Profiles for Continuous 810n" />
    <SortOrder>193</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Jon Joensen, Knut &Oslash;vsthus, Rolf K. Reed, Steinar Hummelsund, Vegard V. Iversen, Rodrigo &Aacute;lvaro Brand&atilde;o Lopes-Martins, and Jan Magnus Bjordal. <br />]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">The purpose of this study was to investigate the rat skin penetration abilities of two commercially available low-level laser therapy (LLLT) devices during 150sec of irradiation.</p>
<h3>Background data:</h3>
<p class="p1">Effective LLLT irradiation typically lasts from 20sec up to a few minutes, but the LLLT time-profiles for skin penetration of light energy have not yet been investigated.</p>
<h3>Materials and methods:</h3>
<p class="p1">Sixty-two skin flaps overlaying rat's gastrocnemius muscles were harvested and immediately irradiated with LLLT devices. Irradiation was performed either with a 810nm, 200mW continuous wave laser, or with a 904nm, 60mW superpulsed laser, and the amount of penetrating light energy was measured by an optical power meter and registered at seven time points (range, 1&ndash;150sec).</p>
<h3>Results:</h3>
<p class="p1">With the continuous wave 810nm laser probe in skin contact, the amount of penetrating light energy was stable at 20% (SEM&plusmn;0.6) of the initial optical output during 150sec irradiation. However, irradiation with the superpulsed 904nm, 60mW laser showed a linear increase in penetrating energy from 38% (SEM&plusmn;1.4) to 58% (SEM&plusmn;3.5) during 150sec of exposure. The skin penetration abilities were significantly different (p&lt;0.01) between the two lasers at all measured time points.</p>
<h3>Conclusions:</h3>
<p class="p1">LLLT irradiation through rat skin leaves sufficient subdermal light energy to influence pathological processes and tissue repair. The finding that superpulsed 904nm LLLT light energy penetrates 2&ndash;3 easier through the rat skin barrier than 810nm continuous wave LLLT, corresponds well with results of LLLT dose analyses in systematic reviews of LLLT in musculoskeletal disorders. This may explain why the differentiation between these laser types has been needed in the clinical dosage recommendations of World Association for Laser Therapy.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2012-12-30T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomedicine and Laser Surgery. December 2012, 30(12): 688-694. doi:10.1089/pho.2012.3306.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Skin Penetration Time-Profiles for Continuous 810nm and Superpulsed 904nm Lasers in a Rat Model]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Skin Penetration Time-Profiles for Continuous 810nm and Superpulsed 904nm Lasers in a Rat Model]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomedicine and Laser Surgery]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Skin Penetration Time-Profiles for Continuous 810nm and Superpulsed 904nm Lasers in a Rat Model" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/7eb7047a95511ca8e9a081c36e14eb4c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>