<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7c88c8b-2b78-43fa-881f-f68961495ecb" Alias="Success" Level="3">
  <Info>
    <Parent Key="7a6f2dd4-2f6e-4db9-8c03-7624dbf90f7b">Subscriptions</Parent>
    <Path>/Home/Subscriptions/Success</Path>
    <Trashed>false</Trashed>
    <ContentType>subscriptionsSuccessPage</ContentType>
    <CreateDate>2026-03-12T20:20:00</CreateDate>
    <NodeName Default="Success" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f84dd6a8-f117-4d6a-8c5e-1c08980d0264">subscriptionsSuccessPage</Template>
  </Info>
  <Properties>
    <hideFromTopNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Subscription Payment Success]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>