<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce64c473-9214-42ec-85af-4f9330352ba7" Alias="Superpulsed laser irradiation increases osteoblast" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/SuperpulsedLaserIrradiationIncreasesOsteoblast</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="Superpulsed laser irradiation increases osteoblast" />
    <SortOrder>194</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Saracino S, Mozzati M, Martinasso G, Pol R, Canuto RA, Muzio G.]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>BACKGROUND AND OBJECTIVE:</h3>
<p class="p1">Laser therapy is a new approach applicable in different medical fields when bone loss occurs, including orthopedics and dentistry. It has also been used to induce soft-tissue healing, for pain relief, bone, and nerve regeneration. With regard to bone synthesis, laser exposure has been shown to increase osteoblast activity and decrease osteoclast number, by inducing alkaline phosphatase (ALP), osteopontin, and bone sialoprotein expression. Studies have investigated the effects of continuous or pulsed laser irradiation, but no data are yet available on the properties of superpulsed laser irradiation. This study thus aimed to investigate the effect of superpulsed laser irradiation on osteogenic activity of human osteoblast-like cells, paying particular attention to investigating the molecular mechanisms underlying the effects of this type of laser radiation.</p>
<h3>STUDY DESIGN/MATERIALS AND METHODS:</h3>
<p class="p1">Human osteoblast-like MG-63 cells were exposed to 3, 7, or 10 superpulsed laser irradiation (pulse width 200 nanoseconds, minimum peak power 45 W, frequency 30 kHz, total energy 60 J, exposure time 5 minutes). The following parameters were evaluated: cell growth and viability (light microscopy, lactate dehydrogenase release), calcium deposits (Alizarin Red S staining), expression of bone morphogenetic factors (real-time PCR).</p>
<h3>RESULTS:</h3>
<p class="p1">Superpulsed laser irradiation decreases cell growth, induces expression of TGF-beta2, BMP-4, and BMP-7, type I collagen, ALP, and osteocalcin, and increases the size and the number of calcium deposits. The stimulatory effect is maximum on day 10, that is, after seven applications.</p>
<h3>CONCLUSIONS:</h3>
<p class="p1">Reported results show that superpulsed laser irradiation, like the continuous and pulsed counterparts, possesses osteogenic properties, inducing the expression of molecules known to be important mediators of bone formation and, as a consequence, increasing calcium deposits in human MG-63 cells. Moreover, the data suggest a new potential role for PPARgamma as a regulator of osteoblast proliferation.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2009-04-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Superpulsed laser irradiation increases osteoblast activity via modulation of bone morphogenetic factors]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Superpulsed laser irradiation increases osteoblast activity via modulation of bone morphogenetic factors]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Superpulsed laser irradiation increases osteoblast activity via modulation of bone morphogenetic factors]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Lasers Surg Med.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Superpulsed laser irradiation increases osteoblast activity via modulation of bone morphogenetic factors." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/191629759db54314136fdb7885d20d7c,umb://document/682798eb9fe447c9896adedd3eba3575,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/01811e0db97c2fc0c260bc4dd0258279,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>