<?xml version="1.0" encoding="utf-8"?>
<Content Key="86bc123a-e50d-43bc-b0e3-ac4ac31d9d01" Alias="Super Pulsed Laser for troublesome Shoulders " Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/SuperPulsedLaserForTroublesomeShoulders</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T17:46:10</CreateDate>
    <NodeName Default="Super Pulsed Laser for troublesome Shoulders " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2019-04-25T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "This month we\u0026rsquo;ll delve in to differential diagnosis of some of the more common shoulder conditions. We\u0026rsquo;ll discuss trouble shooting chronic shoulder complaints, as well as offer some unique case management tips.\nFrom biceps tendonitis to biceps tendinosis (and there is a difference); Rotator cuff tears to the dreaded SLAP Lesion; from rehabbing shoulders to a higher pain-free function, to managing cases that required surgical repair.  We will break down the application of laser therapy and Priority Principle for these and many others.\nJoin Dr. Chris Carraway and Dr. Patrick Starkey as they share their clinical experiences and laser therapy tips for superior outcomes."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[1-2 pm EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[29.95]]></Value>
    </price>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[umb://document/ab2546c43a72f68338ee032ba1ba63fa,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/e45b1cc5a5673d0c483f13c97ec9c84f,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/c6b4a9da28212d79802fddc91cdcc951,umb://document/3be3ac3c92eeda637c7e4c5bc6722c41,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/e1c2353e61d08d74757cffe8975bd683,umb://document/f3098889f94a6afb605ad06444125848,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Super Pulsed Laser for troublesome Shoulders ]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-20214214" name="vzvd-20214214" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/20214214/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>