<?xml version="1.0" encoding="utf-8"?>
<Content Key="17a6e676-7e54-4259-82a9-f22162d74caa" Alias="The Thermal Effects of Therapeutic Lasers with 810" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/TheThermalEffectsOfTherapeuticLasersWith810</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="The Thermal Effects of Therapeutic Lasers with 810" />
    <SortOrder>201</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Jon Joensen, Jan Hendrik Demmink, Mark I. Johnson, Vegard V. Iversen, Rodrigo &Aacute;lvaro Brand&atilde;o Lopes-Martins, and Jan Magnus Bjordal.</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">To investigate the effect of therapeutic infrared class 3B laser irradiation on skin temperature in healthy participants of differing skin color, age, and gender.</p>
<h3>Background:</h3>
<p class="p1">Little is known about the potential thermal effects of Low Level Laser Therapy (LLLT) irradiation on human skin.</p>
<h3>Methods:</h3>
<p class="p1">Skin temperature was measured in 40 healthy volunteers with a thermographic camera at laser irradiated and control (non-irradiated) areas on the skin. Six irradiation doses (2&ndash;12J) were delivered from a 200mW, 810nm laser and a 60mW, 904nm laser, respectively.</p>
<h3>Results:</h3>
<p class="p1">Thermal effects of therapeutic LLLT using doses recommended in the World Association for Laser Therapy (WALT) guidelines were insignificant; below 1.5&deg;C in light, medium, and dark skin. When higher irradiation doses were used, the 60mW, 904nm laser produced significantly (p&lt;0.01) higher temperatures in dark skin (5.7, SD&plusmn;1.8&deg;C at 12J) than in light skin, although no participants requested termination of LLLT. However, irradiation with a 200mW, 810nm laser induced three to six times more heat in dark skin than in the other skin color groups. Eight of 13 participants with dark skin asked for LLLT to be stopped because of uncomfortable heating. The maximal increase in skin temperature was 22.3&deg;C.</p>
<h3>Conclusions:</h3>
<p class="p1">The thermal effects of LLLT at doses recommended by WALT-guidelines for musculoskeletal and inflammatory conditions are negligible (&lt;1.5&deg;C) in light, medium, and dark skin. However, higher LLLT doses delivered with a strong 3B laser (200mW) are capable of increasing skin temperature significantly and these photothermal effects may exceed the thermal pain threshold for humans with dark skin color.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2011-03-29T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomedicine and Laser Surgery. March 2011, 29(3): 145-153. doi:10.1089/pho.2010.2793.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[The Thermal Effects of Therapeutic Lasers with 810 and 904nm Wavelengths on Human Skin]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[The Thermal Effects of Therapeutic Lasers with 810 and 904nm Wavelengths on Human Skin]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomedicine and Laser Surgery.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "The Thermal Effects of Therapeutic Lasers with 810 and 904nm Wavelengths on Human Skin" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>