<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d9bf451-2de1-4ef1-af10-af1eda636555" Alias="The low-level laser therapy on muscle injury recov" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/TheLowLevelLaserTherapyOnMuscleInjuryRecov</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T09:00:00</CreateDate>
    <NodeName Default="The low-level laser therapy on muscle injury recov" />
    <SortOrder>200</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Daniel Rodrigues dos Santos, Richard Eloin Liebano, Cristiano Schiavinato Baldan, Igor Bordello Masson, Renato Paranhos Soares, Ivaldo Esteves Junior</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<p class="p1">The muscle injury recovery process is slow and often changes the original mechanical properties of the damaged muscle. The goal of rehabilitation is to recover the muscle as fast as possible offering the lowest risk of injury recurrence. Among the available therapeutic resources, the low-level laser therapy (LLLT) has proven to be effective both in reducing the deleterious effects of the acute inflammatory response, as in the stimulation of the events involved in the repair phase of the muscle recovery process.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2010-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[J Health Sci Inst. 2010;28(3):286-8]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[The low-level laser therapy on muscle injury recovery: literature review]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[The low-level laser therapy on muscle injury recovery: literature review]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[J Health Sci Inst.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link linktype="external" url="http://www.unip.br/comunicacao/publicacoes/ics/edicoes/2010/03_jul-set/V28_n3_2010_p286-288.pdf" anchor="" target="_blank" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "The low-level lasertherapy on muscle injury recovery: literature review" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/71fe4c438ef7af318eb86d2d370b086b,umb://document/ed5e65279b576f8bdfe8fc8fc4905e94,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/3e8e0bd660868318a0e9079d0f6e3b0a,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>