<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbef854a-8980-4e02-b232-c690c9be9ea3" Alias="achilles-tendinitis-4.jpg" Level="3">
  <Info>
    <Parent Key="7660a166-ebb8-4a58-ac93-5564a08afda7">achilles-tendinitis</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinitis/achillesTendinitis4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:08</CreateDate>
    <NodeName Default="achilles-tendinitis-4.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yvhlsdpj/achilles-tendinitis-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>