<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2073633-c530-4415-aa02-130f97e2c40a" Alias="Achilles_Tendinosis1.jpg" Level="3">
  <Info>
    <Parent Key="042daf3e-27b7-4237-9920-2b6dcb44eb02">achilles-tendinosis</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinosis/Achilles_Tendinosis1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:16</CreateDate>
    <NodeName Default="Achilles_Tendinosis1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xt4ecbcz/achilles_tendinosis1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>