<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a45236a-f8a5-40c4-83bc-5887aa209ea0" Alias="Achilles-Tendinosis.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AchillesTendinosispdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:24</CreateDate>
    <NodeName Default="Achilles-Tendinosis.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xlqj05zh/achilles-tendinosis.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>