<?xml version="1.0" encoding="utf-8"?>
<Media Key="7660a166-ebb8-4a58-ac93-5564a08afda7" Alias="achilles-tendinitis" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinitis</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:20:06</CreateDate>
    <NodeName Default="achilles-tendinitis" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>