<?xml version="1.0" encoding="utf-8"?>
<Media Key="a66855e6-4416-4ee2-94f2-91e67ed64655" Alias="achilles-tendinitis-6.jpg" Level="3">
  <Info>
    <Parent Key="7660a166-ebb8-4a58-ac93-5564a08afda7">achilles-tendinitis</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinitis/achillesTendinitis6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:09</CreateDate>
    <NodeName Default="achilles-tendinitis-6.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ngpd2ed5/achilles-tendinitis-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>