<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cec0261-48ec-4c3b-8ce5-c73241978227" Alias="achilles-tendinitis-7.jpg" Level="3">
  <Info>
    <Parent Key="7660a166-ebb8-4a58-ac93-5564a08afda7">achilles-tendinitis</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinitis/achillesTendinitis7jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:07</CreateDate>
    <NodeName Default="achilles-tendinitis-7.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/31ekuouf/achilles-tendinitis-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>