<?xml version="1.0" encoding="utf-8"?>
<Media Key="81655b63-259f-424a-a0e2-b1c8009ea602" Alias="achilles-tendinitis-09.jpg" Level="3">
  <Info>
    <Parent Key="7660a166-ebb8-4a58-ac93-5564a08afda7">achilles-tendinitis</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinitis/achillesTendinitis09jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:07</CreateDate>
    <NodeName Default="achilles-tendinitis-09.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3sidgn5w/achilles-tendinitis-09.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>