<?xml version="1.0" encoding="utf-8"?>
<Media Key="719d9041-fe2d-4103-98f9-95422d02f65a" Alias="Achilles-Tendinitis.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AchillesTendinitispdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:25</CreateDate>
    <NodeName Default="Achilles-Tendinitis.pdf" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sfjflffp/achilles-tendinitis.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>