<?xml version="1.0" encoding="utf-8"?>
<Media Key="042daf3e-27b7-4237-9920-2b6dcb44eb02" Alias="achilles-tendinosis" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/achillesTendinosis</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:20:16</CreateDate>
    <NodeName Default="achilles-tendinosis" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>