<?xml version="1.0" encoding="utf-8"?>
<Media Key="efee11c9-f60e-43c4-9d72-5e6c9f2c8865" Alias="Acute-Ankle-Sprain---ACTIV.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AcuteAnkleSprainACTIVpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:24</CreateDate>
    <NodeName Default="Acute-Ankle-Sprain---ACTIV.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhjdmcum/acute-ankle-sprain-activ.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>