<?xml version="1.0" encoding="utf-8"?>
<Media Key="914d32fe-2f8d-45d7-871a-6c6bd9479c80" Alias="Acute-Ankle-Sprain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AcuteAnkleSprainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:24</CreateDate>
    <NodeName Default="Acute-Ankle-Sprain.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1yik3ap/acute-ankle-sprain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>