<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a949698-c9b6-4237-8de9-1e317632da73" Alias="acute-ankle-sprain-activ-12.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv12jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:32</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-12.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c3onf1g5/acute-ankle-sprain-activ-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>