<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a64cf7b-f18a-4d87-b39e-6b854cb0f975" Alias="Acute-Inflammation---ACTIV.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AcuteInflammationACTIVpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:23</CreateDate>
    <NodeName Default="Acute-Inflammation---ACTIV.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vmgly1yi/acute-inflammation-activ.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>