<?xml version="1.0" encoding="utf-8"?>
<Media Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c" Alias="acute-ankle-sprain-activ" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:20:29</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>