<?xml version="1.0" encoding="utf-8"?>
<Media Key="eba85b51-4828-4ca7-a81a-b624d4884798" Alias="AcuteAnkleSprainACTIV2.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/AcuteAnkleSprainACTIV2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:32</CreateDate>
    <NodeName Default="AcuteAnkleSprainACTIV2.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/10ip2xkb/acuteanklesprainactiv2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>