<?xml version="1.0" encoding="utf-8"?>
<Media Key="332d45bf-e9cb-4b75-8e05-186667137da3" Alias="acute-ankle-sprain-activ-01.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:29</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gchhxbnc/acute-ankle-sprain-activ-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>