<?xml version="1.0" encoding="utf-8"?>
<Media Key="05d65386-c537-463b-ae03-d8fb0e906144" Alias="Acute-Inflammation.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AcuteInflammationpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:24</CreateDate>
    <NodeName Default="Acute-Inflammation.pdf" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k0ib3yfv/acute-inflammation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>