<?xml version="1.0" encoding="utf-8"?>
<Media Key="e212b407-510a-48f7-a2e2-17f44c7221b6" Alias="AcuteAnkleSprainACTIV1.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/AcuteAnkleSprainACTIV1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:31</CreateDate>
    <NodeName Default="AcuteAnkleSprainACTIV1.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rb5fivdd/acuteanklesprainactiv1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>