<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6fb41cf-e4d5-4963-9c84-a6d226e067aa" Alias="acute-ankle-sprain-activ-05.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv05jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:30</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-05.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/icfl02f2/acute-ankle-sprain-activ-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>