<?xml version="1.0" encoding="utf-8"?>
<Media Key="46019599-823c-4874-b4d3-5b3436d17f20" Alias="acute-ankle-sprain-activ-02.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:30</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-02.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/czpfp2cv/acute-ankle-sprain-activ-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>