<?xml version="1.0" encoding="utf-8"?>
<Media Key="76b64d3d-f5e3-4abd-b813-89bf9fcc4325" Alias="acute-ankle-sprain-activ-10.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv10jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:30</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-10.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wkdpbqek/acute-ankle-sprain-activ-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>