<?xml version="1.0" encoding="utf-8"?>
<Media Key="8112e3e9-6b2d-4aa5-83a6-16f9bc33a2f3" Alias="acute-ankle-sprain" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprain</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:20:20</CreateDate>
    <NodeName Default="acute-ankle-sprain" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>