<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6a3a2b1-7a00-4b9b-b4fe-d43fbea5c94e" Alias="acute-ankle-sprain-activ-09.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv09jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:30</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-09.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hzuokedj/acute-ankle-sprain-activ-09.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>