<?xml version="1.0" encoding="utf-8"?>
<Media Key="430dcd15-592e-48b2-9e70-2a14fd4e5fec" Alias="acute-ankle-sprain-11.jpg" Level="3">
  <Info>
    <Parent Key="8112e3e9-6b2d-4aa5-83a6-16f9bc33a2f3">acute-ankle-sprain</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprain/acuteAnkleSprain11jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:21</CreateDate>
    <NodeName Default="acute-ankle-sprain-11.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tidfx3kh/acute-ankle-sprain-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>