<?xml version="1.0" encoding="utf-8"?>
<Media Key="a795351e-1490-462f-893f-486700013c25" Alias="AcuteAnkleSprain5.jpg" Level="3">
  <Info>
    <Parent Key="8112e3e9-6b2d-4aa5-83a6-16f9bc33a2f3">acute-ankle-sprain</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprain/AcuteAnkleSprain5jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:23</CreateDate>
    <NodeName Default="AcuteAnkleSprain5.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sh5ngepz/acuteanklesprain5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>