<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5322426-8834-4e56-aacb-0e8f7a76c6a3" Alias="acute-ankle-sprain-activ-11.jpg" Level="3">
  <Info>
    <Parent Key="9834ddec-6033-4a0f-8ab6-1a232bd8262c">acute-ankle-sprain-activ</Parent>
    <Path>/ProtocolsDiagrams/acuteAnkleSprainActiv/acuteAnkleSprainActiv11jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:31</CreateDate>
    <NodeName Default="acute-ankle-sprain-activ-11.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vhxhie03/acute-ankle-sprain-activ-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>