<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7309d11-290c-4b71-8c7d-fbd73941f282" Alias="ankle.jpg" Level="3">
  <Info>
    <Parent Key="7c9b9e7f-1b01-44d3-8408-663ad111e787">category-images</Parent>
    <Path>/ProtocolsDiagrams/categoryImages/anklejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:37</CreateDate>
    <NodeName Default="ankle.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tzlhmulf/ankle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>