<?xml version="1.0" encoding="utf-8"?>
<Media Key="2473036f-8e6f-46ee-b090-abd330b6ab04" Alias="Ankle-Sprain-Lateral-V2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/AnkleSprainLateralV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:23</CreateDate>
    <NodeName Default="Ankle-Sprain-Lateral-V2.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5alxqpn/ankle-sprain-lateral-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>