<?xml version="1.0" encoding="utf-8"?>
<Media Key="56754d10-98b2-4d47-8093-98174c9fe102" Alias="back.jpg" Level="3">
  <Info>
    <Parent Key="7c9b9e7f-1b01-44d3-8408-663ad111e787">category-images</Parent>
    <Path>/ProtocolsDiagrams/categoryImages/backjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:38</CreateDate>
    <NodeName Default="back.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t4ddhyg1/back.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>