<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce37c204-00cf-41e6-840e-1ada22d8cc59" Alias="Carpal-Tunnel-Syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CarpalTunnelSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:46</CreateDate>
    <NodeName Default="Carpal-Tunnel-Syndrome.pdf" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0qap4k0n/carpal-tunnel-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>