<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed07b72a-18f4-4182-9075-337f5f4ad8e6" Alias="Cervical-Strain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CervicalStrainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:48</CreateDate>
    <NodeName Default="Cervical-Strain.pdf" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5j0n4cdw/cervical-strain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>