<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3147cac-4c97-4541-be29-1b47f463e6c1" Alias="Cervical-Non-Specific-Pain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CervicalNonSpecificPainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:47</CreateDate>
    <NodeName Default="Cervical-Non-Specific-Pain.pdf" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ps5nynqv/cervical-non-specific-pain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>