<?xml version="1.0" encoding="utf-8"?>
<Media Key="d827cbe2-fff7-4c4f-92cf-9054128e704c" Alias="Cervical-ROM.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CervicalROMpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:47</CreateDate>
    <NodeName Default="Cervical-ROM.pdf" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/giep4plv/cervical-rom.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>