<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ab81c70-c989-493e-ab1e-98f4cd39dfcf" Alias="Cervical-Spasms.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CervicalSpasmspdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:48</CreateDate>
    <NodeName Default="Cervical-Spasms.pdf" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/udphb1yl/cervical-spasms.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>