<?xml version="1.0" encoding="utf-8"?>
<Media Key="665ee4ae-90bb-4b46-94ff-767cef2bf2fb" Alias="Cervical-Nerve-Root-Irritation.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CervicalNerveRootIrritationpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:46</CreateDate>
    <NodeName Default="Cervical-Nerve-Root-Irritation.pdf" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pytjnazz/cervical-nerve-root-irritation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>