<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d83a7ce-e4b8-46b2-a745-e774d2f3d5e7" Alias="CervicalOsteoarthritisV20.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/CervicalOsteoarthritisV20pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:47</CreateDate>
    <NodeName Default="CervicalOsteoarthritisV20.pdf" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dzsfxcb0/cervicalosteoarthritisv20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>