<?xml version="1.0" encoding="utf-8"?>
<Media Key="0241449b-a3f9-4424-b147-f153e9df77b4" Alias="Chronic-Inflammation.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ChronicInflammationpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:48</CreateDate>
    <NodeName Default="Chronic-Inflammation.pdf" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/joditz11/chronic-inflammation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>