<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebf01022-cd02-490a-b391-a2f948e3626d" Alias="Chronic-Inflammation-V2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ChronicInflammationV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:49</CreateDate>
    <NodeName Default="Chronic-Inflammation-V2.pdf" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ljdqdua/chronic-inflammation-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>