<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f5c4b25-f0d2-4b35-ad29-44b258e9fdc6" Alias="Fibromyalgia.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/Fibromyalgiapdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:49</CreateDate>
    <NodeName Default="Fibromyalgia.pdf" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4wejjksq/fibromyalgia.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>