<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaf568b7-1e35-42ac-8ee1-0ab686f20d2e" Alias="Game-Day.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/GameDaypdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:49</CreateDate>
    <NodeName Default="Game-Day.pdf" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m4vd0d3x/game-day.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>