<?xml version="1.0" encoding="utf-8"?>
<Media Key="34acb627-921c-4a95-99cd-9678ce4cef77" Alias="GameDay---Preparation.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/GameDayPreparationpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:49</CreateDate>
    <NodeName Default="GameDay---Preparation.pdf" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/430gjum4/gameday-preparation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>