<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc2dbc44-1a52-447a-8e3f-e5c9651841a9" Alias="GameDay---Performance.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/GameDayPerformancepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:49</CreateDate>
    <NodeName Default="GameDay---Performance.pdf" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sr5okkoq/gameday-performance.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>