<?xml version="1.0" encoding="utf-8"?>
<Media Key="58837aa0-1576-48c4-bee1-c8dadf73f16f" Alias="General-Somatic-Biostimulation.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/GeneralSomaticBiostimulationpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:51:50</CreateDate>
    <NodeName Default="General-Somatic-Biostimulation.pdf" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oc2exppu/general-somatic-biostimulation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>