<?xml version="1.0" encoding="utf-8"?>
<Media Key="c76ab1b9-012b-4fe8-82b8-b021915aaf8c" Alias="hands.jpg" Level="3">
  <Info>
    <Parent Key="7c9b9e7f-1b01-44d3-8408-663ad111e787">category-images</Parent>
    <Path>/ProtocolsDiagrams/categoryImages/handsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:37</CreateDate>
    <NodeName Default="hands.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gz3dy2kc/hands.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>