<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a9c79c7-455d-4cf2-a668-4906f83b6530" Alias="Knee-ROM.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeROMpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:18</CreateDate>
    <NodeName Default="Knee-ROM.pdf" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c43fi145/knee-rom.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>