<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2fae999-4be9-4a88-8914-4a7bd10fdcb0" Alias="Knee-Patellofemoral-Pain-Syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneePatellofemoralPainSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:17</CreateDate>
    <NodeName Default="Knee-Patellofemoral-Pain-Syndrome.pdf" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jevdeb1l/knee-patellofemoral-pain-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>