<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dd01e5a-2d56-4939-9736-093a14640f6f" Alias="Knee-Bursitis.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeBursitispdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:08</CreateDate>
    <NodeName Default="Knee-Bursitis.pdf" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlobrcgu/knee-bursitis.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>