<?xml version="1.0" encoding="utf-8"?>
<Media Key="98db13c1-929e-4aa3-bca5-69d570172624" Alias="Knee-Iliotibial-Band-Syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeIliotibialBandSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:10</CreateDate>
    <NodeName Default="Knee-Iliotibial-Band-Syndrome.pdf" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/chibg5i2/knee-iliotibial-band-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>