<?xml version="1.0" encoding="utf-8"?>
<Media Key="bafd00f1-43de-4c5c-a049-80c81ef09e3f" Alias="Knee-Plica-Syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneePlicaSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:17</CreateDate>
    <NodeName Default="Knee-Plica-Syndrome.pdf" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ehbdkx02/knee-plica-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>