<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba4e8433-d5e4-4db1-ba43-19a106bb85b1" Alias="Knee-Osgood-Schlatter-Disease.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeOsgoodSchlatterDiseasepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:12</CreateDate>
    <NodeName Default="Knee-Osgood-Schlatter-Disease.pdf" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ndimx1g/knee-osgood-schlatter-disease.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>