<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7289672-8eda-4e78-89f6-3bc61e7bd645" Alias="KneeMedialtibialstresssyndromeMTSStibialperiostitisShinSplintsStressFracture.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeMedialtibialstresssyndromeMTSStibialperiostitisShinSplintsStressFracturepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:11</CreateDate>
    <NodeName Default="KneeMedialtibialstresssyndromeMTSStibialperiostitisShinSplintsStressFracture.pdf" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ujkoausy/kneemedialtibialstresssyndromemtsstibialperiostitisshinsplintsstressfracture.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>