<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0d4633f-4788-42d2-ba33-8968c943ffb0" Alias="Knee-Bursitis-v2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeBursitisV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:09</CreateDate>
    <NodeName Default="Knee-Bursitis-v2.pdf" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/34qbybik/knee-bursitis-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>