<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ab6538a-153c-424f-b58e-62cd289aff1c" Alias="Knee-Osteoarthritis-V2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeOsteoarthritisV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:14</CreateDate>
    <NodeName Default="Knee-Osteoarthritis-V2.pdf" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkih3l34/knee-osteoarthritis-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>