<?xml version="1.0" encoding="utf-8"?>
<Media Key="330cea81-3fdf-4dc3-80ed-38ce3317dee8" Alias="Knee-Pain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneePainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:15</CreateDate>
    <NodeName Default="Knee-Pain.pdf" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/keumjvs3/knee-pain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>