<?xml version="1.0" encoding="utf-8"?>
<Media Key="8306a7b7-45d5-482e-8f3a-c3afe25c736c" Alias="Knee-Trigger-Points-and-Spasm.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeTriggerPointsAndSpasmpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:19</CreateDate>
    <NodeName Default="Knee-Trigger-Points-and-Spasm.pdf" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3sn2zsx/knee-trigger-points-and-spasm.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>