<?xml version="1.0" encoding="utf-8"?>
<Media Key="a79e4e91-f85c-4a91-9f3f-92a686441584" Alias="Knee-Chondromalacia.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeChondromalaciapdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:09</CreateDate>
    <NodeName Default="Knee-Chondromalacia.pdf" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iggfmqw4/knee-chondromalacia.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>