<?xml version="1.0" encoding="utf-8"?>
<Media Key="236c251d-98ea-4e1e-898d-e966627e48b5" Alias="Knee-Trigger-Points-and-Spasm-v2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeTriggerPointsAndSpasmV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:20</CreateDate>
    <NodeName Default="Knee-Trigger-Points-and-Spasm-v2.pdf" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxtljrti/knee-trigger-points-and-spasm-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>