<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fde9fd1-9350-4ff7-b52a-e15f011ff636" Alias="Knee-Meniscus-Injuries.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/KneeMeniscusInjuriespdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:11</CreateDate>
    <NodeName Default="Knee-Meniscus-Injuries.pdf" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/afobn0ws/knee-meniscus-injuries.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>