<?xml version="1.0" encoding="utf-8"?>
<Media Key="b40851a0-34fd-4024-8355-58379325ce87" Alias="LocalPainV20.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/LocalPainV20pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:21</CreateDate>
    <NodeName Default="LocalPainV20.pdf" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ocjnaul5/localpainv20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>