<?xml version="1.0" encoding="utf-8"?>
<Media Key="f37f24b4-acd6-4a55-902c-5235a8e25595" Alias="lower.jpg" Level="3">
  <Info>
    <Parent Key="7c9b9e7f-1b01-44d3-8408-663ad111e787">category-images</Parent>
    <Path>/ProtocolsDiagrams/categoryImages/lowerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:37</CreateDate>
    <NodeName Default="lower.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hpxdsrn5/lower.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>