<?xml version="1.0" encoding="utf-8"?>
<Media Key="219747d9-0a1f-41c1-a162-36459d81cbf9" Alias="Lumbopelvic-Spasms-Muscular-Pain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/LumbopelvicSpasmsMuscularPainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:28</CreateDate>
    <NodeName Default="Lumbopelvic-Spasms-Muscular-Pain.pdf" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bgcf5re3/lumbopelvic-spasms-muscular-pain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>