<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d7b36f1-acf1-49bc-9a2b-f52270a3686c" Alias="Lumbar-ROM.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/LumbarROMpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:26</CreateDate>
    <NodeName Default="Lumbar-ROM.pdf" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eh0lg0dt/lumbar-rom.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>