<?xml version="1.0" encoding="utf-8"?>
<Media Key="79b2ff2d-ba24-4050-b336-ab5aea2f3713" Alias="Lumbar-Sympathetic-Plexus-Laser-Block.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/LumbarSympatheticPlexusLaserBlockpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:27</CreateDate>
    <NodeName Default="Lumbar-Sympathetic-Plexus-Laser-Block.pdf" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5u4hvhfg/lumbar-sympathetic-plexus-laser-block.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>