<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd691c96-54c9-4775-aba9-57a9e8fbaf75" Alias="Lumbar-Radiculopathy-V20.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/LumbarRadiculopathyV20pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:26</CreateDate>
    <NodeName Default="Lumbar-Radiculopathy-V20.pdf" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i1pkcgcl/lumbar-radiculopathy-v20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>