<?xml version="1.0" encoding="utf-8"?>
<Media Key="3333402d-c9ce-4336-b3cd-5ca669372050" Alias="Medial-tibial-stress-syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/MedialTibialStressSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:28</CreateDate>
    <NodeName Default="Medial-tibial-stress-syndrome.pdf" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5wbpxvsm/medial-tibial-stress-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>