<?xml version="1.0" encoding="utf-8"?>
<Media Key="241f2a98-15a5-4b42-84d1-06c3ce98ccee" Alias="Metatarsalgia-V2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/MetatarsalgiaV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:54</CreateDate>
    <NodeName Default="Metatarsalgia-V2.pdf" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jdunpqjh/metatarsalgia-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>