<?xml version="1.0" encoding="utf-8"?>
<Media Key="97bb3d56-1568-4e7b-aec1-15413048bee3" Alias="Mortons-Neuroma-Metatarsalgia.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/MortonsNeuromaMetatarsalgiapdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:57</CreateDate>
    <NodeName Default="Mortons-Neuroma-Metatarsalgia.pdf" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q15hg2xk/mortons-neuroma-metatarsalgia.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>