<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecd16be4-21fd-4898-b152-22df49a9d5ac" Alias="Muscle-Spasms-and-Strains.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/MuscleSpasmsAndStrainspdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:57</CreateDate>
    <NodeName Default="Muscle-Spasms-and-Strains.pdf" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gsubscl5/muscle-spasms-and-strains.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>