<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3551c20-dec6-40b9-a86f-4d51654c6b11" Alias="New" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/New</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:20:43</CreateDate>
    <NodeName Default="New" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>