<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf6b07cc-edbd-4c02-9ea6-364e0ddc1fc8" Alias="OhshirosChronicPain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/OhshirosChronicPainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:52:58</CreateDate>
    <NodeName Default="OhshirosChronicPain.pdf" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dtclgwr5/ohshiroschronicpain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>