<?xml version="1.0" encoding="utf-8"?>
<Media Key="fedd6222-7bb8-49e5-aed3-481fbb3bc959" Alias="Piriformis-Syndrome-V2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/PiriformisSyndromeV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:03</CreateDate>
    <NodeName Default="Piriformis-Syndrome-V2.pdf" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4kqbkgz0/piriformis-syndrome-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>