<?xml version="1.0" encoding="utf-8"?>
<Media Key="5befb0b1-1937-4c49-83ed-96113147b53e" Alias="Piriformis-Syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/PiriformisSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:01</CreateDate>
    <NodeName Default="Piriformis-Syndrome.pdf" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfzcppvv/piriformis-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>