<?xml version="1.0" encoding="utf-8"?>
<Media Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f" Alias="Protocols Diagrams" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProtocolsDiagrams</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:19:59</CreateDate>
    <NodeName Default="Protocols Diagrams" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>