<?xml version="1.0" encoding="utf-8"?>
<Media Key="55a580cf-1fc8-487e-941b-ba34554c3e15" Alias="protocol-placeholder.png" Level="3">
  <Info>
    <Parent Key="8ccdf11c-6bce-4b85-9fec-7c4a2fa5c6c1">protocol-placeholder</Parent>
    <Path>/ProtocolsDiagrams/protocolPlaceholder/protocolPlaceholderpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:21:23</CreateDate>
    <NodeName Default="protocol-placeholder.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ibfohy3b/protocol-placeholder.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>