<?xml version="1.0" encoding="utf-8"?>
<Media Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c" Alias="Protocols Files" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProtocolsFiles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-02T21:40:48</CreateDate>
    <NodeName Default="Protocols Files" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>