<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d5e97f7-6279-47ee-8121-e6a3eed2a809" Alias="protocol-placeholder-full" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/protocolPlaceholderFull</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:21:30</CreateDate>
    <NodeName Default="protocol-placeholder-full" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>