<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ccdf11c-6bce-4b85-9fec-7c4a2fa5c6c1" Alias="protocol-placeholder" Level="2">
  <Info>
    <Parent Key="7eaff30d-061b-4225-ab53-0baf0e9ff15f">Protocols Diagrams</Parent>
    <Path>/ProtocolsDiagrams/protocolPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-04T22:21:23</CreateDate>
    <NodeName Default="protocol-placeholder" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>