<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8ca83aa-d835-475d-aa3e-355a1a70492c" Alias="Shoulder-Pain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderPainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:20</CreateDate>
    <NodeName Default="Shoulder-Pain.pdf" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjabepnx/shoulder-pain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>