<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccf09c8c-face-43c5-8710-45879b0f7859" Alias="Shoulder-Sprain-AC.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderSprainACpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:26</CreateDate>
    <NodeName Default="Shoulder-Sprain-AC.pdf" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lrpdqkkm/shoulder-sprain-ac.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>