<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6cb7f64-06c7-484c-b9ed-a721d4ea93d8" Alias="Shoulder-Subacromial-Impingement.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderSubacromialImpingementpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:30</CreateDate>
    <NodeName Default="Shoulder-Subacromial-Impingement.pdf" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ws4bgm0f/shoulder-subacromial-impingement.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>