<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fa6e916-bebe-49c8-aa21-bc5f05e12268" Alias="Shoulder-Sprain-SC.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderSprainSCpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:28</CreateDate>
    <NodeName Default="Shoulder-Sprain-SC.pdf" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yyvh3gr2/shoulder-sprain-sc.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>