<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d12d878-c29a-4860-8f38-966f5cd42f66" Alias="Shoulder-Glenoid-Labrum-Tear.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderGlenoidLabrumTearpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:17</CreateDate>
    <NodeName Default="Shoulder-Glenoid-Labrum-Tear.pdf" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vannv4ay/shoulder-glenoid-labrum-tear.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>