<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bb55446-18e8-4182-a64e-4694b81f486a" Alias="Shoulder-Sprain-GH.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderSprainGHpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:27</CreateDate>
    <NodeName Default="Shoulder-Sprain-GH.pdf" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0lh1htk/shoulder-sprain-gh.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>