<?xml version="1.0" encoding="utf-8"?>
<Media Key="fba06494-0c23-4bf6-8812-22ee6c3bcdc0" Alias="Shoulder-Spasms-Muscular-Pain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderSpasmsMuscularPainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:24</CreateDate>
    <NodeName Default="Shoulder-Spasms-Muscular-Pain.pdf" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/istgqhvb/shoulder-spasms-muscular-pain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>