<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bafb782-6198-4504-a3c7-972013445559" Alias="Shoulder-Thoracic-Outlet-Syndrome.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderThoracicOutletSyndromepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:32</CreateDate>
    <NodeName Default="Shoulder-Thoracic-Outlet-Syndrome.pdf" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kj0ho5q0/shoulder-thoracic-outlet-syndrome.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>