<?xml version="1.0" encoding="utf-8"?>
<Media Key="9050c57f-5c00-4edb-9b60-229ffc939d42" Alias="Shoulder-Adhesive-Capsulitis.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderAdhesiveCapsulitispdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:14</CreateDate>
    <NodeName Default="Shoulder-Adhesive-Capsulitis.pdf" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v2djq3mc/shoulder-adhesive-capsulitis.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>