<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bead564-e8ea-4a60-8521-606007a403a2" Alias="Shoulder-Bursitis.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/ShoulderBursitispdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:15</CreateDate>
    <NodeName Default="Shoulder-Bursitis.pdf" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wqldf1ti/shoulder-bursitis.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>