<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a55f4eb-59da-48f6-9476-d04858ec1b8b" Alias="Stellate-Ganglion-Laser-Therapy-Block.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/StellateGanglionLaserTherapyBlockpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:34</CreateDate>
    <NodeName Default="Stellate-Ganglion-Laser-Therapy-Block.pdf" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hm1j010y/stellate-ganglion-laser-therapy-block.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>