<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffd5f3fd-4086-464c-a5b6-92e5d817b1ae" Alias="Systemic-Pain.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/SystemicPainpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:35</CreateDate>
    <NodeName Default="Systemic-Pain.pdf" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fuyb0gqe/systemic-pain.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>