<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e5b9695-eb03-4cfe-8cbb-8bd95ae25172" Alias="Tennis-Elbow-Tendinosis-V2.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/TennisElbowTendinosisV2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:51</CreateDate>
    <NodeName Default="Tennis-Elbow-Tendinosis-V2.pdf" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ivkjhk2b/tennis-elbow-tendinosis-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>