<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8998221-3668-4473-a8be-5a020aab79f2" Alias="Venous-Insufficiency.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/VenousInsufficiencypdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:55</CreateDate>
    <NodeName Default="Venous-Insufficiency.pdf" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4fafcxpk/venous-insufficiency.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>