<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1bdecea-8f33-41ff-b62d-7f8abd022b4c" Alias="Wrist-Osteoarthritis.pdf" Level="2">
  <Info>
    <Parent Key="dce02f4e-8ad3-473e-b853-33dfc9f2b92c">Protocols Files</Parent>
    <Path>/ProtocolsFiles/WristOsteoarthritispdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-12-02T21:53:56</CreateDate>
    <NodeName Default="Wrist-Osteoarthritis.pdf" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hixhkrfr/wrist-osteoarthritis.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>