<?xml version="1.0" encoding="utf-8"?>
<Media Key="407ba402-56d5-4021-be1c-e61ab0123687" Alias="wrist.jpg" Level="3">
  <Info>
    <Parent Key="7c9b9e7f-1b01-44d3-8408-663ad111e787">category-images</Parent>
    <Path>/ProtocolsDiagrams/categoryImages/wristjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T22:20:38</CreateDate>
    <NodeName Default="wrist.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rvxd13v2/wrist.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>