@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Clean.Core.Models.ViewModels
@using Umbraco.Cms.Core.Models.PublishedContent

@{
    Layout = "master.cshtml";
    var submitted = false;
    if (bool.TryParse(TempData["Success"]?.ToString() ?? "", out var success))
    {
        submitted = true;
    }

    var title = Model.Value<string>("title");
    var subtitle = Model.Value<string>("subtitle");
    var mainImage = Model.Value<IPublishedContent>("mainImage");
    var successMessage = Model.Value<string>("successMessage");
    var errorMessage = Model.Value<string>("errorMessage");
    var instructionMessage = Model.Value<string>("instructionMessage");
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, title, subtitle, mainImage))

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @if(submitted)
                {
                    if (success)
                    {
                        @successMessage
                    }
                    else
                    {
                        @errorMessage
                    }
                }
                else
                {
                    @instructionMessage
                    <div class="my-5">
                        @await Component.InvokeAsync("Contact")
                    </div>

                }
            </div>
        </div>
    </div>
</main>
