@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "master.cshtml";
}

<section class="main_slider_wrapper">

    <div>
        <a id="content_0_controls_0_BannerSlider_BannerSlideLink_0" href="http://www.lasertherapyu.org/welcome"><img src="/images/ltu_banner.png?h=450&amp;la=en&amp;w=1335" class="img-responsive" alt="LTU_banner18" width="1335" height="450" /></a>
    </div>

    <div>
        <a id="content_0_controls_0_BannerSlider_BannerSlideLink_1" href="/protocols/lumbar-radiculopathy-v2"><img src="/images/q324.jpg?h=300&amp;la=en&amp;w=890" class="img-responsive" alt="Q324" width="890" height="300" /></a>
    </div>

    <div>
        <a id="content_0_controls_0_BannerSlider_BannerSlideLink_2" href="http://www.lasertherapyu.org/comparative%20pillars%20paper"><img src="/images/papers1.png?h=300&amp;la=en&amp;w=890" class="img-responsive" alt="Papers1" width="890" height="300" /></a>
    </div>

    <div>
        <a id="content_0_controls_0_BannerSlider_BannerSlideLink_3" href="https://register.gotowebinar.com/register/3636966107352339037?source=ltu"><img src="/images/mar25_1.jpg?h=300&amp;la=en&amp;w=890" class="img-responsive" alt="Mar25_1" width="890" height="300" /></a>
    </div>

</section>

<section class="dashboard">

    <div class="dashboard-column dashboard-column-1">

        <div id="content_0_controls_1_lvColumnOne_pnlModule_0" class="dashboard-item dashboard-webinars">

            <h2>Webinars</h2>
            <div id="content_0_controls_1_lvColumnOne_pnlIcon_0" class="dashboard-item-icon">

                <img id="content_0_controls_1_lvColumnOne_imgIcon_0" class="ress" data-original="/images/icon_webinars.png" width="145" height="109" data-large="145" data-narrow="128" data-small="145" src="/images/icon_webinars.png" />

            </div>

            <ul>

                <li>
                    <span>
                        The BLUE Wave Advantage: Pioneering Breakthroughs in Modern Dental Care
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_0_hlLink_0" href="/webinars/pre-recorded-webinars/february-2025"><span class="featured">Featured Webinar  </span><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Laser Therapy Fundamentals: Practical Tips for Effective Integration
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_0_hlLink_1" href="/webinars/pre-recorded-webinars/january-2025"><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Clinical Decision Making in Laser Therapy
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_0_hlLink_2" href="/webinars/pre-recorded-webinars/december-2024"><span class="priceHighlight">FREE</span></a>
                </li>

            </ul>

            <a id="content_0_controls_1_lvColumnOne_hlViewAll_0" title="View All Webinars" href="/webinars/pre-recorded-webinars">View All Webinars</a>

        </div>


        <div id="content_0_controls_1_lvColumnOne_pnlModule_1" class="dashboard-item dashboard-research">

            <h2>Research</h2>
            <div id="content_0_controls_1_lvColumnOne_pnlIcon_1" class="dashboard-item-icon">

                <img id="content_0_controls_1_lvColumnOne_imgIcon_1" class="ress" data-original="/images/icon_research.png" width="132" height="116" data-large="145" data-narrow="128" data-small="145" src="/images/icon_research.png" />

            </div>

            <ul>

                <li>
                    <span>
                        Effect of phototherapy on delayed onset muscle soreness.
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_1_hlLink_0" href="/research/effect-of-phototherapy-on-delayed-onset-muscle-soreness"><span class="featured">Featured Study  </span><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Effects of early and delayed laser application on nerve regeneration
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_1_hlLink_1" href="/research/effects-of-early-and-delayed-laser-application-on-nerve-regeneration"><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Low-Level Laser Treatment Can Reduce Edema in Second Degree Ankle Sprains
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_1_hlLink_2" href="/research/lowlevel-laser-treatment-can-reduce-edema-in-second-degree-ankle-sprains"><span class="priceHighlight">FREE</span></a>
                </li>

            </ul>

            <a id="content_0_controls_1_lvColumnOne_hlViewAll_1" title="View All Studies" href="/research">View All Studies</a>

        </div>


        <div id="content_0_controls_1_lvColumnOne_pnlModule_2" class="dashboard-item dashboard-protocols">

            <h2>Protocols</h2>
            <div id="content_0_controls_1_lvColumnOne_pnlIcon_2" class="dashboard-item-icon">

                <img id="content_0_controls_1_lvColumnOne_imgIcon_2" class="ress" data-original="/images/icon_protocols.png" width="100" height="118" data-large="145" data-narrow="128" data-small="145" src="/images/icon_protocols.png" />

            </div>

            <ul>

                <li>
                    <span>
                        Lumbar Radiculopathy V2
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_2_hlLink_0" href="/protocols/lumbar-radiculopathy-v2"><span class="featured">Featured Protocol  </span><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Golfers Elbow V2
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_2_hlLink_1" href="/protocols/golfers-elbow-v2"><span>$29.95</span></a>
                </li>

                <li>
                    <span>
                        Piriformis Syndrome V2.0
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_2_hlLink_2" href="/protocols/piriformis-syndrome-v2"><span>$29.95</span></a>
                </li>

            </ul>

            <a id="content_0_controls_1_lvColumnOne_hlViewAll_2" title="View All Protocols" href="/protocols">View All Protocols</a>

        </div>





        <div id="content_0_controls_1_lvColumnOne_pnlModule_3" class="dashboard-item dashboard-videos">

            <h2>Videos</h2>
            <div id="content_0_controls_1_lvColumnOne_pnlIcon_3" class="dashboard-item-icon">

                <img id="content_0_controls_1_lvColumnOne_imgIcon_3" class="ress" data-original="/images/icon_videos.png" width="100" height="118" data-large="145" data-narrow="128" data-small="145" src="/images/icon_videos.png" />

            </div>

            <ul>

                <li>
                    <span>
                        Laser Treatment Application-PLANTAR FASCIITIS
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_3_hlLink_0" href="videos/laser-treatment-application-plantar-fasciitis"><span class="featured">Featured Video  </span><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Laser Treatment Application-SCIATICA
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_3_hlLink_1" href="/videos/laser-treatment-application-sciatica"><span class="priceHighlight">FREE</span></a>
                </li>

                <li>
                    <span>
                        Laser Treatment Application-PHOTOHEMOTHERAPY
                    </span>

                    <a id="content_0_controls_1_lvColumnOne_lvItems_3_hlLink_2" href="/videos/laser-treatment-application-photohemotherapy"><span class="priceHighlight">FREE</span></a>
                </li>

            </ul>


            <a id="content_0_controls_1_lvColumnOne_hlViewAll_3" title="View All Videos" href="/videos">View All Videos</a>

        </div>
    </div>






    <div class="dashboard-column dashboard-column-2">


        <div id="content_0_controls_1_lvColumnTwo_pnlUpcomingItem_0" class="dashboard-upcoming-item dashboard-upcoming dashboard-upcoming-webinars">

            <h2 class="dashboard-upcoming-h2">Upcoming Webinar</h2>
            <div id="content_0_controls_1_lvColumnTwo_pnlAd_0" class="dashboard-upcoming-image dashboard-upcoming-events-image">

                <a id="content_0_controls_1_lvColumnTwo_hlEvent_0" href="https://register.gotowebinar.com/register/3636966107352339037?source=ltu"><img class="ress" data-original="/images/0325_1.jpg" width="446" height="300" data-large="446" data-narrow="394" data-small="650" src="/images/0325_1.jpg" /></a>

            </div>

        </div>


        <div id="content_0_controls_1_lvColumnTwo_pnlUpcomingItem_1" class="dashboard-upcoming-item dashboard-upcoming dashboard-upcoming-events">

            <h2 class="dashboard-upcoming-h2">Subscribe Today</h2>
            <div id="content_0_controls_1_lvColumnTwo_pnlAd_1" class="dashboard-upcoming-image dashboard-upcoming-events-image">

                <a id="content_0_controls_1_lvColumnTwo_hlEvent_1" href="https://www.lasertherapyu.org/subscriptions"><img class="ress" data-original="/images/ltu_subscribe1.png" width="582" height="378" data-large="446" data-narrow="394" data-small="650" src="/images/ltu_subscribe1.png" /></a>

            </div>

        </div>


        <div id="content_0_controls_1_lvColumnTwo_pnlUpcomingItem_2" class="dashboard-upcoming-item dashboard-upcoming dashboard-upcoming-events">

            <h2 class="dashboard-upcoming-h2">ProtocolBuild.com</h2>
            <div id="content_0_controls_1_lvColumnTwo_pnlAd_2" class="dashboard-upcoming-image dashboard-upcoming-events-image">

                <a id="content_0_controls_1_lvColumnTwo_hlEvent_2" href="https://protocolbuild.com/"><img class="ress" data-original="/images/pb.jpg" width="582" height="378" data-large="446" data-narrow="394" data-small="650" src="/images/pb.jpg" /></a>

            </div>

        </div>

    </div>

</section>

@*
@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

@if (Model.ContentRows != null)
{
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @Html.GetBlockListHtml(Model.ContentRows)
                </div>
            </div>
        </div>
    </article>
}*@