@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;
}

<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie8 lt-ie9 lt-ie10 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10 oldie" lang="en"><![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js modern" lang="en">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Laser Therapy University
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--link rel="Shortcut Icon" href="/images/favicon.ico" /-->

    <link rel="stylesheet" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/slick-theme.css" />

    <title>Laser Therapy University</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta property="og:site_name" content="LaserTherapyU.org, LLC" />
    <meta property="og:title" content="Laser Therapy University" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="https://www.lasertherapyu.org:443/" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://www.lasertherapyu.org:443/~/media/laser-u/images/social-media/facebook/facebook-share.jpg?v=635114806748349270" />

    <link rel="apple-touch-icon" href="/~/media/laser-u/images/app-icons/apple-touch-icon.png?mw=57&mh=57&u=20130807T135648" />
    <link rel="apple-touch-icon-precomposed" href="/~/media/laser-u/images/app-icons/apple-touch-icon-precomposed.png?mw=57&mh=57&u=20130807T135706" />
    <link rel="apple-touch-icon" sizes="72x72" href="/~/media/laser-u/images/app-icons/apple-touch-icon-72x72.png?mw=72&mh=72&u=20130807T135538" />
    <link rel="apple-touch-icon" sizes="114x114" href="/~/media/laser-u/images/app-icons/apple-touch-icon-114x114.png?mw=114&mh=114&u=20130807T135627" />
    <link rel="apple-touch-icon" sizes="144x144" href="/~/media/laser-u/images/app-icons/apple-touch-icon-144x144.png?mw=144&mh=144&u=20130807T135605" />


    <link rel="Shortcut Icon" href="/favicon.ico" />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Kameron:400,700' rel='stylesheet' type='text/css'>

    <script src="/scripts/modernizr.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/presentation/laseru/js/jquery-1.10.1.js">\x3C/script>')</script>

    <!-- PLACE CSS/JS Here -->
    <link rel="stylesheet" href="/css/global.css?v=635163774712393350" />
    <link rel="stylesheet" href="/css/modal.css?v=635163774851486010" />
    <script src="/scripts/laseru-plugins.js?v=635163775658768325"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#545654"
            },
            "button": {
              "background": "#1f9847"
            }
          },
          "theme": "classic",
          "position": "top",
          "static": true,
          "type": "opt-out",
          "content": {
            "href": "https://www.lasertherapyu.org/privacy-policy"
          }
        })});
    </script>
    <!-- Google Tag Manager -->
    <script>        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TCB97RG');</script>
    <!-- End Google Tag Manager -->
    <!-- NT -->
    <script>        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MDDJSMW');</script>
    <!-- End NT -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCB97RG"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- NT (noscript)-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDDJSMW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End NT (noscript) -->

    <form method="post" action="/" id="mainform">
        @*  <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTUzODgwMzU0Nw8WAh4TVmFsaWRhdGVSZXF1ZXN0TW9kZQIBFgoCAw8WAh4EVGV4dAV1PHRpdGxlPkxhc2VyIFRoZXJhcHkgVW5pdmVyc2l0eTwvdGl0bGU+DQo8bWV0YSBuYW1lPSJkZXNjcmlwdGlvbiIgY29udGVudD0iIiAvPg0KPG1ldGEgbmFtZT0ia2V5d29yZHMiIGNvbnRlbnQ9IiIvPg0KZAIFDxYCHwEFyAM8bWV0YSBwcm9wZXJ0eT0ib2c6c2l0ZV9uYW1lIiBjb250ZW50PSJMYXNlclRoZXJhcHlVLm9yZywgTExDIiAvPg0KPG1ldGEgcHJvcGVydHk9Im9nOnRpdGxlIiBjb250ZW50PSJMYXNlciBUaGVyYXB5IFVuaXZlcnNpdHkiIC8+DQo8bWV0YSBwcm9wZXJ0eT0ib2c6dHlwZSIgY29udGVudD0iY29tcGFueSIgLz4NCjxtZXRhIHByb3BlcnR5PSJvZzp1cmwiIGNvbnRlbnQ9Imh0dHBzOi8vd3d3Lmxhc2VydGhlcmFweXUub3JnOjQ0My8iLz4NCjxtZXRhIHByb3BlcnR5PSJvZzpkZXNjcmlwdGlvbiIgY29udGVudD0iIiAvPg0KPG1ldGEgcHJvcGVydHk9Im9nOmltYWdlIiBjb250ZW50PSJodHRwczovL3d3dy5sYXNlcnRoZXJhcHl1Lm9yZzo0NDMvfi9tZWRpYS9sYXNlci11L2ltYWdlcy9zb2NpYWwtbWVkaWEvZmFjZWJvb2svZmFjZWJvb2stc2hhcmUuanBnP3Y9NjM1MTE0ODA2NzQ4MzQ5MjcwIi8+DQpkAgcPFgIfAQXRBTxsaW5rIHJlbD0iYXBwbGUtdG91Y2gtaWNvbiIgaHJlZj0iL34vbWVkaWEvbGFzZXItdS9pbWFnZXMvYXBwLWljb25zL2FwcGxlLXRvdWNoLWljb24ucG5nP213PTU3Jm1oPTU3JnU9MjAxMzA4MDdUMTM1NjQ4IiAvPg0KPGxpbmsgcmVsPSJhcHBsZS10b3VjaC1pY29uLXByZWNvbXBvc2VkIiBocmVmPSIvfi9tZWRpYS9sYXNlci11L2ltYWdlcy9hcHAtaWNvbnMvYXBwbGUtdG91Y2gtaWNvbi1wcmVjb21wb3NlZC5wbmc/bXc9NTcmbWg9NTcmdT0yMDEzMDgwN1QxMzU3MDYiIC8+DQo8bGluayByZWw9ImFwcGxlLXRvdWNoLWljb24iIHNpemVzPSI3Mng3MiIgaHJlZj0iL34vbWVkaWEvbGFzZXItdS9pbWFnZXMvYXBwLWljb25zL2FwcGxlLXRvdWNoLWljb24tNzJ4NzIucG5nP213PTcyJm1oPTcyJnU9MjAxMzA4MDdUMTM1NTM4IiAvPg0KPGxpbmsgcmVsPSJhcHBsZS10b3VjaC1pY29uIiBzaXplcz0iMTE0eDExNCIgaHJlZj0iL34vbWVkaWEvbGFzZXItdS9pbWFnZXMvYXBwLWljb25zL2FwcGxlLXRvdWNoLWljb24tMTE0eDExNC5wbmc/bXc9MTE0Jm1oPTExNCZ1PTIwMTMwODA3VDEzNTYyNyIgLz4NCjxsaW5rIHJlbD0iYXBwbGUtdG91Y2gtaWNvbiIgc2l6ZXM9IjE0NHgxNDQiIGhyZWY9Ii9+L21lZGlhL2xhc2VyLXUvaW1hZ2VzL2FwcC1pY29ucy9hcHBsZS10b3VjaC1pY29uLTE0NHgxNDQucG5nP213PTE0NCZtaD0xNDQmdT0yMDEzMDgwN1QxMzU2MDUiIC8+DQpkAgkPFgIfAQWNAjxsaW5rIHJlbD0ic3R5bGVzaGVldCIgaHJlZj0iL3ByZXNlbnRhdGlvbi9sYXNlcnUvY3NzL2dsb2JhbC5jc3M/dj02MzUxNjM3NzQ3MTIzOTMzNTAiIC8+DQo8bGluayByZWw9InN0eWxlc2hlZXQiIGhyZWY9Ii9wcmVzZW50YXRpb24vbGFzZXJ1L2Nzcy9tb2RhbC5jc3M/dj02MzUxNjM3NzQ4NTE0ODYwMTAiIC8+DQo8c2NyaXB0IHNyYz0iL3ByZXNlbnRhdGlvbi9sYXNlcnUvanMvbGFzZXJ1LXBsdWdpbnMuanM/dj02MzUxNjM3NzU2NTg3NjgzMjUiPjwvc2NyaXB0Pg0KZAINEGRkFggCAw9kFgICAQ9kFgJmD2QWAmYPZBYEAgEPZBYEZg9kFgJmD2QWAgIBDxYCHgtfIUl0ZW1Db3VudAIEFghmD2QWAgIBDw8WAh4LTmF2aWdhdGVVcmwFJGh0dHA6Ly93d3cubGFzZXJ0aGVyYXB5dS5vcmcvd2VsY29tZWRkAgEPZBYCAgEPDxYCHwMFIi9wcm90b2NvbHMvbHVtYmFyLXJhZGljdWxvcGF0aHktdjJkZAICD2QWAgIBDw8WAh8DBTpodHRwOi8vd3d3Lmxhc2VydGhlcmFweXUub3JnL2NvbXBhcmF0aXZlJTIwcGlsbGFycyUyMHBhcGVyZGQCAw9kFgICAQ8PFgIfAwVIaHR0cHM6Ly9yZWdpc3Rlci5nb3Rvd2ViaW5hci5jb20vcmVnaXN0ZXIvMzYzNjk2NjEwNzM1MjMzOTAzNz9zb3VyY2U9bHR1ZGQCAQ9kFgJmD2QWBAIBDxQrAAIPFgQeC18hRGF0YUJvdW5kZx8CAgRkZBYCZg9kFggCAQ9kFgICAQ8PFgYeCENzc0NsYXNzBSFkYXNoYm9hcmQtaXRlbSBkYXNoYm9hcmQtd2ViaW5hcnMeBF8hU0ICAh4HVmlzaWJsZWdkFggCAQ8WAh8BBQhXZWJpbmFyc2QCAw8PFgIfB2dkFgICAQ8PFgQfBQUEcmVzcx8GAgIWDB4NZGF0YS1vcmlnaW5hbAU3L34vbWVkaWEvbGFzZXItdS9pbWFnZXMvc2VjdGlvbi1pY29ucy9pY29uX3dlYmluYXJzLnBuZx4Fd2lkdGgFAzE0NR4GaGVpZ2h0BQMxMDkeCmRhdGEtbGFyZ2UFAzE0NR4LZGF0YS1uYXJyb3cFAzEyOB4KZGF0YS1zbWFsbAUDMTQ1ZAIFDxQrAAIPFgQfBGcfAgIDZGQWAmYPZBYGAgEPZBYEAgEPFgIfAQVHVGhlIEJMVUUgV2F2ZSBBZHZhbnRhZ2U6IFBpb25lZXJpbmcgQnJlYWt0aHJvdWdocyBpbiBNb2Rlcm4gRGVudGFsIENhcmVkAgMPDxYCHwMFLS93ZWJpbmFycy9wcmUtcmVjb3JkZWQtd2ViaW5hcnMvZmVicnVhcnktMjAyNWRkAgIPZBYEAgEPFgIfAQVETGFzZXIgVGhlcmFweSBGdW5kYW1lbnRhbHM6IFByYWN0aWNhbCBUaXBzIGZvciBFZmZlY3RpdmUgSW50ZWdyYXRpb25kAgMPDxYCHwMFLC93ZWJpbmFycy9wcmUtcmVjb3JkZWQtd2ViaW5hcnMvamFudWFyeS0yMDI1ZGQCAw9kFgQCAQ8WAh8BBSlDbGluaWNhbCBEZWNpc2lvbiBNYWtpbmcgaW4gTGFzZXIgVGhlcmFweWQCAw8PFgIfAwUtL3dlYmluYXJzL3ByZS1yZWNvcmRlZC13ZWJpbmFycy9kZWNlbWJlci0yMDI0ZGQCBw8PFgYeB1Rvb2xUaXAFEVZpZXcgQWxsIFdlYmluYXJzHwEFEVZpZXcgQWxsIFdlYmluYXJzHwMFHy93ZWJpbmFycy9wcmUtcmVjb3JkZWQtd2ViaW5hcnNkZAICD2QWAgIBDw8WBh8FBSFkYXNoYm9hcmQtaXRlbSBkYXNoYm9hcmQtcmVzZWFyY2gfBgICHwdnZBYIAgEPFgIfAQUIUmVzZWFyY2hkAgMPDxYCHwdnZBYCAgEPDxYEHwUFBHJlc3MfBgICFgwfCAU3L34vbWVkaWEvbGFzZXItdS9pbWFnZXMvc2VjdGlvbi1pY29ucy9pY29uX3Jlc2VhcmNoLnBuZx8JBQMxMzIfCgUDMTE2HwsFAzE0NR8MBQMxMjgfDQUDMTQ1ZAIFDxQrAAIPFgQfBGcfAgIDZGQWAmYPZBYGAgEPZBYEAgEPFgIfAQU4RWZmZWN0IG9mIHBob3RvdGhlcmFweSBvbiBkZWxheWVkIG9uc2V0IG11c2NsZSBzb3JlbmVzcy5kAgMPDxYCHwMFQS9yZXNlYXJjaC9lZmZlY3Qtb2YtcGhvdG90aGVyYXB5LW9uLWRlbGF5ZWQtb25zZXQtbXVzY2xlLXNvcmVuZXNzZGQCAg9kFgQCAQ8WAh8BBURFZmZlY3RzIG9mIGVhcmx5IGFuZCBkZWxheWVkIGxhc2VyIGFwcGxpY2F0aW9uIG9uIG5lcnZlIHJlZ2VuZXJhdGlvbmQCAw8PFgIfAwVOL3Jlc2VhcmNoL2VmZmVjdHMtb2YtZWFybHktYW5kLWRlbGF5ZWQtbGFzZXItYXBwbGljYXRpb24tb24tbmVydmUtcmVnZW5lcmF0aW9uZGQCAw9kFgQCAQ8WAh8BBUlMb3ctTGV2ZWwgTGFzZXIgVHJlYXRtZW50IENhbiBSZWR1Y2UgRWRlbWEgaW4gU2Vjb25kIERlZ3JlZSBBbmtsZSBTcHJhaW5zZAIDDw8WAh8DBVIvcmVzZWFyY2gvbG93bGV2ZWwtbGFzZXItdHJlYXRtZW50LWNhbi1yZWR1Y2UtZWRlbWEtaW4tc2Vjb25kLWRlZ3JlZS1hbmtsZS1zcHJhaW5zZGQCBw8PFgYfDgUQVmlldyBBbGwgU3R1ZGllcx8BBRBWaWV3IEFsbCBTdHVkaWVzHwMFCS9yZXNlYXJjaGRkAgMPZBYCAgEPDxYGHwUFImRhc2hib2FyZC1pdGVtIGRhc2hib2FyZC1wcm90b2NvbHMfBgICHwdnZBYIAgEPFgIfAQUJUHJvdG9jb2xzZAIDDw8WAh8HZ2QWAgIBDw8WBB8FBQRyZXNzHwYCAhYMHwgFOC9+L21lZGlhL2xhc2VyLXUvaW1hZ2VzL3NlY3Rpb24taWNvbnMvaWNvbl9wcm90b2NvbHMucG5nHwkFAzEwMB8KBQMxMTgfCwUDMTQ1HwwFAzEyOB8NBQMxNDVkAgUPFCsAAg8WBB8EZx8CAgNkZBYCZg9kFgYCAQ9kFgQCAQ8WAh8BBRdMdW1iYXIgUmFkaWN1bG9wYXRoeSBWMmQCAw8PFgIfAwUiL3Byb3RvY29scy9sdW1iYXItcmFkaWN1bG9wYXRoeS12MmRkAgIPZBYEAgEPFgIfAQUQR29sZmVycyBFbGJvdyBWMmQCAw8PFgIfAwUbL3Byb3RvY29scy9nb2xmZXJzLWVsYm93LXYyZGQCAw9kFgQCAQ8WAh8BBRhQaXJpZm9ybWlzIFN5bmRyb21lIFYyLjBkAgMPDxYCHwMFIS9wcm90b2NvbHMvcGlyaWZvcm1pcy1zeW5kcm9tZS12MmRkAgcPDxYGHw4FElZpZXcgQWxsIFByb3RvY29scx8BBRJWaWV3IEFsbCBQcm90b2NvbHMfAwUKL3Byb3RvY29sc2RkAgQPZBYCAgEPDxYGHwUFH2Rhc2hib2FyZC1pdGVtIGRhc2hib2FyZC12aWRlb3MfBgICHwdoZBYIAgEPFgIfAQUGVmlkZW9zZAIDDw8WAh8HZ2QWAgIBDw8WBB8FBQRyZXNzHwYCAhYMHwgFNS9+L21lZGlhL2xhc2VyLXUvaW1hZ2VzL3NlY3Rpb24taWNvbnMvaWNvbl92aWRlb3MucG5nHwkFAzEyMR8KBQMxMTEfCwUDMTQ1HwwFAzEyOB8NBQMxNDVkAgUPFCsAAg8WBB8EZx8CAv////8PZGRkAgcPDxYGHw4FD1ZpZXcgQWxsIFZpZGVvcx8BBQ9WaWV3IEFsbCBWaWRlb3MfAwUHL3ZpZGVvc2RkAgMPFCsAAg8WBB8EZx8CAgNkZBYCZg9kFgYCAQ9kFgQCAQ9kFgICBQ8UKwACDxYEHwRnHwIC/////w9kZGQCAw8PFgYfBQVGZGFzaGJvYXJkLXVwY29taW5nLWl0ZW0gZGFzaGJvYXJkLXVwY29taW5nIGRhc2hib2FyZC11cGNvbWluZy13ZWJpbmFycx8GAgIfB2dkFgQCAQ8WAh8BBRBVcGNvbWluZyBXZWJpbmFyZAIDD2QWAgIBDw8WBh8DBUhodHRwczovL3JlZ2lzdGVyLmdvdG93ZWJpbmFyLmNvbS9yZWdpc3Rlci8zNjM2OTY2MTA3MzUyMzM5MDM3P3NvdXJjZT1sdHUfDmUeBlRhcmdldGVkZAICD2QWBAIBD2QWAgIFDxQrAAIPFgQfBGcfAgL/////D2RkZAIDDw8WBh8FBURkYXNoYm9hcmQtdXBjb21pbmctaXRlbSBkYXNoYm9hcmQtdXBjb21pbmcgZGFzaGJvYXJkLXVwY29taW5nLWV2ZW50cx8GAgIfB2dkFgQCAQ8WAh8BBQ9TdWJzY3JpYmUgVG9kYXlkAgMPZBYCAgEPDxYGHwMFK2h0dHBzOi8vd3d3Lmxhc2VydGhlcmFweXUub3JnL3N1YnNjcmlwdGlvbnMfDmUfD2VkZAIDD2QWBAIBD2QWAgIFDxQrAAIPFgQfBGcfAgL/////D2RkZAIDDw8WBh8FBURkYXNoYm9hcmQtdXBjb21pbmctaXRlbSBkYXNoYm9hcmQtdXBjb21pbmcgZGFzaGJvYXJkLXVwY29taW5nLWV2ZW50cx8GAgIfB2dkFgQCAQ8WAh8BBRFQcm90b2NvbEJ1aWxkLmNvbWQCAw9kFgICAQ8PFgYfAwUaaHR0cHM6Ly9wcm90b2NvbGJ1aWxkLmNvbS8fDmUfD2VkZAIDD2QWAmYPZBYIAgEPFCsAAg8WBB8EZx8CAgJkZBYCZg9kFgYCAQ8WAh8BBR1AIDIwMjUgTGFzZXJUaGVyYXB5VS5vcmcsIExMQ2QCAw9kFgICAQ8PFgYfAQUSVGVybXMgJiBDb25kaXRpb25zHw4FElRlcm1zICYgQ29uZGl0aW9ucx8DBRUvdGVybXMtYW5kLWNvbmRpdGlvbnNkZAIED2QWAgIBDw8WBh8BBQ5Qcml2YWN5IFBvbGljeR8OBQ5Qcml2YWN5IFBvbGljeR8DBQ8vcHJpdmFjeS1wb2xpY3lkZAIDDw8WBh8DBSZodHRwczovL3d3dy5mYWNlYm9vay5jb20vTGFzZXJUaGVyYXB5VR8OBRVGb2xsb3cgVXMgb24gRmFjZWJvb2sfAQUVRm9sbG93IFVzIG9uIEZhY2Vib29rZGQCBQ8PFgYfAwUhaHR0cHM6Ly90d2l0dGVyLmNvbS9MYXNlclRoZXJhcHlVHw4FFEZvbGxvdyBVcyBvbiBUd2l0dGVyHwEFFEZvbGxvdyBVcyBvbiBUd2l0dGVyZGQCBw8WAh8HaGQCCQ9kFgJmD2QWCgIDDxYCHwEFMFBsZWFzZSBzaWduIGluIG9yIHJlZ2lzdGVyIHRvIHZpZXcgdGhpcyBjb250ZW50LmQCBQ8WAh8BBSNBbHJlYWR5IGEgcmVnaXN0ZXJlZDxicj4gc2l0ZSB1c2VyP2QCBw8PFgYfDgUMU2lnbiBpbiBoZXJlHwEFDFNpZ24gaW4gaGVyZR8DBRMvYWNjb3VudC9sb2ctaW4/cj0vZGQCCQ8WAh8BBR9Ob3QgYSByZWdpc3RlcmVkPGJyPiBzaXRlIHVzZXI/ZAILDw8WBh8OBQ1SZWdpc3RlciBIZXJlHwEFDVJlZ2lzdGVyIEhlcmUfAwUZL2FjY291bnQvcmVnaXN0cmF0aW9uP3I9L2RkAgsPZBYCZg9kFgJmD2QWCAIBDxYCHwEFDldlJ3JlIFNvcnJ5Li4uZAIDDxYCHwEF9AE8cD5EdWUgdG8gdGhlIHByb3ByaWV0YXJ5IG5hdHVyZSBvZiB0aGlzIGluZm9ybWF0aW9uLCB5b3UgYXJlIG5vdCBhdXRob3JpemVkIHRvIGFjY2VzcyB0aGlzIHBhZ2UuPC9wPgo8cD5Ib3dldmVyLCBvdXIgPGEgaHJlZj0iL3Jlc2VhcmNoIj5yZXNlYXJjaDwvYT4gc2VjdGlvbiBpbmNsdWRlcyBpbmZvcm1hdGlvbiB0aGF0IGlzIGF2YWlsYWJsZSB0byBhbGwgbWVtYmVycywgYW5kIGlzIHVwZGF0ZWQgZnJlcXVlbnRseS48L3A+ZAIFDw8WBh8OBQ5HbyBUbyBSZXNlYXJjaB8BBQ5HbyBUbyBSZXNlYXJjaB8DBQkvcmVzZWFyY2hkZAIHDw8WBh8OBQRCYWNrHwEFBEJhY2sfAwUBL2RkAg0PZBYCZg9kFgJmD2QWCAIBDxYCHwEFG0xvZ2luL1JlZ2lzdHJhdGlvbiBSZXF1aXJlZGQCAw8WAh8BBewBPHA+WW91IG11c3QgYmUgbG9nZ2VkIGluIHRvIGFjY2VzcyBMYXNlciBUaGVyYXB5IFUgY29udGVudC4gSWYgeW91IGFyZSBhIHJlZ2lzdGVyZWQgdXNlciwgcGxlYXNlIGVudGVyIHlvdXIgdXNlcm5hbWUgYW5kIHBhc3N3b3JkIGJlbG93LiAgT3IsIGNsaWNrIG9uICI8YSBocmVmPSIvYWNjb3VudC9yZWdpc3RyYXRpb24iPnJlZ2lzdGVyPC9hPiIgaWYgeW91IGFyZSBuZXcgdG8gTGFzZXIgVGhlcmFweSBVLjwvcD5kAgcPDxYGHw4FDFNpZ24gaW4gaGVyZR8BBQxTaWduIGluIGhlcmUfAwUTL2FjY291bnQvbG9nLWluP3I9L2RkAgsPDxYGHw4FDVJlZ2lzdGVyIEhlcmUfAQUNUmVnaXN0ZXIgSGVyZR8DBRkvYWNjb3VudC9yZWdpc3RyYXRpb24/cj0vZGQYCgUuY29udGVudF8wJGNvbnRyb2xzXzEkbHZDb2x1bW5PbmUkY3RybDEkbHZJdGVtcw8UKwAOZGRkZGRkZBQrAANkZGQCA2RkZGYC/////w9kBS5jb250ZW50XzAkY29udHJvbHNfMSRsdkNvbHVtbk9uZSRjdHJsMyRsdkl0ZW1zD2dkBS5jb250ZW50XzAkY29udHJvbHNfMSRsdkNvbHVtblR3byRjdHJsMCRsdkl0ZW1zD2dkBSBjb250ZW50XzAkY29udHJvbHNfMSRsdkNvbHVtblR3bw8UKwAOZGRkZGRkZBQrAANkZGQCA2RkZGYC/////w9kBS5jb250ZW50XzAkY29udHJvbHNfMSRsdkNvbHVtbk9uZSRjdHJsMiRsdkl0ZW1zDxQrAA5kZGRkZGRkFCsAA2RkZAIDZGRkZgL/////D2QFLmNvbnRlbnRfMCRjb250cm9sc18xJGx2Q29sdW1uVHdvJGN0cmwyJGx2SXRlbXMPZ2QFLmNvbnRlbnRfMCRjb250cm9sc18xJGx2Q29sdW1uT25lJGN0cmwwJGx2SXRlbXMPFCsADmRkZGRkZGQUKwADZGRkAgNkZGRmAv////8PZAUgY29udGVudF8wJGNvbnRyb2xzXzEkbHZDb2x1bW5PbmUPFCsADmRkZGRkZGQ8KwAEAAIEZGRkZgL/////D2QFLmNvbnRlbnRfMCRjb250cm9sc18xJGx2Q29sdW1uVHdvJGN0cmwxJGx2SXRlbXMPZ2QFIWNvbnRlbnRfMCRjdGwwMCRsdkZvb3RlckNvcHlyaWdodA8UKwAOZGRkZGRkZBQrAAJkZAICZGRkZgL/////D2SDWG917GBIa2L/8b76gSPkGTizi1k5JAAefvOjIWBrog==" />
        </div>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="E6093701" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAOW7czaBwHSLDVBAKv6+1fx2tbGTf6DIj8aI2VZu0zVDenvuLazfQj9DlVBe/4+vBmI7cwnFHYupA1576mJI5l3v2QSetZga02kQpcfG4TW4Q==" />
        </div> *@

        <div class="page-container">
            <header class="site-header site-header-small">
                <a href="/" title="LaserTherapyU.org, LLC" class="header-logo">LaserTherapyU.org, LLC</a>
                <div class="header-top">
                    <ul class="header-account-nav">
                        <li class="header-account-item header-account-newsletter"><a href="/newsletter-signup" title="Newsletter" class="header-account-link">Newsletter</a></li>
                        <li class="header-account-item header-account-loginlogout">

                            <a href="/account/log-in" title="" class="header-account-link header-account-login">Log In/Register</a>

                        </li>
                    </ul>

                </div>

                <div class="header-middle">
                    <a href="#" title="Menu" class="header-nav-toggle">Menu</a>
                    <a href="#" title="Search" class="header-search-toggle">Search</a>

                    <div class="header-cart">
                        <a href="#" class="header-cart-link">
                            <span class="header-cart-count"></span>

                        </a>
                        <div class="showCart">
                            <span class="closeIt">X</span>
                            <h6>Added to Cart</h6>
                            <div class="wrap">
                                <table>

                                    <tbody>
                                        <tr>
                                            <td>Your cart is currently empty.</td>
                                        </tr>

                                        <tr class="buttonTR">
                                            <td class="quantityTotal" colspan="2"></td>
                                            <td class="subTotal" colspan="2"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btnWrap">
                                    <a class="btn btn-blue closeIt" href="#">Continue Shopping</a>


                                    <a class="btn btn-green checkout" href="/account/log-in?r=cart" style="display:none;">Check Out</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="header-advanced-search">
                    <a href="#" title="Advanced Search" class="header-advanced-link" style="display:none;"></a>
                    <div class="header-search">
                        <input type="text" placeholder="Search" class="header-search-input  lu-search-tb" maxlength="2000">
                        <input type="button" value="Go" class="header-search-button lu-search">
                    </div>
                </div>

                <nav class="header-nav" style="display: none;">
                    <ul>

                        <li class="header-nav-item header-nav-parent">
                            <a href="#" title="Webinars">Webinars</a><span class="header-nav-expand"></span>

                            <ul>

                                <li><a href="/webinars/veterinary-webinars">Veterinary Webinars</a></li>

                                <li><a href="/webinars/future-webinars">Future Webinars</a></li>

                                <li><a href="/webinars/pre-recorded-webinars">Pre-Recorded Webinars</a></li>

                            </ul>

                        </li>

                        <li class="header-nav-item">
                            <a href="/protocols" title="Protocols">Protocols</a>

                        </li>

                        <li class="header-nav-item">
                            <a href="/research" title="Research">Research</a>

                        </li>

                        <li class="header-nav-item">
                            <a href="/videos" title="Videos">Videos</a>

                        </li>


                        <li class="header-nav-item header-nav-parent">
                            <span class="header-quick-links">Quick Links</span>
                            <span class="header-nav-expand"></span>
                            <ul>

                                <li><a href="/featured-content/what-is-laser-therapy" title="What is Laser Therapy">What is Laser Therapy</a></li>

                                <li><a href="/account/my-profile" title="My Profile">My Profile</a></li>

                            </ul>
                        </li>


                        <li class="header-nav-item header-secondary-nav-item">
                            <a href="/laser-news" title="Laser News">Laser News</a>
                        </li>

                        <li class="header-nav-item header-secondary-nav-item">
                            <a href="/about_laser_therapy_u" title="About Laser Therapy University">About Laser Therapy University</a>
                        </li>

                        <li class="header-nav-item header-secondary-nav-item">
                            <a href="/faqs" title="FAQs">FAQs</a>
                        </li>

                        <li class="header-nav-item header-secondary-nav-item">
                            <a href="/contact-us" title="Contact Us">Contact Us</a>
                        </li>

                    </ul>
                </nav>

                <div class="header-bottom">

                    <div class="header-wrapper">
                        <a href="/subscriptions" title="/subscriptions" class="header-tagline">
                            <span>Subscribe For Savings</span>
                        </a>
                    </div>

                </div>

            </header>
            <header class="site-header site-header-large">
                <a href="/" title="LaserTherapyU.org, LLC" class="header-logo">LaserTherapyU.org, LLC</a>
                <div class="header-top">
                    <div class="header-wrapper">
                        <div class="header-cart">
                            <a href="#" class="header-cart-link">
                                <span class="header-cart-count"></span>

                                View Cart
                            </a>

                            <div class="showCart">
                                <span class="closeIt">X</span>
                                <h6>Added to Cart</h6>
                                <div class="wrap">
                                    <table>

                                        <tbody>
                                            <tr>
                                                <td>Your cart is currently empty.</td>
                                            </tr>

                                            <tr class="buttonTR">
                                                <td class="quantityTotal" colspan="2"></td>
                                                <td class="subTotal" colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btnWrap">
                                        <a class="btn btn-blue closeIt" href="#">Continue Shopping</a>

                                        <a href="/account/log-in" title="Log In/Register" class="btn btn-green checkout">Login/Register to complete Purchase</a>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="header-account-nav">
                            <!--<li class="header-account-item header-account-newsletter"><a href="/newsletter-signup" title="Newsletter Sign Up" class="header-account-link">Newsletter Sign Up</a></li>-->
                            <li class="header-account-item header-account-loginlogout">
                                <a href="/account/log-in" title="Log In/Register" class="header-account-link header-account-login">Log In/Register</a>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="header-wrapper">
                        <div class="site-search">
                            <div class="site-search-wrapper">
                                <input type="text" class="site-search-input lu-search-tb" placeholder="Search" maxlength="2000">
                                <input type="button" class="site-search-button lu-search" value="Go">
                            </div>
                            <a class="site-search-link" title="Advanced Search" href="/search">Advanced Search</a>
                        </div>
                    </div>
                </div>
            </header>
            <section id="secMainContainer" class="main-container">

                <section class="content-navigation">

                    <nav role="navigation" class="site-main-nav">
                        <ul>

                            <li data-nav="nav1" class="site-main-nav-link header-nav-parent hasSubNav" onclick="showSubNav();">
                                <a id="webinars" title="Webinars" href="#">
                                    <span>Webinars</span>
                                </a>

                                <ul>

                                    <li><a href="/webinars/veterinary-webinars">Veterinary Webinars</a></li>

                                    <li><a href="/webinars/future-webinars">Future Webinars</a></li>

                                    <li><a href="/webinars/pre-recorded-webinars">Pre-Recorded Webinars</a></li>

                                </ul>

                            </li>

                            <li data-nav="nav2" class="site-main-nav-link ">
                                <a title="Protocols" href="/protocols">
                                    <span>Protocols</span>
                                </a>

                            </li>

                            <li data-nav="nav3" class="site-main-nav-link ">
                                <a title="Research" href="/research">
                                    <span>Research</span>
                                </a>

                            </li>

                            <li data-nav="nav4" class="site-main-nav-link ">
                                <a title="Videos" href="/videos">
                                    <span>Videos</span>
                                </a>

                            </li>

                        </ul>
                    </nav>

                    <div class="">
                        <div class="">
                            <a href="/subscriptions" title="Medical Professionals: Subscribe Today for Immediate Savings" class="header-tagline">
                                <span class=""><span class="shimmer idx0" style="color: rgb(255, 255, 255);">M</span><span class="shimmer idx1" style="color: rgb(255, 255, 255);">e</span><span class="shimmer idx2" style="color: rgb(255, 255, 255);">d</span><span class="shimmer idx3" style="color: rgb(255, 255, 255);">i</span><span class="shimmer idx4" style="color: rgb(255, 255, 255);">c</span><span class="shimmer idx5" style="color: rgb(255, 255, 255);">a</span><span class="shimmer idx6" style="color: rgb(255, 255, 255);">l</span> <span class="shimmer idx7" style="color: rgb(255, 255, 255);">P</span><span class="shimmer idx8" style="color: rgb(255, 255, 255);">r</span><span class="shimmer idx9" style="color: rgb(255, 255, 255);">o</span><span class="shimmer idx10" style="color: rgb(255, 255, 255);">f</span><span class="shimmer idx11" style="color: rgb(255, 255, 255);">e</span><span class="shimmer idx12" style="color: rgb(255, 255, 255);">s</span><span class="shimmer idx13" style="color: rgb(255, 255, 255);">s</span><span class="shimmer idx14" style="color: rgb(255, 255, 255);">i</span><span class="shimmer idx15" style="color: rgb(255, 255, 255);">o</span><span class="shimmer idx16" style="color: rgb(255, 255, 255);">n</span><span class="shimmer idx17" style="color: rgb(255, 255, 255);">a</span><span class="shimmer idx18" style="color: rgb(255, 255, 255);">l</span><span class="shimmer idx19" style="color: rgb(255, 255, 255);">s</span>: <span class="shimmer idx20" style="color: rgb(255, 255, 255);">S</span><span class="shimmer idx21" style="color: rgb(255, 255, 255);">u</span><span class="shimmer idx22" style="color: rgb(255, 255, 255);">b</span><span class="shimmer idx23" style="color: rgb(255, 255, 255);">s</span><span class="shimmer idx24" style="color: rgb(255, 255, 255);">c</span><span class="shimmer idx25" style="color: rgb(255, 255, 255);">r</span><span class="shimmer idx26" style="color: rgb(255, 255, 255);">i</span><span class="shimmer idx27" style="color: rgb(255, 255, 255);">b</span><span class="shimmer idx28" style="color: rgb(255, 255, 255);">e</span> <span class="shimmer idx29" style="color: rgb(255, 255, 255);">T</span><span class="shimmer idx30" style="color: rgb(255, 255, 255);">o</span><span class="shimmer idx31" style="color: rgb(255, 255, 255);">d</span><span class="shimmer idx32" style="color: rgb(255, 255, 255);">a</span><span class="shimmer idx33" style="color: rgb(255, 255, 255);">y</span> <span class="shimmer idx34" style="color: rgb(255, 255, 255);">f</span><span class="shimmer idx35" style="color: rgb(255, 255, 255);">o</span><span class="shimmer idx36" style="color: rgb(255, 255, 255);">r</span> <span class="shimmer idx37" style="color: rgb(255, 255, 255);">I</span><span class="shimmer idx38" style="color: rgb(255, 255, 255);">m</span><span class="shimmer idx39" style="color: rgb(255, 255, 255);">m</span><span class="shimmer idx40" style="color: rgb(255, 255, 255);">e</span><span class="shimmer idx41" style="color: rgb(255, 255, 255);">d</span><span class="shimmer idx42" style="color: rgb(255, 255, 255);">i</span><span class="shimmer idx43" style="color: rgb(255, 255, 255);">a</span><span class="shimmer idx44" style="color: rgb(255, 255, 255);">t</span><span class="shimmer idx45" style="color: rgb(255, 255, 255);">e</span> <span class="shimmer idx46" style="color: rgb(255, 255, 255);">S</span><span class="shimmer idx47" style="color: rgb(255, 255, 255);">a</span><span class="shimmer idx48" style="color: rgb(255, 255, 255);">v</span><span class="shimmer idx49" style="color: rgb(255, 255, 255);">i</span><span class="shimmer idx50" style="color: rgb(255, 255, 255);">n</span><span class="shimmer idx51" style="color: rgb(255, 255, 255);">g</span><span class="shimmer idx52" style="color: rgb(255, 255, 255);">s</span></span>
                            </a>
                        </div>
                    </div>




                    <nav class="site-quick-nav">
                        <h2 class="site-quick-nav-h2">Quick Links</h2>
                        <ul>

                            <li class="site-quick-nav-link"><a title="What is Laser Therapy" href="/featured-content/what-is-laser-therapy">What is Laser Therapy</a></li>

                            <li class="site-quick-nav-link"><a title="My Profile" href="/account/my-profile">My Profile</a></li>

                        </ul>
                    </nav>

                    <nav class="site-secondary-nav">
                        <ul>

                            <li class="site-secondary-nav-link">
                                <a title="Laser News" href="/laser-news">Laser News</a>
                            </li>

                            <li class="site-secondary-nav-link">
                                <a title="About Laser Therapy University" href="/about_laser_therapy_u">About Laser Therapy University</a>
                            </li>

                            <li class="site-secondary-nav-link">
                                <a title="FAQs" href="/faqs">FAQs</a>
                            </li>

                            <li class="site-secondary-nav-link">
                                <a title="Contact Us" href="/contact-us">Contact Us</a>
                            </li>

                        </ul>

                    </nav>
                    <div class="socials">
                        <ul class="header-social-nav">
                            <li class="header-account-item header-account-newsletter"><a href="/newsletter-signup" title="Newsletter Sign Up" class="header-account-link">Newsletter Sign Up</a></li>

                            <li class="header-social-item header-social-facebook"><a href="https://www.facebook.com/LaserTherapyU" rel="external" title="Follow Us on Facebook" class="header-social-link">Facebook</a></li>
                            <!--<li class="header-social-item header-social-twitter"><a href="https://twitter.com/LaserTherapyU" rel="external" title="" class="header-social-link">Twitter</a></li>-->
                            <li class="header-social-item header-social-instagram"><a href="https://www.instagram.com/lasertherapyu/" rel="external" title="Instagram" class="header-social-link" target="__blank">Instagram</a></li>

                        </ul>
                    </div>



                    <div class="site-banner">
                        <a rel="external" href="" title="" target="">
                            <img width="0" height="0" alt="" src="">
                        </a>
                    </div>

                </section>
                
                <section class="content-container">
                    <nav role="navigation" class="site-subnav" style="left: 0px;">


                        <div data-nav="nav1" class="site-subnav-item site-subnav-webinars" style="display: block;">
                            <h2 class="site-subnav-h2 site-subnav-webinars-h2"><a href="/webinars" title="Webinars">Webinars</a></h2>

                            <ul>

                                <li class="site-subnav-link">
                                    <a href="/webinars/veterinary-webinars" title="Veterinary Webinars">Veterinary Webinars</a>
                                </li>

                                <li class="site-subnav-link">
                                    <a href="/webinars/future-webinars" title="Future Webinars">Future Webinars</a>
                                </li>

                                <li class="site-subnav-link">
                                    <a href="/webinars/pre-recorded-webinars" title="Pre-Recorded Webinars">Pre-Recorded Webinars</a>
                                </li>

                            </ul>

                        </div>

                        <div data-nav="nav2" class="site-subnav-item site-subnav-protocols">
                            <h2 class="site-subnav-h2 site-subnav-protocols-h2"><a href="/protocols" title="Protocols">Protocols</a></h2>

                        </div>

                        <div data-nav="nav3" class="site-subnav-item site-subnav-research">
                            <h2 class="site-subnav-h2 site-subnav-research-h2"><a href="/research" title="Research">Research</a></h2>

                        </div>

                        <div data-nav="nav4" class="site-subnav-item site-subnav-videos">
                            <h2 class="site-subnav-h2 site-subnav-videos-h2"><a href="/videos" title="Videos">Videos</a></h2>

                        </div>

                    </nav>
                    <section class="content-shell">

                        <style>
                            body {
                                opacity: 0;
                            }

                            .main_slider_wrappe {
                                max-height: 432px;
                            }

                            .main_slider_wrapper img {
                                max-width: 100%;
                                height: auto;
                            }
                        </style>
                        <script>
                            $("body").delay(700).animate({ opacity: "1" }, 500);
                        </script>
                        @RenderBody()
                        
                        <footer class="site-footer ">

                            <ul class="site-footer-nav">
                                <li class="site-footer-item">C 2025 LaserTherapyU.org, LLC</li>

                                <li class="site-footer-item">
                                    <a id="content_0_ctl00_lvFooterCopyright_hlLink_0" title="Terms &amp; Conditions" class="site-footer-link" href="/terms-and-conditions">Terms & Conditions</a>
                                </li>

                                <li class="site-footer-item">
                                    <a id="content_0_ctl00_lvFooterCopyright_hlLink_1" title="Privacy Policy" class="site-footer-link" href="/privacy-policy">Privacy Policy</a>
                                </li>

                            </ul>
                            <p class="wrapper_copyright">
                                The scanning, uploading and distribution of LTU documents via the Internet or via any other means without the permission of the author is illegal and punishable by law.
                            </p>


                            <ul class="footer-social-nav">
                                <li class="footer-social-item footer-social-facebook"><a id="content_0_ctl00_hlFacebook" title="Follow Us on Facebook" class="footer-social-link" href="https://www.facebook.com/LaserTherapyU">Follow Us on Facebook</a></li>
                                <li class="footer-social-item footer-social-twitter"><a id="content_0_ctl00_hlTwitter" title="Follow Us on Twitter" class="footer-social-link" href="https://twitter.com/LaserTherapyU">Follow Us on Twitter</a></li>

                            </ul>

                        </footer>

                    </section>
                </section>

            </section>
        </div>
        <input type="hidden" name="hdnPageID" id="hdnPageID" value="C64F1F79ECC047F283E0AE881D95DAD7" />
        <div id="overlay">
        </div>
        <div id="modal">

            <img id="ctl01_imgUniversityLogo" src="" style="height:137px;width:163px;" />
            <h1></h1>

            <input name="ctl01$btnProceed" type="button" id="ctl01_btnProceed" class="modal-button btn btn-blue" />

        </div>

        <script>
            jQuery(function ($) {

                $('#modal').on('click', '.modal-button.btn.btn-blue', function (e) {
                    e.preventDefault();

                    $.post('/handlers/laseru/disclaimermodal.ashx', function (data) {
                    }).success(function () {
                        $('#modal').fadeOut('slow', function () {
                            $('#overlay').hide();
                        });
                    });
                });
            });
        </script>

        <div class="modalBg registration-modal" style="display:none;">
            <div class="theModal">
                <span id="ctl02_lblClose" class="closeIt">X</span>
                <img alt="Laser Therapy University" src="/images/t_laser-therapy-university-logo.png">

                <div class="fixWrap">
                    <h1>Please sign in or register to view this content.</h1>

                    <div class="modalOption">
                        <h2>Already a registered<br> site user?</h2>
                        <a id="ctl02_hlLogin" title="Sign in here" class="btn btn-green" href="/account/log-in?r=/">Sign in here</a>
                    </div>

                    <div class="modalOption">
                        <h2>Not a registered<br> site user?</h2>
                        <a id="ctl02_hlRegister" title="Register Here" class="btn btn-green" href="/account/registration?r=/">Register Here</a>
                    </div>

                </div>
            </div>
        </div>
        <div id="ctl03_pnlAccessDenied" class="modalBg access-denied" style="display:none;">

            <div class="theModal">
                <img alt="Laser Therapy University" src="/images/t_laser-therapy-university-logo.png">

                <div class="fixWrap">
                    <h1>We're Sorry...</h1>
                    <p>Due to the proprietary nature of this information, you are not authorized to access this page.</p>
                    <p>However, our <a href="/research">research</a> section includes information that is available to all members, and is updated frequently.</p>

                    <div class="modalOption">
                        <a id="ctl03_hlResearch" title="Go To Research" class="btn btn-green" href="/research">Go To Research</a>
                    </div>

                    <div class="modalOption">
                        <a id="ctl03_hlBack" title="Back" class="btn btn-green" href="/">Back</a>
                    </div>
                </div>
            </div>

        </div>
        <div id="ctl04_pnlAccessDenied" class="modalBg access-denied-not-authenticated" style="display:none;">

            <div class="theModal">
                <img alt="Laser Therapy University" src="/images/t_laser-therapy-university-logo.png">

                <div class="fixWrap">
                    <h1>Login/Registration Required</h1>

                    <p>You must be logged in to access Laser Therapy U content. If you are a registered user, please enter your username and password below.  Or, click on "<a href="/account/registration">register</a>" if you are new to Laser Therapy U.</p>

                    <div class="modalOption">
                        <h2></h2>
                        <a id="ctl04_hlLogin" title="Sign in here" class="btn btn-green" href="/account/log-in?r=/">Sign in here</a>
                    </div>

                    <div class="modalOption">
                        <h2></h2>
                        <a id="ctl04_hlRegister" title="Register Here" class="btn btn-green" href="/account/registration?r=/">Register Here</a>
                    </div>
                </div>
            </div>

        </div>
        
        <script id="largeHeader" type="text/x-handlebars-template">
            <header class="site-header site-header-large">
                <a href="/" title="{{CompanyName}}" class="header-logo">{{CompanyName}}</a>
                <div class="header-top">
                    <div class="header-wrapper">
                        <div class="header-cart">
                            <a href="#" class="header-cart-link">{{#if ItemsInCart}}
                                <span class="header-cart-count has-count">{{ItemsInCart}}</span>
                                {{else}}
                                <span class="header-cart-count"></span>
                                {{/if}}
                                {{ViewCart}}
                            </a>

                            <div class="showCart">
                                <span class="closeIt">X</span>
                                <h6>{{AddedToCart}}</h6>
                                <div class="wrap">
                                    <table>
                                        {{#if CartItems}}
                                        {{#each CartItems}}
                                        <tr>
                                            <td class="productImg"><span class="removeProduct" data-cartid="{{ShoppingCartRecID}}">x</span></td>
                                            <td class="productTitle"><a href="{{Url}}" title="{{Variant.Name}}">{{Variant.Name}}</a></td>
                                            <td class="quantity">{{Quantity}}</td>
                                            <td class="price">{{Price}}</td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td>{{YourCartIsEmpty}}</td>
                                        </tr>
                                        {{/if}}
                                        <tr class="buttonTR">
                                            <td class="quantityTotal" colspan="2">{{CartItemCount}}</td>
                                            <td class="subTotal" colspan="2">{{SubTotal}}</td>
                                        </tr>
                                    </table>
                                    <div class="btnWrap">
                                        <a class="btn btn-blue closeIt" href="#">{{ContinueShopping}}</a>
                                        {{#if MyProfile}}
                                            {{#if CartItems}}
                                                <a class="btn btn-green checkout" href="{{CheckOutUrl}}">{{CheckOut}}</a>
                                                {{else}}
                                                <a class="btn btn-green checkout" href="{{CheckOutUrl}}" style="display: none;">{{CheckOut}}</a>
                                            {{/if}}
                                        {{else}}
                                            <a href="{{LogInUrl}}" title="{{LogInRegister}}" class="btn btn-green checkout">Login/Register to complete Purchase</a>
                                        {{/if}}


                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="header-account-nav">
                            <!--<li class="header-account-item header-account-newsletter"><a href="{{NewsletterSignUpUrl}}" title="{{NewsletterSignUp}}" class="header-account-link">{{NewsletterSignUp}}</a></li>-->
                            <li class="header-account-item header-account-loginlogout">{{#if MyProfile}}
                                <a href="{{MyProfileUrl}}" title="{{MyProfile}}" class="header-account-link header-account-login">{{MyProfile}}</a>
                                <a href="{{LogoutUrl}}" title="{{Logout}}" class="header-account-link header-account-logout">{{Logout}}</a>
                                {{else}}
                                <a href="{{LogInUrl}}" title="{{LogInRegister}}" class="header-account-link header-account-login">{{LogInRegister}}</a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="header-wrapper">
                        <div class="site-search">
                            <div class="site-search-wrapper">
                                <input type="text" class="site-search-input lu-search-tb" placeholder="{{search}}" maxlength="2000">
                                <input type="button" class="site-search-button lu-search" value="{{go}}">
                            </div>
                            <a class="site-search-link" title="{{advancedSearch}}" href="{{href}}">{{advancedSearch}}</a>
                        </div>
                    </div>
                </div>
            </header>
        </script>

        <script id="largeSiteSearch" type="text/x-handlebars-template">

        </script>

        <script id="largeMainNav" type="text/x-handlebars-template">
            <nav role="navigation" class="site-main-nav">
                <ul>
                    {{#each this}}
                <li data-nav="{{dataNavAttr}}" class="site-main-nav-link {{cssClass}}">
                    <a title="{{text}}" href="{{href}}">
                        <span>{{sectionName}}</span>
                    </a>
                    {{#if subNavList}}
                    <ul>
                        {{#each subNavList}}
                        <li><a href="{{href}}">{{text}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                    {{/each}}
                </ul>
            </nav>
        </script>

        <script id="subscribsTemplate" type="text/x-handlebars-template">
            <div class="">
                <div class="">
                    <a href="{{SubscribeforSavingsUrl}}" title="{{SubscribeforSavings}}" class="header-tagline">
                        <span>{{SubscribeforSavings}}</span>
                    </a>
                </div>
            </div>

        </script>

        <script id="largeSlideOutNav" type="text/x-handlebars-template">
            {{#each this}}
            <div data-nav="{{dataNavAttr}}" class="site-subnav-item site-subnav-{{sectionCssClass}}">
                <h2 class="site-subnav-h2 site-subnav-{{sectionCssClass}}-h2"><a href="{{href}}" title="{{sectionName}}">{{sectionName}}</a></h2>
                {{#if subNavList}}
                    <ul>
                        {{#each subNavList}}
                        <li class="site-subnav-link">
                            <a href="{{href}}" title="{{text}}">{{text}}</a>
                        </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            {{/each}}
        </script>

        <script id="quickLinks" type="text/x-handlebars-template">
            <nav class="site-quick-nav">
                <h2 class="site-quick-nav-h2">{{sectionName}}</h2>
                <ul>
                    {{#each subNavList}}
                <li class="site-quick-nav-link"><a title="{{text}}" href="{{href}}">{{text}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </script>

        <script id="secondaryNavigation" type="text/x-handlebars-template">
            <nav class="site-secondary-nav">
                <ul>
                    {{#each secondaryNav}}
                    <li class="site-secondary-nav-link">
                        <a title="{{text}}" href="{{href}}">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>

            </nav>
            <div class="socials">
                <ul class="header-social-nav">
                    <li class="header-account-item header-account-newsletter"><a href="{{header.NewsletterSignUpUrl}}" title="{{header.NewsletterSignUp}}" class="header-account-link">{{header.NewsletterSignUp}}</a></li>

                    <li class="header-social-item header-social-facebook"><a href="{{header.FacebookUrl}}" rel="external" title="{{header.FacebookLinkTitle}}" class="header-social-link">{{header.FacebookName}}</a></li>
                    <!--<li class="header-social-item header-social-twitter"><a href="{{header.TwitterUrl}}" rel="external" title="{{header.TwitterTitle}}" class="header-social-link">{{header.TwitterName}}</a></li>-->
                    <li class="header-social-item header-social-instagram"><a href="https://www.instagram.com/lasertherapyu/" rel="external" title="Instagram" class="header-social-link" target="__blank">Instagram</a></li>
                    {{#if header.LinkedInUrl}}
                    <li class="header-social-item header-social-linkedin"><a href="{{header.LinkedInUrl}}" rel="external" title="{{header.LinkedInLinkTitle}}" class="header-social-link">{{header.LinkedInName}}</a></li>
                    {{/if}}
                </ul>
            </div>

        </script>

        <script id="smallAds" type="text/x-handlebars-template">
            {{#each ads}}
            <div class="site-banner">
                <a rel="external" href="{{Url}}" title="{{Text}}" target="{{Target}}">
                    <img width="{{Width}}" height="{{Height}}" alt="{{Alt}}" src="{{ImageSrc}}" />
                </a>
            </div>
            {{/each}}
        </script>

        <script id="narrowHeader" type="text/x-handlebars-template">
                <header class="site-header site-header-narrow">
                    <a href="/" title="{{header.CompanyName}}" class="header-logo">{{header.CompanyName}}</a>
                    <div class="header-top">
                        <div class="header-wrapper">
                            <a href="#" title="{{header.Menu}}" class="header-nav-toggle">{{header.Menu}}</a>
                            <a href="#" title="{{header.Search}}" class="header-search-toggle">{{header.Search}}</a>
                            <div class="header-cart">
                                <a href="#" title="{{header.ViewCart}}" class="header-cart-link">{{header.ViewCart}}</a>
                                <div class="showCart">
                                    <span class="closeIt">X</span>
                                    <h6>{{header.AddedToCart}}</h6>
                                    <div class="wrap">
                                        <table>
                                            {{#if header.CartItems}}
                                        {{#each header.CartItems}}
                                        <tr>
                                            <td class="productImg"><span class="removeProduct" data-cartid="{{ShoppingCartRecID}}">x</span></td>
                                            <td class="productTitle"><a href="{{Url}}" title="{{Variant.Name}}">{{Variant.Name}}</a></td>
                                            <td class="quantity">{{Quantity}}</td>
                                            <td class="price">{{Price}}</td>
                                        </tr>
                                            {{/each}}
                                        {{else}}
                                        <tr>
                                            <td>{{header.YourCartIsEmpty}}</td>
                                        </tr>
                                            {{/if}}
                                        <tr class="buttonTR">
                                            <td class="quantityTotal" colspan="2">{{header.CartItemCount}}</td>
                                            <td class="subTotal" colspan="2">{{header.SubTotal}}</td>
                                        </tr>
                                        </table>
                                        <div class="btnWrap">
                                            <a class="btn btn-blue closeIt" href="#">{{header.ContinueShopping}}</a>

                                        {{#if  header.CartItems}}
                                        <a class="btn btn-green checkout" href="{{header.CheckOutUrl}}">{{header.CheckOut}}</a>
                                        {{else}}
                                        <a class="btn btn-green checkout" href="{{header.CheckOutUrl}}" style="display:none;">{{header.CheckOut}}</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="header-account-nav">
                            <li class="header-account-item header-account-newsletter"><a href="{{header.NewsletterSignUpUrl}}" title="{{header.NewsletterSignUp}}" class="header-account-link">{{header.NewsletterSignUp}}</a></li>
                            <li class="header-account-item header-account-loginlogout">
                                {{#if header.MyProfile}}
                                <a href="{{header.MyProfileUrl}}" title="{{header.MyProfile}}" class="header-account-link header-account-login">{{header.MyProfile}}</a>
                                <a href="{{header.LogoutUrl}}" title="{{header.Logout}}" class="header-account-link header-account-logout">{{header.Logout}}</a>
                                {{else}}
                                <a href="{{header.LogInUrl}}" title="{{header.LogInRegister}}" class="header-account-link header-account-login">{{header.LogInRegister}}</a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-advanced-search">
                    <a href="#" title="{{search.advancedSearch}}" class="header-advanced-link" style="display:none;">{{search.advanced}}</a>
                    <div class="header-search">
                        <input type="text" placeholder="{{search.search}}" class="header-search-input lu-search-tb"  maxlength="2000"/>
                        <input type="button" value="{{search.go}}" class="header-search-button lu-search" />
                    </div>
                </div>
                <nav class="header-nav">
                    <ul>
                    {{#each mainNav}}
                        <li class="header-nav-item">
                            <a href="{{href}}" title="{{sectionName}}">{{sectionName}}</a>
                            {{#if subNavList}}
                            <ul>
                                {{#each subNavList}}
                                <li><a href="{{href}}">{{text}}</a></li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                            {{/each}}
                        {{#if quickLinks.subNavList}}
                        <li class="header-nav-item header-nav-parent">
                            <span class="header-quick-links">{{quickLinks.sectionName}}</span>
                            <span class="header-nav-expand"></span>
                            <ul>
                                {{#each quickLinks.subNavList}}
                                <li><a href="{{href}}" title="{{text}}">{{text}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                            {{/if}}
                    {{#each secondaryNav}}
                        <li class="header-nav-item header-secondary-nav-item">
                            <a href="{{href}}" title="{{text}}">{{text}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </nav>
                <div class="header-bottom">
                    <div class="header-wrapper">
                        <a href="{{header.SubscribeforSavingsUrl}}" title="{{header.SubscribeforSavingsUrl}}" class="header-tagline">
                            <span>{{header.SubscribeforSavings}}</span>
                        </a>
                    </div>
                </div>
            </header>
        </script>

        <script id="smallHeader" type="text/x-handlebars-template">
                <header class="site-header site-header-small">
                <a href="/" title="{{header.CompanyName}}" class="header-logo">{{header.CompanyName}}</a>
                <div class="header-top">
                    <ul class="header-account-nav">
                        <li class="header-account-item header-account-newsletter"><a href="{{header.NewsletterSignUpUrl}}" title="{{header.NewsletterSignUpMobile}}" class="header-account-link">{{header.NewsletterSignUpMobile}}</a></li>
                        <li class="header-account-item header-account-loginlogout">
                               {{#if header.MyProfile}}
                                <a href="{{header.MyProfileUrl}}" title="{{header.MyProfile}}" class="header-account-link header-account-login">{{header.MyProfile}}</a>
                                <a href="{{header.LogoutUrl}}" title="{{header.Logout}}" class="header-account-link header-account-logout">{{header.Logout}}</a>
                                {{else}}
                                <a href="{{header.LogInUrl}}" title="{{header.LogIn}}" class="header-account-link header-account-login">{{header.LogInRegister}}</a>
                                {{/if}}
                            </li>
                        </ul>

                    </div>

                    <div class="header-middle">
                        <a href="#" title="{{header.Menu}}" class="header-nav-toggle">{{header.Menu}}</a>
                        <a href="#" title="{{header.Search}}" class="header-search-toggle">{{header.Search}}</a>

                        <div class="header-cart">
                            <a href="#" class="header-cart-link">
                                <span class="header-cart-count">{{header.ItemsInCart}}</span>
                                {{ViewCart}}
                            </a>
                            <div class="showCart">
                                <span class="closeIt">X</span>
                                <h6>{{header.AddedToCart}}</h6>
                                <div class="wrap">
                                    <table>
                                        {{#if header.CartItems}}
                                        {{#each header.CartItems}}
                                        <tr>
                                            <td class="productImg"><span class="removeProduct" data-cartid="{{ShoppingCartRecID}}">x</span></td>
                                            <td class="productTitle"><a href="{{Url}}" title="{{Variant.Name}}">{{Variant.Name}}</a></td>
                                            <td class="quantity">{{Quantity}}</td>
                                            <td class="price">{{Price}}</td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td>{{header.YourCartIsEmpty}}</td>
                                        </tr>
                                        {{/if}}
                                        <tr class="buttonTR">
                                            <td class="quantityTotal" colspan="2">{{header.CartItemCount}}</td>
                                            <td class="subTotal" colspan="2">{{header.SubTotal}}</td>
                                        </tr>
                                    </table>
                                    <div class="btnWrap">
                                        <a class="btn btn-blue closeIt" href="#">{{header.ContinueShopping}}</a>

                                        {{#if header.CartItems}}
                                        <a class="btn btn-green checkout" href="{{header.CheckOutUrl}}">{{header.CheckOut}}</a>
                                        {{else}}
                                        <a class="btn btn-green checkout" href="{{header.CheckOutUrl}}" style="display:none;">{{header.CheckOut}}</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>

                <div class="header-advanced-search">
                    <a href="#" title="{{search.advancedSearch}}" class="header-advanced-link" style="display:none;">{{search.advanced}}</a>
                    <div class="header-search">
                        <input type="text" placeholder="{{search.search}}" class="header-search-input  lu-search-tb" maxlength="2000" />
                        <input type="button" value="{{search.go}}" class="header-search-button lu-search" />
                    </div>
                </div>


                <nav class="header-nav">
                    <ul>
                        {{#each mainNav}}
                        <li class="header-nav-item">
                            <a href="{{href}}" title="{{sectionName}}">{{sectionName}}</a>
                            {{#if subNavList}}
                            <ul>
                                {{#each subNavList}}
                                <li><a href="{{href}}">{{text}}</a></li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                            {{/each}}
                    {{#if quickLinks.subNavList}}
                        <li class="header-nav-item header-nav-parent">
                            <span class="header-quick-links">{{quickLinks.sectionName}}</span>
                            <span class="header-nav-expand"></span>
                            <ul>
                                {{#each quickLinks.subNavList}}
                                <li><a href="{{href}}" title="{{text}}">{{text}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                            {{/if}}
                    {{#each secondaryNav}}
                        <li class="header-nav-item header-secondary-nav-item">
                            <a href="{{href}}" title="{{text}}">{{text}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </nav>

                <div class="header-bottom">

                    <div class="header-wrapper">
                        <a href="{{header.SubscribeforSavingsUrl}}" title="{{header.SubscribeforSavingsUrl}}" class="header-tagline">
                            <span>{{header.SubscribeforSavingsMobile}}</span>
                        </a>
                    </div>

                </div>

            </header>
        </script>

        <script id="cart" type="text/x-handlebars-template">
            <table>
                {{#each CartItems}}
                    <tr>
                        <td class="productImg"><span class="removeProduct" data-cartid="{{ShoppingCartRecID}}">x</span></td>
                        <td class="productTitle"><a href="{{Url}}" title="{{Variant.Name}}">{{Variant.Name}}</a></td>
                        <td class="quantity">{{Quantity}}</td>
                        <td class="price">{{Price}}</td>
                    </tr>
                {{/each}}
                    <tr class="buttonTR">
                        <td class="quantityTotal" colspan="2">{{CartItemCount}}</td>
                        <td class="subTotal" colspan="2">{{SubTotal}}</td>
                    </tr>
            </table>
        </script>

        <script id="cartEmpty" type="text/x-handlebars-template">
            <table>
                <tr>
                    <td>{{YourCartIsEmpty}}</td>
                </tr>
            </table>
        </script>
        <script>
            jQuery(function ($) {
                $('.buy-product-now').on('click', function (e) {
                    e.preventDefault();

                    var authNeeded = $(this).attr("href") === "#auth";

                    if (authNeeded) {
                        $('.modalBg.registration-modal, .theModal').show();
                        return;
                    }

                    var btnClass = $(this).attr('class');

                    var $quantity = $('.quantityTB').val() != null ? $('.quantityTB').val() : 1;
                    var $wrap = $('.showCart .wrap');
                    var $ppID = $('#hdnPageID').val();
                    var $id = $(this).data('id');

                    if (isNaN($quantity) == false) {

                        //$(document).loading({
                        //    button: $(this),
                        //    showLoading: true
                        //});

                        $.post('/handlers/laseru/addtocart.ashx', { vID: $id, quantity: $quantity, ppID: $ppID }, function (data) {
                        }, 'json').success(function (data) {

                            if (data != null) {
                                if (data.CartItems.length > 0) {
                                    $wrap.find('table').remove();

                                    $('.showCart').fadeIn();
                                    $('.header-cart-count.has-count').text(data.ItemsInCart);

                                    cartTemplate = Handlebars.compile($('#cart').html());
                                    $wrap.prepend(cartTemplate(data));
                                    $wrap.find('.btnWrap .checkout').show();

                                    var itemCount = data.ItemsInCart != null ? data.ItemsInCart : '';

                                    if (itemCount != '') {
                                        $('.header-cart-count.has-count').text(itemCount);
                                    }

                                    alert('The product has successfully been added to your cart. The cart is at top right corner of the page. Please login/register in order to checkout.');
                                }
                            }
                        });

                        //$(document).loading({
                        //    button: $(this),
                        //    fullButtonClass: btnClass,
                        //    showLoading: false
                        //});
                        //$(this).removeAttr("style");
                    }
                });

                $('.page-container').on('click', '.showCart .removeProduct', function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var $wrap = $('.showCart .wrap');

                    $.post('/handlers/laseru/RemoveFromCart.ashx', { scID: $this.data('cartid') }, function (data) {

                    }, 'json').success(function (data) {
                        if (data != null) {

                            var itemCount = data.ItemsInCart != null ? data.ItemsInCart : '';
                            if (data.status != 'empty') {
                                $wrap.find('table').remove();
                                cartTemplate = Handlebars.compile($('#cart').html());
                                $wrap.prepend(cartTemplate(data));
                            } else if (data.status === 'empty') {
                                $wrap.find('table').remove();
                                $wrap.find('.btnWrap .checkout').hide();

                                cartTemplate = Handlebars.compile($('#cartEmpty').html());
                                $wrap.prepend(cartTemplate(data));
                            }

                            if (itemCount != '') {
                                $('.header-cart-count.has-count').text(itemCount);
                            }
                            else {
                                $('.header-cart-count.has-count').removeClass('has-count');
                            }
                        }
                    });
                });

                $('body').search({
                    url: '/search',
                    container: $('.page-container'),
                    textBox: '.lu-search-tb',
                    submitButton: '.lu-search'
                });
            });
        </script>

        <div id="toTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Back To Top</div>

    </form>
    <script>
        Modernizr.testStyles(" #modernizr div:nth-child(3n){width:10px;} ", function (elem, rule) {
            var bool = false, divs = elem.getElementsByTagName("div");
            if (divs.length == 7) {
                var test = window.getComputedStyle ? function (i) {
                    return getComputedStyle(divs[i], null)["width"] == "10px";
                } : function (i) {
                    return divs[i].currentStyle["width"] == "10px";
                };
                bool = !test(0) && !test(1) && test(2) && !test(3) && !test(4) && test(5) && !test(6);
            }
            Modernizr.addTest("nthchildn", bool);
        }, 7);

        Modernizr.load([
        {
            test: Modernizr.mq('only all'),
            nope: '/scripts/respond.js'
        },
        {
            test: window.matchMedia,
            nope: "/scripts/matchMedia.js"
        },
        {
            test: Modernizr.nthchildn,
            nope: "/scripts/selectivizr.js"
        },
            "/scripts/enquire.js",
            "/scripts/lazyload.js",
            "/scripts/main.js"
        ]);


            jQuery(function($){
                $('.closeIt').on('click', function(){
                    $(this).parent('.theModal').fadeOut('slow', function(){
                        $('.modalBg').fadeOut('fast');
                    });
                });
            });
    </script>
    <script src="/scripts/slick.min.js"></script>
    <script defer>
         $('.main_slider_wrapper').slick({
          dots: true,
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          autoplaySpeed: 7000,
          autoplay: true,
          adaptiveHeight: false
        });



    </script>
</body>
</html>


@*<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Partials/metaData.cshtml")
    <!-- Font Awesome icons (free version)-->
    <script defer src="https://use.fontawesome.com/releases/v6.5.1/js/all.js" crossorigin="anonymous" integrity="sha384-3ve3u7etWcm2heCe4TswfZSAYSg2jR/EJxRHuKM5foOiKS8IJL/xRlvmjCaHELBz"></script>
    <!-- Google fonts-->
    <link rel="stylesheet preconnect" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&display=swap">
    <link rel="stylesheet preconnect" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/clean-assets/css/styles.css" rel="stylesheet" asp-append-version="true" />
    <link href="/clean-assets/css/vs2015.css" rel="stylesheet" asp-append-version="true" />
    <link href="/clean-assets/css/highlightjs-copy.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="/clean-assets/css/swiffy-slider.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    @await Html.CachedPartialAsync("~/Views/Partials/mainNavigation.cshtml", model: Model, cacheTimeout: TimeSpan.FromMinutes(60))
    @RenderBody()
    @await Html.CachedPartialAsync("~/Views/Partials/footer.cshtml", model: Model, cacheTimeout: TimeSpan.FromMinutes(60))

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="/clean-assets/js/scripts.js" asp-append-version="true"></script>
    <script src="/clean-assets/js/highlight.min.js" asp-append-version="true"></script>
    <script src="/clean-assets/js/highlightjs-copy.min.js" asp-append-version="true"></script>
    <script src="/clean-assets/js/initHighlight.js" asp-append-version="true"></script>
    <script src="/clean-assets/js/swiffy-slider.min.js" asp-append-version="true"></script>
</body>
</html>*@
