@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "master.cshtml";
}
<div id="content_0_controls_0_pnlContentWrapper" class="content-wrapper content-webinars">

    <header class="content-header content-header-has-icon">
        <div class="content-header-icon">
            <img src="/images/icon_webinars.png" alt="Webinars" width="145" height="109">
        </div>

        <h1 class="content-header-h1">Webinars</h1>
        <div class="content-header-copy">
            <p>Join us for free webinars and online events – both live and on-demand – featuring business leaders, industry experts, and Laser Therapy U partners.</p>
            <p>Training is conducted typically on the last Thursday of every month.  Beginners and long-time users alike will find a session to advance their laser technology treatment skills and knowledge.</p>
            <p>To view the webinars most suited to the topics you are interested in, simply use the filter above to sort through our entire database of pre-recorded webinars.  Be sure to sign up for our upcoming webinars, <a href="/webinars/future-webinars">located here</a>.</p>
        </div>
    </header>

    <div class="figWrap">
        <figure>
            <a id="content_0_controls_0_lvWebinars_hlCategoryImage_0" title="Veterinary Webinars" class="ress" href="/webinars/veterinary-webinars">
                <img class="ress" data-original="/images/vet-webinars.jpg" src="/images/vet-webinars.jpg" width="700" height="473">
            </a>
        </figure>
        <figcaption>
            <h2>Veterinary Webinars</h2>
            <a id="content_0_controls_0_lvWebinars_hlLink_0" title="Veterinary Webinars" href="/webinars/veterinary-webinars">Learn More<span class="indicator related-products-link">&nbsp;</span></a>
        </figcaption>
    </div>

    <div class="figWrap">
        <figure>
            <a id="content_0_controls_0_lvWebinars_hlCategoryImage_1" title="Future Webinars" class="ress" href="/webinars/future-webinars">
                <img class="ress" data-original="/images/future_webinars.jpg" src="/images/future_webinars.jpg" width="380" height="250">
            </a>
        </figure>
        <figcaption>
            <h2>Future Webinars</h2>
            <p>Sign up now for upcoming LaserTherapyU webinars.</p>
            <a id="content_0_controls_0_lvWebinars_hlLink_1" title="Future Webinars" href="/webinars/future-webinars">Learn More<span class="indicator related-products-link">&nbsp;</span></a>
        </figcaption>
    </div>

    <div class="figWrap">
        <figure>
            <a id="content_0_controls_0_lvWebinars_hlCategoryImage_2" title="Pre-Recorded Webinars" class="ress" href="/webinars/pre-recorded-webinars">
                <img class="ress" data-original="/images/prerecorded_webinars.jpg" src="/images/prerecorded_webinars.jpg" width="380" height="250">
            </a>
        </figure>
        <figcaption>
            <h2>Pre-Recorded Webinars</h2>
            <p>View all of our previously recorded webinars at your convenience. </p>
            <a id="content_0_controls_0_lvWebinars_hlLink_2" title="Pre-Recorded Webinars" href="/webinars/pre-recorded-webinars">Learn More<span class="indicator related-products-link">&nbsp;</span></a>
        </figcaption>
    </div>
</div>
