<?xml version="1.0" encoding="utf-8"?>
<Content Key="b47bbeeb-c27f-f172-c07f-971d66ef68e8" Alias="1001+" Level="4">
  <Info>
    <Parent Key="9f76b3a9-a312-45a3-83c3-f1c97971065b">Wavelengths</Parent>
    <Path>/Filters/LaserCharacteristics/Wavelengths/plus</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="1001+" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>