<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f5ff986-2d93-af87-18f1-1fb36c686a3e" Alias="&gt;500 mW" Level="4">
  <Info>
    <Parent Key="46d4e309-bc76-4bc7-8f9f-638f311901b2">Power</Parent>
    <Path>/Filters/LaserCharacteristics/Power/mW</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="&gt;500 mW" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>