<?xml version="1.0" encoding="utf-8"?>
<Content Key="14b57ce1-b775-b359-0df5-a62c326da3be" Alias="701-799" Level="4">
  <Info>
    <Parent Key="9f76b3a9-a312-45a3-83c3-f1c97971065b">Wavelengths</Parent>
    <Path>/Filters/LaserCharacteristics/Wavelengths/</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="701-799" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>