<?xml version="1.0" encoding="utf-8"?>
<Content Key="077efb8c-6cb1-4996-bc88-4247e79b5612" Alias="A Look Back at 2014: A year in review" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/ALookBackAt2014AYearInReview</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="A Look Back at 2014: A year in review" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-11-13T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Join Dr Christopher Carraway and members of the LTU team to review key topics and points from this years webinar series.\u0026nbsp; Topics to be included:\u003Cbr /\u003E\nReview relevant, \u0022Must Know\u0022 laser research published in 2014\u003Cbr /\u003E\nDiscuss the best \u0026ldquo;Methods\u0026rdquo; to treat pain and inflammation\u003Cbr /\u003E\nLearn how Priority Principle can be used to create endless protocols to treat every patient in your practice\u003Cbr /\u003E\nIntroduction of the Year-End Special from our laser sponsor\u003Cbr /\u003E\nAmple Interactive Q\u0026amp;A Time"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1:01]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Dr Christopher Carraway and members of the LTU team to review key topics and points from this years webinar series. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[A Look Back at 2014: A year in review]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[A Look Back at 2014: A year in review]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2263585" mozallowfullscreen name="vzvd-2263585" src="//view.vzaar.com/2263585/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>