<?xml version="1.0" encoding="utf-8"?>
<Content Key="47e95e4f-a4bd-4fe0-b09f-932ffc77fdf4" Alias="A Look BACK at the Spine" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/ALookBACKAtTheSpine</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="A Look BACK at the Spine" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-07-24T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Join Drs. Christopher Carraway and Brian Fitzpatrick as they share the latest research and clinical insights on super pulsed laser therapy for the treatment of the spine.\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[62:57]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Drs. Christopher Carraway and Brian Fitzpatrick as they share the latest research and clinical insights on super pulsed laser therapy for the treatment of the spine.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[ A Look BACK at the Spine | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[A Look BACK at the Spine]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="576" id="vzvd-1766119" mozallowfullscreen name="vzvd-1766119" src="//view.vzaar.com/1766119/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>