<?xml version="1.0" encoding="utf-8"?>
<Content Key="7011c955-d4cb-5499-e04f-370ab6fca856" Alias="Abdomen" Level="4">
  <Info>
    <Parent Key="ccacb58d-1510-4e43-8351-eb6b5e37fea3">Body Part</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/BodyPart/Abdomen</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Abdomen" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>