<?xml version="1.0" encoding="utf-8"?>
<Content Key="76bcd3ef-77c2-9948-448e-cc372e37c501" Alias="ACTIVet" Level="4">
  <Info>
    <Parent Key="96a2ac03-ca4e-4abc-9fc5-4fb17df7fc80">Product Relativity</Parent>
    <Path>/Filters/LaserCharacteristics/ProductRelativity/ACTIVet</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="ACTIVet" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>