<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dcc13b8-f69c-6ed4-e00d-fe717f4832b3" Alias="ACTIV" Level="4">
  <Info>
    <Parent Key="96a2ac03-ca4e-4abc-9fc5-4fb17df7fc80">Product Relativity</Parent>
    <Path>/Filters/LaserCharacteristics/ProductRelativity/ACTIV</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="ACTIV" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>