<?xml version="1.0" encoding="utf-8"?>
<Content Key="baaa7b63-8517-7945-8352-7cabea8396fc" Alias="Alcoholism" Level="4">
  <Info>
    <Parent Key="a057febd-ed99-4039-aec9-096cf381360a">Research Category</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/ResearchCategory/Alcoholism</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Alcoholism" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>