<?xml version="1.0" encoding="utf-8"?>
<Content Key="3eabbf3b-7e27-4e7b-8a97-4462106f4da5" Alias="Alleviating Low Back Pain with Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/AlleviatingLowBackPainWithSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Alleviating Low Back Pain with Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2019-09-26T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Americans spend at least $50 billion each year on back pain, and that\u0026rsquo;s just for the more easily identified costs.\nOver 31 million Americans experience LBP at any given time.  One-half of all working Americans admit to having back pain symptoms each year, and LBP is the second most common reason for visits to the doctor\u0026rsquo;s office, and is outnumbered only by upper-respiratory infections. Back pain is one of the most common reasons for missed work.\nIn this webinar we will work to unravel lower back pain (LBP) from a new perspective and discuss how to add Super Pulsed Laser (SPL) to your clinical approach for superior outcomes.  SPL can be blended with a multitude of techniques and practices.\nJoin Dr. Chris Carraway and he discusses Alleviating Low Back Pain with super pulsed laser"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[59:26]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Over 31 million Americans experience LBP at any given time.  One-half of all working Americans admit to having back pain symptoms each year, and LBP is the second most common reason for visits to the doctor’s office, and is outnumbered only by upper-respiratory infections. Back pain is one of the most common reasons for missed work.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Alleviating Low Back Pain with Super Pulsed Laser | LaserTherapyU]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Alleviating Low Back Pain with Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-20858180" name="vzvd-20858180" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/20858180/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>