<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3a868c5-e20d-bfb9-68b7-189d71d87544" Alias="Animal" Level="4">
  <Info>
    <Parent Key="81d7aa7d-38bb-4e01-8b60-af62bf5b26a6">Tissue</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Tissue/Animal</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Animal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>