<?xml version="1.0" encoding="utf-8"?>
<Content Key="922f38b9-ec29-4c47-91af-996567088319" Alias="Anti-inflammatory effect of low-level laser and li" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/AntiInflammatoryEffectOfLowLevelLaserAndLi</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Anti-inflammatory effect of low-level laser and li" />
    <SortOrder>108</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">de Morais NC, Barbosa AM, Vale ML, Villaverde AB, de Lima CJ, Cogo JC, Zamuner SR</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>OBJECTIVE:</h3>
<p class="p1">The aim of this work was to investigate the effect of low-level laser therapy (LLLT) and light-emitting diode (LED) on formation of edema, increase in vascular permeability, and articular joint hyperalgesia in zymosan-induced arthritis.</p>
<h3>BACKGROUND DATA:</h3>
<p class="p1">It has been suggested that low-level laser and LED irradiation can modulate inflammatory processes.</p>
<h3>MATERIAL AND METHODS:</h3>
<p class="p1">Arthritis was induced in male Wistar rats (250-280 g) by intra-articular injection of zymosan (1 mg in 50 microL of a sterile saline solution) into one rear knee joint. Animals were irradiated immediately, 1 h, and 2 h after zymosan administration with a semiconductor laser (685 nm and 830 nm) and an LED at 628 nm, with the same dose (2.5 J/cm(2)) for laser and LED. In the positive control group, animals were injected with the anti-inflammatory drug dexamethasone 1 h prior to the zymosan administration. Edema was measured by the wet/dry weight difference of the articular tissue, the increase in vascular permeability was assessed by the extravasation of Evans blue dye, and joint hyperalgesia was measured using the rat knee-joint articular incapacitation test.</p>
<h3>RESULTS:</h3>
<p class="p1">Irradiation with 685 nm and 830 nm laser wavelengths significantly inhibited edema formation, vascular permeability, and hyperalgesia. Laser irradiation, averaged over the two wavelengths, reduced the vascular permeability by 24%, edema formation by 23%, and articular incapacitation by 59%. Treatment with LED (628 nm), with the same fluence as the laser, had no effect in zymosan-induced arthritis.</p>
<h3>CONCLUSION:</h3>
<p class="p1">LLLT reduces inflammatory signs more effectively than LED irradiation with similar irradiation times (100 sec), average outputs (20 mW), and energy doses (2 J) in an animal model of zymosan-induced arthritis. The anti-inflammatory effects of LLLT appear to be a class effect, which is not wavelength specific in the red and infrared parts of the optical spectrum.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2010-04-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomed Laser Surg. 2010 Apr;28(2):227-32. doi: 10.1089/pho.2008.2422.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Anti-inflammatory effect of low-level laser and light-emitting diode in zymosan-induced arthritis.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Anti-inflammatory effect of low-level laser and light-emitting diode in zymosan-induced arthritis.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomed Laser Surg]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Anti-inflammatory effect of low-level laser and light-emitting diode in zymosan-induced arthritis." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/d789e26165c6cc2789073aa3529e128a,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/191629759db54314136fdb7885d20d7c,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/c6b4a9da28212d79802fddc91cdcc951,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>