<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdb27ca4-b603-4f37-86d5-98eb0baacfb4" Alias="April 2020_ Vet" Level="4">
  <Info>
    <Parent Key="9057fee7-e84e-4d20-9beb-e6ef6c814787">Veterinary Webinars</Parent>
    <Path>/Home/Webinars/VeterinaryWebinars/April2020_Vet</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-06-27T16:28:53</CreateDate>
    <NodeName Default="April 2020_ Vet" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2020-04-09T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIn this time of social distancing, inflammation control, wound healing, and treatment for 300\u002B common conditions. At-home, easy to use, pet owner-administered laser therapy under your supervision, could be the answer for care continuity during these times and beyond.\u003C/p\u003E\u003Cp\u003EJoin Multi Radiance\u0027s J. Mark Strong and Dr. Youkey (Yukiko Kuwahara, DVM, CVA) as they discuss:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EWays to bridge the care gap caused by mandated social distancing\u003C/li\u003E\u003Cli\u003ENew ways to manage pain in chronic patients, with at-home laser therapy\u003C/li\u003E\u003Cli\u003EWays to generate passive revenue for your practice now and in the future, with rental lasers\u003C/li\u003E\u003Cli\u003ECoping with fewer clinic visits during social distancing\u003C/li\u003E\u003Cli\u003EDisinfecting your clinic and rental lasers\u003C/li\u003E\u003C/ul\u003E\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1-2pm EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[In this time of social distancing]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Veterinary- At Home Laser Therapy: Bridging the Care and Revenue Gap caused by Social Distancing  | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[{96454C11-0A6B-453C-B034-919AE045F5D9}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Veterinary- At Home Laser Therapy: Bridging the Care and Revenue Gap caused by Social Distancing]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-21449206" name="vzvd-21449206" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/21449206/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>