<?xml version="1.0" encoding="utf-8"?>
<Content Key="9421eeae-ff3d-4330-b6cd-91a35f7e084b" Alias="april-2014" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/april-2014</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Tying it all Together: The Priority Principle" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-04-17T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "The last of four webinars focused expressly on understanding the clinical application of super pulsed laser and light treatment (SPLT).&nbsp; This month we will discuss Priority Principle and building protocols for clinical practice. <br />\n*Tying it all together&hellip;How are doses, techniques and methods related<br />\n*The What&rsquo;s What?&hellip;Priority Principle, what is it?<br />\n*Nuts and bolts&hellip;how to use Priority Principle<br />\n*Let&rsquo;s be practical&hellip;open discussion on implementing Priority Principle into clinical practice<br />"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[72:32]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[clinical application of super pulsed laser and discuss Priority Principle and building protocols for clinical practice. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Tying it all Together | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Tying it all Together: The Priority Principle]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="272" id="vzvd-1582272" mozallowfullscreen name="vzvd-1582272" src="https://view.vzaar.com/1582272/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>