<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ff64836-86c1-4187-a8c4-c69eb0b337c2" Alias="Are ultrasound, laser and exercise superior to eac" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/AreUltrasoundLaserAndExerciseSuperiorToEac</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Are ultrasound, laser and exercise superior to eac" />
    <SortOrder>109</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Calis HT, Berberoglu N, Calis M.</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>BACKGROUND:</h3>
<p class="p1">Subacromial impingement syndrome (SIS) is the most common reason for shoulder pain. Ultrasound and laser are the physical therapy modalities, in conservative treatment of SIS.</p>
<h3>AIM:</h3>
<p class="p1">The aim of this study was to define and compare the efficacy of ultrasound, laser and exercise in the treatment of SIS.</p>
<h3>DESIGN:</h3>
<p class="p1">This was a randomized controlled trial with-pre and post-treatment evaluations</p>
<h3>SETTING:</h3>
<p class="p1">Out-patients referred to physical medicine and rehabilitation unit.</p>
<h3>POPULATION:</h3>
<p class="p1">This study was performed on 52 patients with SIS. The patients were randomly allocated into three groups</p>
<h3>METHODS:</h3>
<p class="p1">The patients were treated five days a week for three weeks with hotpack+ultrasound+exercise (the first group); hotpack+laser+exercise (the second group), or hotpack+exercise (the third group). The pre and post treatment ranges of motion were measured in the patients. The visual analogue scale (VAS) was used to evaluate the severity of pain. Constant scoring was used to evaluate the shoulder functions and the results were compared after the treatment.</p>
<h3>RESULTS:</h3>
<p class="p1">When the post-treatment results of the groups were compared with the pretreatment results, there was a statistically significant improvement in each of the three groups, in the pain, the range of motion and the functional improvement at the shoulder (P&lt;0.05). However, the inter-group comparison did not reveal any statistically significant difference in the parameters indicating improvement (P&gt;0.05).</p>
<h3>CONCLUSION:</h3>
<p class="p1">The results of this study demonstrated that ultrasound and laser treatments were not superior to each other in the treatment of SIS.</p>
<h3>CLINICAL REHABILITATION IMPACT:</h3>
<p class="p1">Exercise treatment forms the base for the conservative treatment.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2011-09-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Eur J Phys Rehabil Med. 2011 Sep;47(3):375-80.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Are ultrasound, laser and exercise superior to each other in the treatment of subacromial impingement syndrome? A randomized clinical trial.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Are ultrasound, laser and exercise superior to each other in the treatment of subacromial impingement syndrome? A randomized clinical trial.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Eur J Phys Rehabil Med.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Are ultrasound, laser and exercise superior to each other in the treatment of subacromial impingement syndrome? A randomized clinical trial." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/ab2546c43a72f68338ee032ba1ba63fa,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/d789e26165c6cc2789073aa3529e128a,umb://document/768f2db3879b5382db9b722993036324,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/3be3ac3c92eeda637c7e4c5bc6722c41,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6]]></Value>
    </tags>
  </Properties>
</Content>