<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e8e0bd6-6086-8318-a0e9-079d0f6e3b0a" Alias="AT" Level="4">
  <Info>
    <Parent Key="509c540f-dc4a-44d3-8cf8-fdcb60a3b1c6">Profession</Parent>
    <Path>/Filters/ResourceCharacteristics/Profession/AT</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="AT" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>