<?xml version="1.0" encoding="utf-8"?>
<Content Key="38ed2c3c-cd95-4210-b534-83a6346b978a" Alias="australian-boot-camp2014" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/australian-boot-camp2014</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="SPLT: Boot Camp-Australian Webinar" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-05-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "Join Douglas Johnson, ATC as he presents a webinar focused on understanding the clinical application of super pulsed laser and light treatment (SPLT) and how to get the best outcomes.&nbsp; This introductory course will focus on:<br />\n<br />\nThe Clinician&rsquo;s Take On: HOW IT WORKS<br />\nDose, Dose, Dose: Stimulation vs Inhibition<br />\nKnowing Your Equipment: LaserStim and LaserShower<br />\nQuick Start: Getting Success from Day 1 using basic protocols"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[64:12]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Understanding the clinical application of super pulsed laser and light treatment (SPLT) and how to get the best outcomes.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[SPLT: Boot Camp-Australian Webinar | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[SPLT: Boot Camp-Australian Webinar]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-1623503" mozallowfullscreen name="vzvd-1623503" src="https://view.vzaar.com/1623503/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>