<?xml version="1.0" encoding="utf-8"?>
<Content Key="1adf6ef0-ab44-8e0f-fe27-a00e3a4672cb" Alias="Basic" Level="4">
  <Info>
    <Parent Key="cc8082ea-0c8a-455c-b12b-d0162957585d">Type of Research Study</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfResearchStudy/Basic</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Basic" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>