<?xml version="1.0" encoding="utf-8"?>
<Content Key="6294c2bc-9745-4635-b178-a0e0cc8458a8" Alias="Be Front Runner, with Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/BeFrontRunnerWithSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Be Front Runner, with Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-06-25T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Join Dr\u0026rsquo;s. Christopher Carraway and Brian Fitzpatrick for an informative low level laser session designed with the Athlete in mind, with a focus on Running. \u003Cbr /\u003E\nTopics to be discussed: \u003Cbr /\u003E\nLaser Treatments to improve performance - Preconditioning, Mid Run, and Post Run \u003Cbr /\u003E\nProper management of common Running injuries and challenges."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[60:02]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Dr’s. Christopher Carraway and Brian Fitzpatrick for an informative low level laser session designed with the Athlete in mind, with a focus on Running.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Be a Front Runner with Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Be Front Runner, with Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-4331890" mozallowfullscreen name="vzvd-4331890" src="//view.vzaar.com/4331890/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>