<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4d8487e-704b-4822-9b57-79b6235c25b9" Alias="Beyond Tennis Elbow: Treating Tendonitis With Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/BeyondTennisElbowTreatingTendonitisWithSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Beyond Tennis Elbow: Treating Tendonitis With Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2012-03-01T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022p1\u0022\u003EThis program will break down the intricacies of managing Tennis Elbow effectively with Super Pulsed Laser. This can be a difficult condition to treat since 99% of the time the patient has to remain active though the treatment phase. Super Pulsed Laser offers a edge over other modalities and reduces patients recovery times.\u0026nbsp; Attention is also paid to treating chronic Tennis Elbow.\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[This program will break down the intricacies of managing Tennis Elbow effectively with Super Pulsed Laser. This can be a difficult condition to treat since 99% of the time the patient has to remain active though the treatment phase. Super Pulsed Laser offers a edge over other modalities and reduces patients recovery times.  Attention is also paid to treating chronic Tennis Elbow.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Beyond Tennis Elbow: Treating Tendonitis With Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Beyond Tennis Elbow: Treating Tendonitis With Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="362" id="vzvd-1418277" mozallowfullscreen name="vzvd-1418277" src="https://view.vzaar.com/1418277/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>