<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6a77898-6acc-4602-a37c-24f660b30b6c" Alias="Blasting Athletic Performance and Boosting Recovery with Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/BlastingAthleticPerformanceAndBoostingRecoveryWithSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Blasting Athletic Performance and Boosting Recovery with Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-10-16T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EJoin the Douglas Johnson, ATC as he discusses the use of multi-wavelengths on athletic performance: Review the latest peer reviewed research on athletic performance enhancement with laser, including papers by Leal and Antonialli\u003C/p\u003E\n\u003Cp\u003ELearn how to:\u003C/p\u003E\n\u003Cp\u003E-Prepare the athlete for training and competition and how to avoid the early season injuries\u003C/p\u003E\n\u003Cp\u003E-Perform with less fatigue\u003C/p\u003E\n\u003Cp\u003E-Recovery 300% faster\u003C/p\u003E\n\u003Cp\u003E-Review Protocols for Quarterbacks, Runners, Pitchers\u003C/p\u003E\n\u003Cp\u003EReview Interactive Q\u0026amp;A Time\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[75:12]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join the Douglas Johnson, ATC as he discusses the use of multi-wavelengths on athletic performance]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Blasting Athletic Performance and Boosting Recovery with Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Blasting Athletic Performance and Boosting Recovery with Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="417" id="vzvd-2134217" mozallowfullscreen name="vzvd-2134217" src="//view.vzaar.com/2134217/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>