<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0843712-313a-a634-63f3-de24b8591e20" Alias="Blue" Level="4">
  <Info>
    <Parent Key="004ab7ff-fb03-4dbf-9a4c-0d2d6d5ae60b">Color</Parent>
    <Path>/Filters/LaserCharacteristics/Color/Blue</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Blue" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>