<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca1b904a-564b-e21a-b9d7-c66af0f35ca7" Alias="Brain Injury" Level="4">
  <Info>
    <Parent Key="5bb3ffc5-86a3-470a-90bf-cc50c92cfd87">Diagnosis or Condition</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/DiagnosisOrCondition/BrainInjury</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Brain Injury" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>