<?xml version="1.0" encoding="utf-8"?>
<Content Key="07650859-945d-4fa4-af61-11cc9da34cd1" Alias="Breaking Through the Fibromyalgia Wall with Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/BreakingThroughTheFibromyalgiaWallWithSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Breaking Through the Fibromyalgia Wall with Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2013-10-24T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFibromyalgia has been present for centuries; with documented cases reaching all the way back to the 1700s. It\u0026rsquo;s estimated that this debilitating condition affects over 6 million American aged 18 years or older, yet fibromyalgia remains somewhat of a medical mystery.\u0026nbsp;\u0026nbsp;\u0026nbsp; \u0026nbsp;\u003C/p\u003E\n\u003Cp\u003ETreatments, for the most part, simply address the symptoms and the pharmacological agents used to treat the symptoms have side effects of their own.\u0026nbsp; This webinar will explore some exciting new research showing that Super Pulsed Lasers are offering hope for the Fibro patient.\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1-2 PM EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Fibromyalgia has been present for centuries; with documented cases reaching all the way back to the 1700s. It’s estimated that this debilitating condition affects over 6 million American aged 18 years or older, yet fibromyalgia remains somewhat of a medical mystery.     ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Breaking Through the Fibromyalgia Wall with Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Breaking Through the Fibromyalgia Wall with Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="282" id="vzvd-1519544" mozallowfullscreen name="vzvd-1519544" src="https://view.vzaar.com/1519544/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>