<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d9159ec-ddb1-4761-aab2-165d36fa1941" Alias="Bringing Voice to the Voiceless with Laser Therapy " Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/BringingVoiceToTheVoicelessWithLaserTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="Bringing Voice to the Voiceless with Laser Therapy " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2022-07-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022margin-top: 0pt; margin-bottom: 6pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal; text-align: left;\u0022\u003EThis month we are pushing the therapeutic envelope and going over several case histories involving a loss of normal speech. With each one, the patient was told there was nothing to be done to restore their speech. Despite their gloomy prognoses, from nerve damage to spasmodic dystonia and beyond, each case experienced favorable outcomes after laser therapy treatment.\u003C/p\u003E\n\u003Cp style=\u0022margin-top: 0pt; margin-bottom: 6pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal; text-align: left;\u0022\u003EJoin Dr. Chris Carraway as he discusses photobiomodulation techniques that showed impressive results for his voiceless patients, with a Q\u0026amp;A session to follow.\u003C/p\u003E\n\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[58:24]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Sometimes we are so focused on the daily musculoskeletal cases, we might overlook some other capabilities of therapeutic laser applications.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Bringing Voice to the Voiceless with Laser Therapy | LaserTherapyU]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Bringing Voice to the Voiceless with Laser Therapy ]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<div style="position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;"><iframe id="587f85e3-94bd-0c95-2d98-a7f259e941a5" src="https://iframe.dacast.com/vod/f8fff14e5fe3c5a4d59cc61229050db1/587f85e3-94bd-0c95-2d98-a7f259e941a5" width="640" height="360" frameborder="0" scrolling="no" allow="autoplay;encrypted-media" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen style="position:absolute;top:0;left:0;"></iframe></div>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>