<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9fdab13-b717-4e51-8511-bd4554ec218f" Alias="Building Super (Pulsed) Athletes with Laser Therapy" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/BuildingSuperPulsedAthletesWithLaserTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Building Super (Pulsed) Athletes with Laser Therapy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2012-07-01T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022p1\u0022\u003EJoin Doug Johnson as he lectures on how high level athletes are benefiting from Super Pulsed Laser not only as a recovery and rehab tool but to enhance performance and strength.\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Doug Johnson as he lectures on how high level athletes are benefiting from Super Pulsed Laser not only as a recovery and rehab tool but to enhance performance and strength.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Building Super (Pulsed) Athletes with Laser Therapy | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Building Super (Pulsed) Athletes with Laser Therapy]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="362" id="vzvd-1418330" mozallowfullscreen name="vzvd-1418330" src="https://view.vzaar.com/1418330/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>