<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9a6666b-31c4-411b-b51e-2a0a92ec9d73" Alias="Carpal Tunnel Syndrome Treated with a Diode Laser" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/CarpalTunnelSyndromeTreatedWithADiodeLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Carpal Tunnel Syndrome Treated with a Diode Laser" />
    <SortOrder>118</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Wen-Dien Chang, Jih-Huah Wu, Joe-Air Jiang, Chun-Yu Yeh, Chien-Tsung Tsai. <br />]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>OBJECTIVE:</h3>
<p class="p1">The purpose of this placebo-controlled study was to investigate the therapeutic effects of the 830-nm diode laser on carpal tunnel syndrome (CTS).</p>
<h3>BACKGROUND DATA:</h3>
<p class="p1">Many articles in the literature have demonstrated that low-level laser therapy (LLLT) may help to alleviate various types of nerve pain, especially for CTS treatment. We placed an 830-nm laser directly above the transverse carpal ligament, which is between the pisiform and navicular bones of the tested patients, to determine the therapeutic effect of LLLT.</p>
<h3>MATERIALS AND METHODS:</h3>
<p class="p1">Thirty-six patients with mild to moderate degree of CTS were randomly divided into two groups. The laser group received laser treatment (10 Hz, 50% duty cycle, 60 mW, 9.7 J/cm(2), at 830 nm), and the placebo group received sham laser treatment. Both groups received treatment for 2 wk consisting of a 10-min laser irradiation session each day, 5 d a week. The therapeutic effects were assessed on symptoms and functional changes, and with nerve conduction studies (NCS), grip strength assessment, and with a visual analogue scale (VAS), soon after treatment and at 2-wk follow-up.</p>
<h3>RESULTS:</h3>
<p class="p1">Before treatment, there were no significant differences between the two groups for all assessments (p &gt; 0.05). The VAS scores were significantly lower in the laser group than the placebo group after treatment and at follow-up (p &lt; 0.05). After 2 wk of treatment, no significant differences were found in grip strengths or for symptoms and functional assessments (p &gt; 0.05). However, there were statistically significant differences in these variables at 2-wk follow-up (p &lt; 0.05). Regarding the findings of NCS, there was no statistically significant difference between groups after treatment and at 2-wk follow-up.</p>
<h3>CONCLUSIONS:</h3>
<p class="p1">LLLT was effective in alleviating pain and symptoms, and in improving functional ability and finger and hand strength for mild and moderate CTS patients with no side effects.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2008-12-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomed Laser Surg. 2008 Dec;26(6):551-7. doi: 10.1089/pho.2007.2234.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Carpal Tunnel Syndrome Treated with a Diode Laser: A Controlled Treatment of the Transverse Carpal Ligament]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Carpal Tunnel Syndrome Treated with a Diode Laser: A Controlled Treatment of the Transverse Carpal Ligament]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomed Laser Surg.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA["Find abstracts including ""Carpal Tunnel Syndrome Treated with a Diode Laser: A Controlled Treatment of the Transverse Carpal Ligament "" from Laser Therapy U, your number one source for low-level laser therapy research."]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/ab2acd8e1beccde4134fd1838841993d,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/0e88468264d882250d8e2e8ed04ee6c0,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/191629759db54314136fdb7885d20d7c,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/3be3ac3c92eeda637c7e4c5bc6722c41,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/7eb7047a95511ca8e9a081c36e14eb4c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>