<?xml version="1.0" encoding="utf-8"?>
<Content Key="70e8ea16-6fc3-45f6-ba9c-46b8412e43f1" Alias="Cervical Osteoarthritis V2" Level="3">
  <Info>
    <Parent Key="a2686db5-6dcc-485c-a183-f2648cfb7a29">Protocols</Parent>
    <Path>/Home/Protocols/CervicalOsteoarthritisV2</Path>
    <Trashed>false</Trashed>
    <ContentType>protocol</ContentType>
    <CreateDate>2025-12-03T12:00:00</CreateDate>
    <NodeName Default="Cervical Osteoarthritis V2" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1bee04c-fd5a-4d72-99bf-f3260bd85b20">protocol</Template>
  </Info>
  <Properties>
    <diagramImages>
      <Value><![CDATA[[{"mediaKey":"ed04d64c-bee7-4772-9935-161d2082dabf"}]]]></Value>
    </diagramImages>
    <headline>
      <Value><![CDATA[Cervical Osteoarthritis V2.0]]></Value>
    </headline>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[Find treatment protocols  including "Cervical Osteoarthritis" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[29.95]]></Value>
    </price>
    <protocolFile>
      <Value><![CDATA[[
  {
    "mediaKey": "6d83a7ce-e4b8-46b2-a745-e774d2f3d5e7"
  }
]]]></Value>
    </protocolFile>
    <salePrice>
      <Value><![CDATA[0]]></Value>
    </salePrice>
    <shortDescription>
      <Value><![CDATA[Learn how to treat Cervical Osteoarthritis utilizing the Priority Principle V2.0]]></Value>
    </shortDescription>
    <showDiagrams>
      <Value><![CDATA[1]]></Value>
    </showDiagrams>
    <tags>
      <Value><![CDATA[umb://document/759e6aed45539e56514a31081dcb9da9,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/74116831414d15707446c838f054356f,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e45b1cc5a5673d0c483f13c97ec9c84f,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/692907e2e5d67028187797318a00e61b,umb://document/9e97a16b98e1863d6ae9848b1caacce4,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/e1c2353e61d08d74757cffe8975bd683,umb://document/f3098889f94a6afb605ad06444125848,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
  </Properties>
</Content>