<?xml version="1.0" encoding="utf-8"?>
<Content Key="137aa45b-a63d-0049-bbb6-65564254e524" Alias="Chest" Level="4">
  <Info>
    <Parent Key="44e544d3-f276-499e-b059-7d0a5b25761c">Region</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Region/Chest</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Chest" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>