<?xml version="1.0" encoding="utf-8"?>
<Content Key="008f1a96-04d8-4541-bcc4-650929e5c281" Alias="Chiropractic manipulative therapy and low-level la" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/ChiropracticManipulativeTherapyAndLowLevelLa</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Chiropractic manipulative therapy and low-level la" />
    <SortOrder>119</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Saayman L, Hay C, Abrahamse, H. J</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Aim</h3>
<p class="p1">To investigate &lsquo;the short-term effect of chiropractic joint manipulation therapy (CMT) and low-level laser therapy (LLLT) on pain and range of motion in the treatment of cervical facet dysfunction (CFD).&rsquo;</p>
<h3>Design</h3>
<p class="p1">Randomised, open-label, active-controlled trial with three parallel arms.</p>
<h3>Participants</h3>
<p class="p1">Sixty women, aged 18&ndash;40 years, with cervical facet joint pain of more than 30 days&rsquo; duration and normal neurologic examination, were randomised. Participants were excluded if they had recent trauma to the neck; previous neck surgery; signs of ligamentous rupture or instability; abnormal neurologic signs in the upper limbs, relating to nerve entrapment or impingement, nerve root irritation or disk herniation from the cervical spine; systemic rheumatological disease; vertebrobasilar artery insufficiency syndrome; open wounds, haemorrhage or infection in the cervical spine region; cancer; osteoporosis; any form of drug abuse or dependency; photophobia or abnormally high sensitivity to light; or were unable to temporarily discontinue any activity that exacerbated the pain.</p>
<h3>Intervention</h3>
<p class="p1">Participants were randomly assigned to one of three treatments: (1) CMT of the cervical spine (comprising specific short-lever, high-velocity, low-amplitude diversified techniques of cervical manipulation); (2) LLLT to the cervical facet joints (comprising 50 s of laser treatment per point, at three points per joint, and a minimum of three joints per treatment session); or (3) CMT and LLLT.</p>
<p class="p1">All treatments were administered for 30 min (excluding the initial consultation, which lasted 90 min), twice a week for 3 weeks.</p>
<h3>Main outcome measures</h3>
<p class="p1">The primary outcome measures were the numerical pain rating scale (NPRS) and neck disability index (NDI). Secondary outcome measures included the cervical range of motion (CROM) instrument and the baseline digital inclinometer (BDI). All outcomes were measured at baseline and weeks two, three and four.</p>
<h3>Main results</h3>
<p class="p1">All three groups demonstrated significant improvements from baseline for all outcome measures. The combination treatment performed significantly better than LLLT, but not CMT, for the NDI. Pairwise comparisons found no significant difference between LLLT and CMT for any of the primary outcomes or six of the seven secondary outcomes; LLLT performed significantly better than CMT for one secondary outcome (CROM: flexion).</p>
<h3>Authors&rsquo; conclusion</h3>
<p class="p1">All 3 groups showed improvement in the primary and secondary outcomes. A combination of CMT and LLLT was more effective than either of the 2 on their own. Both therapies are indicated as potentially beneficial treatments for cervical facet dysfunction. Further studies are needed to explore optimal treatment procedures for CMT and LLLT and the possible mechanism of interaction between therapies.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2011-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Manipulative Physiol Ther 2011; 34: 153–63.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Chiropractic manipulative therapy and low-level laser therapy in the management of cervical facet dysfunction: a randomized controlled study.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Chiropractic manipulative therapy and low-level laser therapy in the management of cervical facet dysfunction: a randomized controlled study.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Manipulative Physiol Ther]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Chiropractic manipulative therapy and low-level laser therapy in the management of cervical facet dysfunction: a randomized controlled study." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/7cde5769a0b3646be2eafc63ea5112c1,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/02007c2475b6c22ea24897bd92e94a3b,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/9e97a16b98e1863d6ae9848b1caacce4,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>