<?xml version="1.0" encoding="utf-8"?>
<Content Key="bac8b04e-9b73-4f51-90e5-1ec3298a97ff" Alias="Chronic Inflammation V2" Level="3">
  <Info>
    <Parent Key="a2686db5-6dcc-485c-a183-f2648cfb7a29">Protocols</Parent>
    <Path>/Home/Protocols/ChronicInflammationV2</Path>
    <Trashed>false</Trashed>
    <ContentType>protocol</ContentType>
    <CreateDate>2025-12-03T12:00:00</CreateDate>
    <NodeName Default="Chronic Inflammation V2" />
    <SortOrder>95</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1bee04c-fd5a-4d72-99bf-f3260bd85b20">protocol</Template>
  </Info>
  <Properties>
    <diagramImages>
      <Value><![CDATA[[{"mediaKey":"ed04d64c-bee7-4772-9935-161d2082dabf"}]]]></Value>
    </diagramImages>
    <headline>
      <Value><![CDATA[Chronic Inflammation V2]]></Value>
    </headline>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[Learn how to treat Chronic Inflammation using Priority Principle V2]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[29.95]]></Value>
    </price>
    <protocolFile>
      <Value><![CDATA[[
  {
    "mediaKey": "ebf01022-cd02-490a-b391-a2f948e3626d"
  }
]]]></Value>
    </protocolFile>
    <salePrice>
      <Value><![CDATA[0]]></Value>
    </salePrice>
    <shortDescription>
      <Value><![CDATA[<p>Learn how to treat Chronic Inflammation using Priority Principle V2.0</p>]]></Value>
    </shortDescription>
    <showDiagrams>
      <Value><![CDATA[1]]></Value>
    </showDiagrams>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/3e8e0bd660868318a0e9079d0f6e3b0a,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/33c524ee090fae02676214ffd789067b,umb://document/677cfc0e6e234499bcda1761d79b2655,umb://document/692907e2e5d67028187797318a00e61b,umb://document/0016e4040cdfefbd3f6c1d0f33efe33b,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
  </Properties>
</Content>