<?xml version="1.0" encoding="utf-8"?>
<Content Key="99bb0cd3-f669-4704-a471-4273c24555b3" Alias="Clinical Pearls of Low Level Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/ClinicalPearlsOfLowLevelLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Clinical Pearls of Low Level Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-10-22T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Once in awhile you run into a case that just does not want to respond. Maybe a persistent hip pain patient or a TMD case that will not resolve. \u003Cbr /\u003E\n\u003Cbr /\u003E\nEver wondered if a set of Laser Probes might be useful, or you may have a set of probes and are not sure how to get the most out of them. Then this is the webinar for you. \u003Cbr /\u003E\n\u003Cbr /\u003E\nJoin Dr. Chris Carraway, and our Special Guest Speaker Dr. Brian Sherwood of Australia, for a host of tips and tricks for better outcomes, that we call \u0022Clinical Pearls.\u0022\u003Cbr /\u003E\n\u003Cbr /\u003E\nThere should be a lot of take-home value to be had by attending this one."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[61:23]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Dr. Chris Carraway, and our Special Guest Speaker Dr. Brian Sherwood of Australia, for a host of tips and tricks for better outcomes, that we call "Clinical Pearls." ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Clinical Pearls of Low Level Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Clinical Pearls of Low Level Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-5487180" mozallowfullscreen name="vzvd-5487180" src="//view.vzaar.com/5487180/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>