<?xml version="1.0" encoding="utf-8"?>
<Content Key="004ab7ff-fb03-4dbf-9a4c-0d2d6d5ae60b" Alias="Color" Level="3">
  <Info>
    <Parent Key="ae7ad9ea-1453-4b12-8ec0-b4f35abc4a74">Laser Characteristics</Parent>
    <Path>/Filters/LaserCharacteristics/Color</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Color" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>