<?xml version="1.0" encoding="utf-8"?>
<Content Key="e45b1cc5-a567-3d0c-483f-13c97ec9c84f" Alias="Combo" Level="4">
  <Info>
    <Parent Key="5700692f-6d15-4cb3-a005-bf96d5b58d8b">Probe Construction</Parent>
    <Path>/Filters/LaserCharacteristics/ProbeConstruction/Combo</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Combo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>