<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf0e6212-066c-4d73-8146-aed831ac498b" Alias="Common Foot Pain Conditions that respond well to Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/CommonFootPainConditionsThatRespondWellToSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Common Foot Pain Conditions that respond well to Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2016-09-22T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Chronic foot pain, though not deadly is certainly an unpleasant condition to deal with on a daily basis. Often through lack of knowledge of proper foot wear and care, a patient\u0026rsquo;s foot pain will become a chronic condition; and though not often disabling, their life style, activities of daily living, and overall quality of life are profoundly affected. \u003Cbr /\u003E\n\u003Cbr /\u003E\nJoin Dr. Chris Carraway and special guest speaker Dr. Kevin Wong, a respected industry expert as they review aspects of treating the human foot with Low Level Laser, exercise, insoles and various other treatment methods."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[62:30]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Common Foot Pain Conditions that respond well to Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-8264252" name="vzvd-8264252" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="435" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/8264252/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>