<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8f02bc7-b6e7-4d75-93a8-963d7a0f288e" Alias="Comparative Study" Level="3">
  <Info>
    <Parent Key="eeca2ac3-eede-43b8-be7c-42cd31b73429">Study Characteristics</Parent>
    <Path>/Filters/StudyCharacteristics/ComparativeStudy</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Comparative Study" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>