<?xml version="1.0" encoding="utf-8"?>
<Content Key="16a19f24-8492-4612-a050-4e90eba268d5" Alias="Cross-Sectional" Level="4">
  <Info>
    <Parent Key="cc8082ea-0c8a-455c-b12b-d0162957585d">Type of Research Study</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfResearchStudy/CrossSectional</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Cross-Sectional" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>