<?xml version="1.0" encoding="utf-8"?>
<Content Key="49e2dc38-32d2-4319-8036-820595aaf46a" Alias="Current Laser Practice-A NAALT/WALT Conference Review" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/CurrentLaserPracticeANAALTWALTConferenceReview</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Current Laser Practice-A NAALT/WALT Conference Review" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-09-25T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Join two of the NAALT conference presenters, Dr. Chris Carraway and Dr. Tim Demchak as they share a variety of laser therapy practice options, and their \u0026ldquo;Go-To\u0026rsquo;s\u0026rdquo; they have found beneficial in daily use, and a review of what they presented on at the NAALT/WALT joint conference. Helpful resources, and practical ideas that benefit the clinician and the patient, along with review on the information presented at the September Conference in Washington DC, from a presenters point of view.\u0026nbsp; Top Clinical Pearls from these clinicians.\u0026nbsp; Interactive Q\u0026amp;A Time"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[60:22]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join two of the NAALT conference presenters, Dr. Chris Carraway and Dr. Tim Demchak as they share a variety of laser therapy practice options, and their “Go-To’s” they have found beneficial in daily use, and a review of what they presented on at the NAALT Conference.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Current Laser Practice-A NAALT/WALT Conference Review | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Current Laser Practice-A NAALT/WALT Conference Review]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2062889" mozallowfullscreen name="vzvd-2062889" src="//view.vzaar.com/2062889/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>