<?xml version="1.0" encoding="utf-8"?>
<Content Key="114028e2-1480-2276-5bcb-693f38267e43" Alias="CW" Level="4">
  <Info>
    <Parent Key="d690a8b8-e832-413c-ba87-9da31b3a428e">Frequency</Parent>
    <Path>/Filters/LaserCharacteristics/Frequency/CW</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="CW" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>