<?xml version="1.0" encoding="utf-8"?>
<Content Key="4097c71e-4d18-9f77-c42f-1344527f88bc" Alias="CW" Level="4">
  <Info>
    <Parent Key="797ed992-47e5-4fd9-9026-3357eb76110b">Type of Output</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfOutput/CW</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="CW" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>