<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2af278d-5423-42e0-bfaa-828e280356a1" Alias="DC" Level="4">
  <Info>
    <Parent Key="797ed992-47e5-4fd9-9026-3357eb76110b">Type of Output</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfOutput/DC</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="DC" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>