<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1e369e1-2fdd-4635-827f-167788158401" Alias="Dec-13" Level="4">
  <Info>
    <Parent Key="9057fee7-e84e-4d20-9beb-e6ef6c814787">Veterinary Webinars</Parent>
    <Path>/Home/Webinars/VeterinaryWebinars/Dec13</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-06-27T16:28:52</CreateDate>
    <NodeName Default="Dec-13" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2013-12-05T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(84, 86, 83); font-family: \u0026quot;Source Sans Pro\u0026quot;, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EThis veterinary webinar reviews priority of laser therapy treatment through animal case study review and discussion.\u0026nbsp; Wound treatments are shown in equine, companion and exotic animals.\u0026nbsp; This in-depth overview shows how laser therapy can bring wounds to close faster.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1-2 PM EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[This veterinary webinar reviews priority of laser therapy treatment through animal case study review and discussion.  Wound treatments are shown in equine, companion and exotic animals.  This in-depth overview shows how laser therapy can bring wounds to close faster.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Accelerate Traumatic Wound Healing in Animals with Super Pulsed Laser Therapy | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[{20F15A6A-2B17-474A-B7D5-EFCFFB417648}]]></Value>
    </product>
    <products>
      <Value><![CDATA[{14A2FEDA-D014-4888-BCBE-BA6954B80FB7}|{EC619683-E331-489B-9C33-0A979DA8047C}|{B970DBC4-2807-4E82-8B59-4FB369A18467}]]></Value>
    </products>
    <tags>
      <Value><![CDATA[{7E07CB60-7454-41DB-9B9D-F22F1E29C124}|{CB6A4DE9-F417-4F7F-92D3-2A5EEFA62163}|{E00FDD21-1B2A-4E09-8865-D8131329041A}|{B3B9A6D5-0279-4729-8502-652F5022518A}|{15ADE95B-D73F-4ACE-8789-E58F96E721A8}|{572F7E75-30F1-4402-8A1C-7EB56AF7F018}|{F45C2414-78FB-48BC-B5D9-3905CC9F7BDF}|{AC0BFD53-2C2A-4513-92F1-0FD7ABF4ABA1}|{1154E950-DF92-4758-8018-7CB403C550B7}|{6FAEE164-5C1B-4EF3-B354-4FC3815FCBA0}|{1A77710E-790F-4A94-8F8E-720F6EAC5855}|{8230A568-114C-4DC8-8848-83501E08A1A8}|{DBDE9853-8834-46D7-B517-278DA4D7EDBE}|{E133C5FB-1B38-4631-83D7-806563DE16CA}|{2FDDDC72-EE2B-4753-975D-40898C07C111}|{59721085-B486-46E5-B8FA-CD14F5432F80}|{6E0FBF8D-3229-4570-9777-DC8693DBF002}|{7375BF4E-AD45-4025-B0B3-D18FF06F17E5}|{2C77457C-DAC5-4B45-B784-D55B72A3A2DF}|{F5C671A7-7AA1-42A8-8CED-5A8266E1ABA7}|{B90895FF-60FF-4EB5-BC09-87638AEB2848}|{672C42F7-06DA-41F4-B681-CD26D16F39FD}|{B6429984-4E91-465D-A858-9A2AD19EF55D}|{88591DFE-B94D-48BD-8288-ABF84867AB01}]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Accelerate Traumatic Wound Healing in Animals with Super Pulsed Laser Therapy]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="282" id="vzvd-1493683" mozallowfullscreen name="vzvd-1493683" src="https://view.vzaar.com/1493683/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>