<?xml version="1.0" encoding="utf-8"?>
<Content Key="a633d2be-86be-4315-a8fb-826afa5e13cb" Alias="Delivering on the Promise of Laser Therapy" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/DeliveringOnThePromiseOfLaserTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Delivering on the Promise of Laser Therapy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2012-08-01T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022p1\u0022\u003EThis program delves into some laser basics as well as putting laser theory in to daily practice. The listener can expect to widen their understanding of the basic clinical applications as well.\u003C/p\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Delivering on the Promise of Laser Therapy]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="326" id="vzvd-1418333" mozallowfullscreen name="vzvd-1418333" src="https://view.vzaar.com/1418333/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>