<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9f6c0c2-1c6a-52d4-fb39-ebe164be0a49" Alias="Dermatology" Level="4">
  <Info>
    <Parent Key="a057febd-ed99-4039-aec9-096cf381360a">Research Category</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/ResearchCategory/Dermatology</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Dermatology" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>