<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8b5cbde-ee8d-4ba6-b1b5-ca0e106b722e" Alias="Developing your own Protocols: It's easier than you think" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/DevelopingYourOwnProtocolsItsEasierThanYouThink</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Developing your own Protocols: It's easier than you think" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2020-03-19T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPBM is nearly 60 years old, and there\u0026rsquo;s a long list of written protocols, but we\u0026rsquo;ve only really scratched the surface. What are we to do when we are confronted with conditions and there are no written protocols established? \u003C/p\u003E\n\u003Cp\u003EWe\u0026rsquo;re going to build on the last two webinars and PBM basics, and step into the unknown. A step by step guide on how to go through protocol building when you find yourself in this situation. This webinar will build your confidence and set your mental wheels turning and help you to achieve positive and reproducible outcomes, where there are no written protocols to refer to.\u003C/p\u003E\n\u003Cp\u003EJoin Dr. Chris Carraway for the March webinar and learn how to Develop your own Protocols.\u003C/p\u003E\n\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[46:28]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[PBM is nearly 60 years old, and there’s a long list of written protocols, but we’ve only really scratched the surface. What are we to do when we are confronted with conditions and there are no written protocols established? ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Developing your own Protocols: It's easier than you think | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Developing your own Protocols: It's easier than you think]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-21375650" name="vzvd-21375650" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/21375650/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>