<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bd28905-9eca-40cb-a8dc-6b5d58f6e867" Alias="Diagnostics/Condition Criteria" Level="2">
  <Info>
    <Parent Key="11111111-1111-1111-1111-111111111111">Filters</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria</Path>
    <Trashed>false</Trashed>
    <ContentType>filterSection</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Diagnostics/Condition Criteria" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <sectionActive>
      <Value><![CDATA[]]></Value>
    </sectionActive>
  </Properties>
</Content>