<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dc9311b-72ea-8a1e-5e88-b1244b212bbe" Alias="Dog" Level="4">
  <Info>
    <Parent Key="e24268d4-9f1f-4c8a-9da6-6aeb6b1939e0">Study Type</Parent>
    <Path>/Filters/StudyCharacteristics/StudyType/Dog</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Dog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>