<?xml version="1.0" encoding="utf-8"?>
<Content Key="7eb7047a-9551-1ca8-e9a0-81c36e14eb4c" Alias="Duty Cycle" Level="4">
  <Info>
    <Parent Key="d690a8b8-e832-413c-ba87-9da31b3a428e">Frequency</Parent>
    <Path>/Filters/LaserCharacteristics/Frequency/DutyCycle</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Duty Cycle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>