<?xml version="1.0" encoding="utf-8"?>
<Content Key="d074b2e1-0586-4901-b470-e4d5eb3055d9" Alias="Effect of light-emitting diodes therapy (LEDT) on " Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EffectOfLightEmittingDiodesTherapyLEDTOn</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Effect of light-emitting diodes therapy (LEDT) on " />
    <SortOrder>130</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Baroni BM, Leal Junior EC, Geremia JM, Diefenthaeler F, Vaz MA.]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>OBJECTIVE:</h3>
<p class="p1">The purpose of this study was to evaluate the effects of light-emitting diodes therapy (LEDT) on quadriceps muscle fatigue by using torque values from the isokinetic dynamometer as an outcome measure.</p>
<h3>BACKGROUND DATA:</h3>
<p class="p1">Light therapy is considered an innovative way to prevent muscle fatigue. Although positive results have been obtained in animal models and in clinical experiments, no results are available on the effects of this therapeutic modality on human performance studies with isokinetic dynamometry.</p>
<h3>MATERIALS AND METHODS:</h3>
<p class="p1">Seventeen healthy and physically active male volunteers were included in a crossover randomized double-blinded placebo-controlled trial. They performed two sessions of an isokinetic fatigue test (30 maximal concentric knee flexion-extension contractions; range of motion, 90 degrees; angular velocity, 180 degrees per second) after LEDT or placebo treatment. Maximal knee extensor muscle isokinetic voluntary contractions were performed before (PRE-MVC) and after (POST-MVC) the fatigue test. LEDT treatment was performed with a multidiode cluster probe (34 red diodes of 660 nm, 10 mW; 35 infrared diodes of 850 nm, 30 mW) at three points of the quadriceps muscle, with a total irradiating dose of 125.1 J.</p>
<h3>RESULTS:</h3>
<p class="p1">No differences were observed in the PRE-MVC between LEDT</p>
<p class="p1">(284.81 &plusmn; 4.52 Nm) and placebo (282.65 &plusmn; 52.64 Nm) treatments. However, for the</p>
<p class="p1">POST-MVC, higher torques (p = 0.034) were observed for LEDT (237.68 &plusmn; 48.82 Nm) compared with placebo (225.68 &plusmn; 44.14 Nm) treatment.</p>
<h3>CONCLUSION:</h3>
<p class="p1">LEDT treatment produced a smaller maximal isometric torque decrease after high-intensity concentric isokinetic exercise, which is consistent with an increase in performance.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2010-10-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomed Laser Surg. 2010 Oct;28(5):653-8. doi: 10.1089/pho.2009.2688. Epub 2010  Jul 13.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Effect of light-emitting diodes therapy (LEDT) on knee extensor muscle fatigue.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Effect of light-emitting diodes therapy (LEDT) on knee extensor muscle fatigue.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomed Laser Surg]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Effect of light-emitting diodes therapy (LEDT) on knee extensor muscle fatigue." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[<p>Laser Therapy U's online research portal houses an extensive collection of published studies, articles and abstracts from around the world.</p>
<p>Sort through our entire research database using the filter tool above.</p>
<p>Be sure to check back frequently... new items are added weekly!</p>]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/9c887c37a1aabdab536bf08b8258050c,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/3e8e0bd660868318a0e9079d0f6e3b0a,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/e45b1cc5a5673d0c483f13c97ec9c84f,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>