<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b2a8ac2-b320-41b6-b515-8750fe50075e" Alias="Effect of superpulsed laser irradiation on bone fo" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EffectOfSuperpulsedLaserIrradiationOnBoneFo</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Effect of superpulsed laser irradiation on bone fo" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Martinasso G,&nbsp;Mozzati M,&nbsp;Pol R,&nbsp;Canuto RA,&nbsp;Muzio G<br />]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[AIM: The effect superpulsed of low-level laser therapy (SLLLT) on bone regeneration has been the focus of recent research. This preliminary study investigated the effect of superpulsed laser irradiation on proliferation and bone formation in human osteoblast-like cells MG-63. METHODS: Human osteoblast-like cells MG-63 were exposed every 24 h to superpulsed low-level laser produced by the device Lumix 2 HFPL Dental (Fisioline s.n.c., Verduno, Cuneo, Italy); the experimental protocol comprised 4 days of treatment. At each experimental time, cell proliferation and some markers of osteoblast activity were evaluated. RESULTS: Numbers of laser-treated cells increased starting from day 2 of treatment. The ability of SLLLT irradiation to stimulate bone production was evaluated by determining the expression of osteocalcin and alkaline phosphatase, proteins involved in calcium nodule formation. These proteins increased markedly after 3 days of laser treatment.<br />
<br />
CONCLUSIONS: These preliminary results show that repeated SLLLT irradiation stimulates cell proliferation in human osteoblast-like cells and, importantly, increases the expression of proteins essential for bone formation.<br />]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2007-11-25T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Minerva Stomatologica [2007, 56(1-2):27-30]]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Effect of superpulsed laser irradiation on bone formation in a human osteoblast-like cell line.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Effect of superpulsed laser irradiation on bone formation in a human osteoblast-like cell line.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Minerva Stomatologica]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Effect of superpulsed laser irradiation on bone formation in a human osteoblast-like cell line" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/191629759db54314136fdb7885d20d7c,umb://document/682798eb9fe447c9896adedd3eba3575,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
  </Properties>
</Content>