<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e65af4-f88d-4728-83c5-0eb66a9c0500" Alias="Effective Strategies for PAIN: Q &amp; A Webinar" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/EffectiveStrategiesForPAINQAWebinar</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Effective Strategies for PAIN: Q &amp; A Webinar" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-08-28T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EJoin Dr. Chris Carraway as he reviews effective pain abatement treatments using Super Pulsed Laser.\u0026nbsp; How to combine Local and Systemic protocols for superior outcomes.\u0026nbsp;\u0026nbsp;\u003Cspan style=\u0022text-decoration: underline;\u0022\u003EInteractive Webinar \u003C/span\u003E- This webinar will have an extended time period allotted for audience Questions related to Pain Strategies.  \u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[58:56]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Dr. Chris Carraway as he reviews effective pain abatement treatments using Super Pulsed Laser.  How to combine Local and Systemic protocols for superior outcomes.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Effective Strategies for PAIN | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Effective Strategies for PAIN: Q & A Webinar]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-1953164" mozallowfullscreen name="vzvd-1953164" src="//view.vzaar.com/1953164/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>