<?xml version="1.0" encoding="utf-8"?>
<Content Key="93096fe8-c9a8-432e-a3e4-4dccf529c90d" Alias="Efficacy of different therapy regimes of low-power" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EfficacyOfDifferentTherapyRegimesOfLowPower</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Efficacy of different therapy regimes of low-power" />
    <SortOrder>143</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Ali Gur MD, Abdulkadir Cosut, Aysegul Jale Sarac, Remzi Cevik, Kemal Nas, Asur Uyar</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<p class="p1">A prospective, double-blind, randomized, and controlled trial was conducted in patients with knee osteoarthritis (OA) to evaluate the efficacy of infrared low-power Gallium-Arsenide (Ga-As) laser therapy (LPLT) and compared two different laser therapy regimes.</p>
<h3>Study Design/Materials and Methods</h3>
<p class="p1">Ninety patients were randomly assigned to three treatment groups by one of the nontreating authors by drawing 1 of 90 envelopes labeled &lsquo;A&rsquo; (Group I: actual LPLT consisted of 5 minutes, 3 J total dose + exercise; 30 patients), &lsquo;B&rsquo; (Group II: actual LPLT consisted of 3 minutes, 2 J total dose + exercise; 30 patients), and &lsquo;C&rsquo; (Group III: placebo laser group + exercise; 30 patients). All patients received a total of 10 treatments, and exercise therapy program was continued during study (14 weeks). Subjects, physician, and data analysts were unaware of the code for active or placebo laser until the data analysis was complete. All patients were evaluated with respect to pain, degree of active knee flexion, duration of morning stiffness, painless walking distance and duration, and the Western Ontario and Mc Master Universities Osteoarthritis Index (WOMAC) at week 0, 6, 10, and 14.</p>
<h3>Results</h3>
<p class="p1">Statistically significant improvements were indicated in respect to all parameters such as pain, function, and quality of life (QoL) measures in the post-therapy period compared to pre-therapy in both active laser groups (P &lt; 0.01). Improvements in all parameters of the Group I and in parameters, such as pain and WOMAC of the Group II, were more statistically significant when compared with placebo laser group (P &lt; 0.05).</p>
<h3>Conclusions</h3>
<p class="p1">Our study demonstrated that applications of LPLT in different dose and duration have not affected results and both therapy regimes were a safe and effective method in treatment of knee OA. Lasers Surg. Med. 33:330&ndash;338, 2003. &copy; 2003 Wiley-Liss, Inc.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2003-12-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[DOI: 10.1002/lsm.10236 Lasers in Surgery and Medicine, Volume 33, Issue 5, pages 330–338, December 2003]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Efficacy of different therapy regimes of low-power laser in painful osteoarthritis of the knee: A double-blind and randomized-controlled trial]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Efficacy of different therapy regimes of low-power laser in painful osteoarthritis of the knee: A double-blind and randomized-controlled trial]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Lasers in Surgery and Medicine]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Efficacy of different therapy regimes of low-power laser in painful osteoarthritis of the knee: A double-blind and randomized-controlled trial" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/74116831414d15707446c838f054356f,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>