<?xml version="1.0" encoding="utf-8"?>
<Content Key="dea45fc8-3a4a-4ee4-9412-9481c3d5b3b1" Alias="Efficacy of low power laser therapy and exercise o" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EfficacyOfLowPowerLaserTherapyAndExerciseO</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Efficacy of low power laser therapy and exercise o" />
    <SortOrder>146</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Ali Gur MD, Mehmet Karakoc, Remzi Cevik, Kemal Nas, Aysegul Jale Sarac, Meral Karakoc]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Background and Objectives</h3>
<p class="p1">The aim of this study was to determine whether low power laser therapy (Gallium&ndash;Arsenide) is useful or not for the therapy of chronic low back pain (LBP).</p>
<h3>Study Design/Materials and Methods</h3>
<p class="p1">This study included 75 patients (laser+exercise&mdash;25, laser alone&mdash;25, and exercise alone&mdash;25) with LBP. Visual analogue scale (VAS), Schober test, flexion and lateral flexion measures, Roland Disability Questionnaire (RDQ) and Modified Oswestry Disability Questionnaire (MODQ) were used in the clinical and functional evaluations pre and post therapeutically. A physician, who was not aware of the therapy undertaken, evaluated the patients.</p>
<h3>Results</h3>
<p class="p1">Significant improvements were noted in all groups with respect to all outcome parameters, except lateral flexion (P&lt;0.05).</p>
<h3>Conclusions</h3>
<p class="p1">Low power laser therapy seemed to be an effective method in reducing pain and functional disability in the therapy of chronic LBP.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2003-03-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Lasers in Surgery and Medicine Volume 32, Issue 3, pages 233–238, March 2003]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Efficacy of low power laser therapy and exercise on pain and functions in chronic low back pain]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Efficacy of low power laser therapy and exercise on pain and functions in chronic low back pain]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Lasers in Surgery and Medicine]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Efficacy of low power laser therapy and exercise on pain and functions in chronic low back pain" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/e1f16e2402048db34184bbb67788943e,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/bf8a8f93abf67e5546286a6eb69c37d8,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>