<?xml version="1.0" encoding="utf-8"?>
<Content Key="fec97763-7e32-40ba-8da6-a5de4eaf73d2" Alias="Efficacy of low level laser therapy associated wit" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EfficacyOfLowLevelLaserTherapyAssociatedWit</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Efficacy of low level laser therapy associated wit" />
    <SortOrder>145</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Patr&iacute;cia Pereira Alfredo, Jan Magnus Bjordal, S&iacute;lvia Helena Dreyer, Sarah R&uacute;bia Ferreira Meneses, Giovana Zaguetti, Vanessa Ovanessian, Thiago Yukio Fukuda, Washington Steagall Junior, Rodrigo &Aacute;lvaro Brand&atilde;o Lopes Martins, Raquel Aparecida Casarotto, Am&eacute;lia Pasqual Marques</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objectives:</h3>
<p class="p1">To estimate the effects of low level laser therapy in combination with a programme of exercises on pain, functionality, range of motion, muscular strength and quality of life in patients with osteoarthritis of the knee.</p>
<h3>Design:</h3>
<p class="p1">A randomized double-blind placebo-controlled trial with sequential allocation of patients to different treatment groups.</p>
<h3>Setting:</h3>
<p class="p1">Special Rehabilitation Services.</p>
<h3>Subjects:</h3>
<p class="p1">Forty participants with knee osteoarthritis, 2&ndash;4 osteoarthritis degree, aged between 50 and 75 years and both genders.</p>
<h3>Intervention:</h3>
<p class="p1">Participants were randomized into one of two groups: the laser group (low level laser therapy dose of 3J and exercises) or placebo group (placebo laser and exercises).</p>
<h3>Main measures:</h3>
<p class="p1">Pain was assessed using a visual analogue scale (VAS), functionality using the Lequesne questionnaire, range of motion with a universal goniometer, muscular strength using a dynamometer, and activity using the Western Ontario and McMaster Universities Osteoarthritis (WOMAC) questionnaire at three time points: (T1) baseline, (T2) after the end of laser therapy (three weeks) and (T3) the end of the exercises (11 weeks).</p>
<h3>Results:</h3>
<p class="p1">When comparing groups, significant differences in the activity were also found (P=0.03). No other significant differences (P&gt;0.05) were observed in other variables. In intragroup analysis, participants in the laser group had significant improvement, relative to baseline, on pain (P=0.001), range of motion (P=0.01), functionality (P=0.001) and activity (P&lt;0.001). No significant improvement was seen in the placebo group.</p>
<h3>Conclusion:</h3>
<p class="p1">Our findings suggest that low level laser therapy when associated with exercises is effective in yielding pain relief, function and activity on patients with osteoarthritis of the knees.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2012-06-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Clin Rehabil June 2012 vol. 26 no. 6 523-533]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Efficacy of low level laser therapy associated with exercises in knee osteoarthritis: a randomized double-blind study]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Efficacy of low level laser therapy associated with exercises in knee osteoarthritis: a randomized double-blind study]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Clin Rehabil]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Efficacy of low level laser therapy associated with exercises in knee osteoarthritis: a randomized double-blind study" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/74116831414d15707446c838f054356f,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>