<?xml version="1.0" encoding="utf-8"?>
<Content Key="da67e591-28bb-4e68-9294-a5a52c6f619f" Alias="Efficacy of Lasers and PDT for the Treatment of Ac" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EfficacyOfLasersAndPDTForTheTreatmentOfAc</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Efficacy of Lasers and PDT for the Treatment of Ac" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[M. H. Gold, MD<br />]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[Acne vulgaris can represent a therapeutic challenge in terms of managing ongoing symptoms and preventing scar formation. While the copious variations of available treatments address milder forms of the disease, until recently, therapies for resistant or moderate-to-severe forms were limited to systemic agents that were accompanied by potentially severe side-effects. With the addition of lasers, light sources, and aminolevulinic acid-photodynamic therapy (ALA-PDT) therapies, dermatologists may now have viable new alternatives for treating all grades of acne severity that circumvent the negative side-effects associated with many conventional options.<br />]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2007-08-05T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Gold Skin Care Center, Tennessee Clinical Research Center, Nashville, TN, USA Clinical Assistant Professor, Department of Dermatology, Vanderbilt University School of Medicine, School of Nursing Huashan Hospital, Fudan University, Shanghai, China]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Efficacy of Lasers and PDT for the Treatment of Acne Vulgaris]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Efficacy of Lasers and PDT for the Treatment of Acne Vulgaris]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Expert Rev Anti Infect Ther]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[<link text="Click Here to View Full Article" linktype="external" url="http://www.ncbi.nlm.nih.gov/pubmed/18039088" anchor="" target="" />]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Efficacy of Lasers and PDT for the Treatment of Acne Vulgaris" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/a0e90c096d8985c7fc231bbe54f01a12,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/430e80375a992573c31538415b3234d4,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/f17fda64ab51b2c20ae406b336346472,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/a1d86305cc3599351979e7342a067d19,umb://document/5df44537a851939b196bcb715963835c]]></Value>
    </tags>
  </Properties>
</Content>