<?xml version="1.0" encoding="utf-8"?>
<Content Key="418a3496-e97e-ae53-7f5c-640ad475ff41" Alias="Elbow" Level="4">
  <Info>
    <Parent Key="ccacb58d-1510-4e43-8351-eb6b5e37fea3">Body Part</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/BodyPart/Elbow</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Elbow" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>