<?xml version="1.0" encoding="utf-8"?>
<Content Key="a877eeec-25e0-492f-b180-230bf2172ad8" Alias="Eliminating Headaches and Facial Pain With Laser Therapy" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/EliminatingHeadachesAndFacialPainWithLaserTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Eliminating Headaches and Facial Pain With Laser Therapy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-07-23T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Headaches and Facial Pain can often be difficult to manage due to ambiguous etiology and ineffective treatment strategies. Let us help you get your head on straight! \u003Cbr /\u003E\n\u003Cbr /\u003E\nJoin Dr. Chris Carraway and Dr. Patrick Starkey as they discuss common head and facial conditions, and then how Super Pulsed Laser Therapy can be used to effectively treat them! \u003Cbr /\u003E\n\u003Cbr /\u003E\nHeadache disorders are the most common neurological disorders affecting Americans and are among the most frequent symptom reported to doctors; Neurologist survey found that up to one-third of all patients were consulted because of headaches - more than any other complaint"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1:10 ]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Headaches and Facial Pain can often be difficult to manage due to ambiguous etiology and ineffective treatment strategies. Let us help you get your head on straight! ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Eliminating Headaches and Facial Pain With Laser Therapy]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Eliminating Headaches and Facial Pain With Laser Therapy]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-4643184" mozallowfullscreen name="vzvd-4643184" src="//view.vzaar.com/4643184/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>