<?xml version="1.0" encoding="utf-8"?>
<Content Key="768f2db3-879b-5382-db9b-722993036324" Alias="Equivalent" Level="4">
  <Info>
    <Parent Key="1d28c5cc-b0f1-425a-9416-c74f70035766">Outcome</Parent>
    <Path>/Filters/ResourceCharacteristics/Outcome/Equivalent</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Equivalent" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>