<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3098889-f94a-6afb-605a-d06444125848" Alias="ESTIM" Level="4">
  <Info>
    <Parent Key="c270c3c7-cb65-445a-9805-dacd63634757">Type of Device</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfDevice/ESTIM</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="ESTIM" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>