<?xml version="1.0" encoding="utf-8"?>
<Content Key="84ce3208-4c34-4364-a68f-d7b48e4ada28" Alias="european-2014" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/european-2014</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Using Cold Laser Therapy for Pain Attenuation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-04-03T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "Webinar focuses on understanding the clinical application of super pulsed laser and how to get the best outcomes when treating Pain.<br />"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[53:12]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Webinar focuses on understanding the clinical application of super pulsed laser and how to get the best outcomes when treating Pain.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Using Cold Laser Therapy for Pain Attenuation | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Using Cold Laser Therapy for Pain Attenuation]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="282" id="vzvd-1563897" mozallowfullscreen name="vzvd-1563897" src="https://view.vzaar.com/1563897/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>