<?xml version="1.0" encoding="utf-8"?>
<Content Key="55cbb728-cf2e-4b8e-8a00-e242efae8b0e" Alias="Evidence of Resistance Development by Staphylococc" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/EvidenceOfResistanceDevelopmentByStaphylococc</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Evidence of Resistance Development by Staphylococc" />
    <SortOrder>149</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">J. Stephen Guffey, PT, EdD, William Payne, MS, ASCP(MT), Tyler Jones, MSEd, CSCS, and Kyle Martin, BA</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">The aim of this study was to determine whether Staphylococcus aureus could develop a resistance to 405 nm light.</p>
<h3>Background data:</h3>
<p class="p1">Research indicates that certain wavelengths and treatment parameters of light promote growth of bacteria; however, our earlier work indicated that blue light effectively inactivates growth of S. aureus in vitro.</p>
<h3>Methods:</h3>
<p class="p1">S. aureus was tested because of its frequent isolation from skin infections and wounds. The organism was treated with 405 nm light from supraluminous diodes at a dose of 9 J/cm2.</p>
<h3>Results:</h3>
<p class="p1">As anticipated, blue light produced a significant (p&le;0.05) inactivation of S. aureus growth. Subsequent applications of blue light to subcultured generations of S. aureus were increasingly effective through four stages (generations). Beginning with stage five, a decrease in effectiveness (resistance) was observed.</p>
<h3>Conclusions:</h3>
<p class="p1">Appropriate doses of 405-nm blue light inhibit the growth of S. aureus in vitro. This research does suggest that S. aureus may be capable of developing resistance to blue light irradiation.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-04-08T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[J. Stephen Guffey, William Payne, Tyler Jones, and Kyle Martin. Photomedicine and Laser Surgery. April 2013, 31(4): 179-182. doi:10.1089/pho.2012.3450.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Evidence of Resistance Development by Staphylococcus aureus to an In Vitro, Multiple Stage Application of 405 nm Light from a Supraluminous Diode Array]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Evidence of Resistance Development by Staphylococcus aureus to an In Vitro, Multiple Stage Application of 405 nm Light from a Supraluminous Diode Array]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomedicine and Laser Surgery]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Evidence of Resistance Development by Staphylococcus aureus to an In Vitro, Multiple Stage Application of 405 nm Light from a Supraluminous Diode Array" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/5e83787cb163a6e9646affb57308f615,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/10ce61769a57d12205dcba1ba38c62cd,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>