<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3022ba8-4d7c-499a-882b-54b350ab3448" Alias="Expanding the Photoceutical Approach to Clinical Care" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/ExpandingThePhotoceuticalApproachToClinicalCare</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="Expanding the Photoceutical Approach to Clinical Care" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2022-09-29T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPain remains the most common reason clients seek out medical treatment.\u0026nbsp; With the continued opioid crisis, it is imperative that clinicians offer new and effective non-pharmacological alternatives for pain sufferers \u0026ndash; laser therapy has continued to gain favor as one of the most effective opioid replacements.\u003C/p\u003E\n\u003Cp\u003EWhile modulating pain with laser therapy has been explored for years, new scientific discoveries have optimized the capacity of class 4 laser for targeting specific pain receptors for fast pain relief.\u003C/p\u003E\n\u003Cp\u003EJoin Douglas Johnson and Dr. Christopher Carraway as they discuss how to apply light as a photoceutical and how it differs from traditional laser therapy. With this new understanding, clinicians will appreciate how specific wavelengths of light impact clinical outcomes such as pain or inflammation. \u003C/p\u003E\n\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[69:28]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Pain remains the most common reason clients seek out medical treatment. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Expanding the Photoceutical Approach to Clinical Care | LaserTherapyU]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Expanding the Photoceutical Approach to Clinical Care]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<div style="position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;"><iframe id="9b55c3e2-cdce-27aa-43d3-410b4ed03103" src="https://iframe.dacast.com/vod/f8fff14e5fe3c5a4d59cc61229050db1/9b55c3e2-cdce-27aa-43d3-410b4ed03103" width="640" height="360" frameborder="0" scrolling="no" allow="autoplay;encrypted-media" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen style="position:absolute;top:0;left:0;"></iframe></div>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>