<?xml version="1.0" encoding="utf-8"?>
<Content Key="647bb4bb-bd84-4e02-984d-25ca612fa7f1" Alias="february-2019" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/february-2019</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Super Pulsed Laser: Photohemotherapy and Clinical Pearls" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2019-02-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "In January we covered Laser Basics and Priority Principle, which should have armed you with a solid foundation.  Occasionally, you run into a case that doesn't fit the standard mold.  This month's offering will deal with how to manage those tricky cases that may have left you scratching your head.\nWe will discuss how to efficiently flow through Priority Principle techniques and when to change from one principle to the next.  We will also review some unusual individual case studies where laser therapy has yielded dramatic results.  If you missed the January webinar - we strongly encourage you to visit LaserTherapyU.org and review that one before this broadcast.\nAnd then join Dr Chris Carraway for our February webinar, Super Pulsed Laser: Photohemotherapy and Clinical Pearls."}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[67:02]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[In January we covered Laser Basics and Priority Principle, which should have armed you with a solid foundation.  ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser: Photohemotherapy and Clinical Pearls | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Super Pulsed Laser: Photohemotherapy and Clinical Pearls]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-19725528" name="vzvd-19725528" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/19725528/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>