<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7ce4b98-fdbe-433f-ac75-6d8f8e545f79" Alias="february-2015" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/february-2015</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Simply the Basics-The Priority Principle" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-02-19T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "<p>&nbsp;Join Dr. Chris Carraway and Dr. Brian Fitzpatrick as they Review treating with Low Level Laser using Priority Principle, to get the clinician to start thinking about building appropriate treatment protocols. </p>\n<p>*The What&rsquo;s What?&hellip;Priority Principle, what is it? </p>\n<p>*Nuts and Bolts&hellip;how to use Priority Principle to get the best outcomes </p>\n<p>*Practical discussion on implementing Priority Principle into clinical practice </p>\n<p>&nbsp;</p>"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[64:27]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Join Dr. Chris Carraway and Dr. Brian Fitzpatrick as they Review treating with Low Level Laser using Priority Principle]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser Therapy Using The Priority Principle | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Simply the Basics-The Priority Principle]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="480" id="vzvd-2788614" mozallowfullscreen name="vzvd-2788614" src="//view.vzaar.com/2788614/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>