<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6f78e4b-c0da-462e-ac26-d50581835067" Alias="Future Webinars" Level="3">
  <Info>
    <Parent Key="0f21c583-0ed5-4149-b278-eea8b3f69202">Webinars</Parent>
    <Path>/Home/Webinars/FutureWebinars</Path>
    <Trashed>false</Trashed>
    <ContentType>webinarList</ContentType>
    <CreateDate>2025-03-14T14:07:21</CreateDate>
    <NodeName Default="Future Webinars" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b40e4c49-b88b-4f34-bcbc-adfd3667929c">webinarList</Template>
  </Info>
  <Properties />
</Content>