<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ec03a2c-f418-0d86-96d3-52275f2c902a" Alias="GameDay" Level="4">
  <Info>
    <Parent Key="96a2ac03-ca4e-4abc-9fc5-4fb17df7fc80">Product Relativity</Parent>
    <Path>/Filters/LaserCharacteristics/ProductRelativity/GameDay</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="GameDay" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>