<?xml version="1.0" encoding="utf-8"?>
<Content Key="d757a992-9b4a-d1ea-6587-2bb16e727c11" Alias="General" Level="4">
  <Info>
    <Parent Key="44e544d3-f276-499e-b059-7d0a5b25761c">Region</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Region/General</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="General" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>