<?xml version="1.0" encoding="utf-8"?>
<Content Key="f17fda64-ab51-b2c2-0ae4-06b336346472" Alias="Head" Level="4">
  <Info>
    <Parent Key="44e544d3-f276-499e-b059-7d0a5b25761c">Region</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Region/Head</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Head" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>