<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8993620-941e-aa86-f0ff-f3fee9d53e54" Alias="Human" Level="4">
  <Info>
    <Parent Key="81d7aa7d-38bb-4e01-8b60-af62bf5b26a6">Tissue</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Tissue/Human</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Human" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>