<?xml version="1.0" encoding="utf-8"?>
<Content Key="40aa628e-0795-6c75-f8ac-ede73b2fdf02" Alias="Immunity" Level="4">
  <Info>
    <Parent Key="a057febd-ed99-4039-aec9-096cf381360a">Research Category</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/ResearchCategory/Immunity</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Immunity" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>