<?xml version="1.0" encoding="utf-8"?>
<Content Key="dda61ae3-aeb2-aa1c-3b85-0fb125de2984" Alias="In-vitro" Level="4">
  <Info>
    <Parent Key="f02c08e3-02b5-46af-b3ea-1a64f0b842b2">Type of Testing</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfTesting/InVitro</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="In-vitro" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>