<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2701a35-f821-a65f-813e-b9863c8a07e6" Alias="In-vivo" Level="4">
  <Info>
    <Parent Key="f02c08e3-02b5-46af-b3ea-1a64f0b842b2">Type of Testing</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfTesting/InVivo</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="In-vivo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>