<?xml version="1.0" encoding="utf-8"?>
<Content Key="19162975-9db5-4314-136f-db7885d20d7c" Alias="Infrared" Level="4">
  <Info>
    <Parent Key="004ab7ff-fb03-4dbf-9a4c-0d2d6d5ae60b">Color</Parent>
    <Path>/Filters/LaserCharacteristics/Color/Infrared</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Infrared" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>