<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c2d3b93-496b-40d7-8a39-0af09bbdfda3" Alias="Ischaemic compression versus laser therapy of an a" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/IschaemicCompressionVersusLaserTherapyOfAnA</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Ischaemic compression versus laser therapy of an a" />
    <SortOrder>156</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Fensham, Jessica Jane</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Purpose:</h3>
<p class="p1">Patients presenting with mechanical cervical spine pain demonstrate myofascial trigger points of the surrounding cervical spine musculature (De Las Penas, Alonso-Blanco, Alguacil-Diego and Miangolarra-Page, 2006). Myofascial trigger points, from specifically the cervical spine musculature, have been seen to be involved to a large extent with not only the local mechanical cervical spine pain but also the accompanying referred pain patterns and symptoms (De Las Penas, Alonso-Blanco and Miangolarra-Page, 2007). The purpose of this study is to compare the efficacy of ischaemic compression and laser therapy respectively, applied to an active myofascial trigger point in participants with acute mechanical cervical spine pain associated with an active trapezius myofascial trigger point TP1, with regards to pain, activities of daily living, pressure pain threshold and cervical spine range of motion.</p>
<h3>Method:</h3>
<p class="p1">This study consisted of two groups, the ischaemic compression group with fifteen participants and the laser group with fifteen participants. The participants were between the ages of eighteen and forty-five years of age. Prior to becoming a participant of this study, individuals were assessed according to the inclusion and exclusion criteria, a clinical case history, physical examination, cervical spine regional examination and upper trapezius muscle palpation to assess for an active trapezius myofascial trigger point 1. Treatment was applied to the active trapezius myofascial trigger point 1 only, from which the subjective and objective results were based.</p>
<h3>Procedure:</h3>
<p class="p1">Each participant was treated six times over a period of two consecutive weeks. Prior to initiation of the treatment, each participant was requested to complete the Vernon-Mior Neck Pain and Disability Index questionnaire and the Visual Analogue Scale. Algometer readings were obtained over the trapezius myofascial trigger point 1, bilaterally. The Cervical Range of Motion (CROM) goniometer was used to obtain numerical values for the participant&rsquo;s active cervical spine ranges of motion: flexion, extension, lateral flexion, and rotation. Ischaemic compression and laser therapy, group 1 and group 2 respectively, then each received treatment of the active trapezius myofascial trigger point 1, for a total of six treatment sessions. Both subjective and objective data readings were obtained before the 1st, 4th, and at the 7th final consultation.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Ischaemic compression versus laser therapy of an active upper trapezius myofascial trigger point in the management of acute mechanical cervical spine pain]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Ischaemic compression versus laser therapy of an active upper trapezius myofascial trigger point in the management of acute mechanical cervical spine pain]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Thesis]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Ischaemic compression versus laser therapy of an active upper trapezius myofascial trigger point in the management of acute mechanical cervical spine pain" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/7cde5769a0b3646be2eafc63ea5112c1,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/142483d6c95ef29f3eedcf30bcf94bf4,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/5df44537a851939b196bcb715963835c,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/9e97a16b98e1863d6ae9848b1caacce4,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/dda61ae3aeb2aa1c3b850fb125de2984,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>