<?xml version="1.0" encoding="utf-8"?>
<Content Key="04c00549-e8f5-4470-b493-c01b4f44a668" Alias="january-2016" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/january-2016</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Start the New Year Right, with Laser Light" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2016-01-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "<p>We made it to 2016.&nbsp; Laser researchers have published some ground breaking papers.&nbsp; Sports teams that are using Super Pulsed Laser are dominating the playing field.&nbsp; 2015 was a good year, and 2016 will be even better.</p>\n<p>So, as has been tradition it&rsquo;s time to kick off our new year Webinar schedule with a Review of some important laser principles basics, clinical guidelines and protocol development tools.&nbsp; Join Dr. Christopher Carraway to start up right with Laser. &nbsp;Keeping abreast of laser basics will put you on solid ground moving forward to more advanced work and better outcomes.&nbsp; So let&rsquo;s get started Right with the Light.</p>"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[63:15]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[So, has been tradition it’s time to kick off our new year Webinar schedule with a Review of some important laser principles basics, clinical guidelines and protocol development tools.  Join Dr. Christopher Carraway to start up right with Laser]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Start the New Year Right, with Laser Light | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Start the New Year Right, with Laser Light]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-6183101" mozallowfullscreen name="vzvd-6183101" src="//view.vzaar.com/6183101/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>