<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9730658-240a-4548-807f-2d7e2efc7ac6" Alias="january-2014" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/january-2014</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="SPLT: Boot Camp" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-01-30T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "<p>Join Douglas Johnson, ATC as he presents the first of four webinars in 2014 focused expressly on understanding the clinical application of super pulsed laser and light treatment (SPLT) and how to get the best outcomes.&nbsp; This introductory course in the series will focus on:</p>\n<p>The Clinician's Take On: HOW IT WORKS<br />\nDose, Dose, Dose: Stimulation vs Inhibition<br />\nKnowing Your Equipment: LaserStim and LaserShower<br />\nQuick Start: Getting Success from Day 1 using basic protocols</p>"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1-2 PM EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[ LTU presents the first of four introductory webinars in 2014 focused expressly on understanding the clinical application of super pulsed laser and light treatment (SPLT) and how to get the best outcomes.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser Therapy Boot Camp | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[SPLT: Boot Camp]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="376" id="vzvd-1493886" mozallowfullscreen name="vzvd-1493886" src="https://view.vzaar.com/1493886/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>