<?xml version="1.0" encoding="utf-8"?>
<Content Key="b484b882-525c-4d2d-a212-bbbd201f00d9" Alias="july-2013" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/july-2013</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="GameDay: Preparation, Performance and Recovery with Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2013-07-25T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "<p class=\"p1\">Review of the GameDay Super Pulsed Laser and its applications with athletes to aid in training and preventing injury, performance on game day, and helping to recover faster after completion. </p>\n<!--<p><img height=\"505\" width=\"590\" src=\"~/media/D6E155C624494C559F7068F7FB4C044E.ashx\" alt=\"April 2012 LTU Webinar\" /></p>-->"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <metaDescription>
      <Value><![CDATA[Review of the GameDay Super Pulsed Laser and its applications with athletes to aid in training and preventing injury, performance on game day, and helping to recover faster after completion. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[GameDay: Preparation, Performance and Recovery with Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[GameDay: Preparation, Performance and Recovery with Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="272" id="vzvd-1518531" mozallowfullscreen name="vzvd-1518531" src="https://view.vzaar.com/1518531/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>