<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b7c5369-6389-4d02-94bb-f73994090ab6" Alias="june-2018" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/june-2018</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Laser Therapy Mistakes-Novice myths and habits and how to avoid them " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-06-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "It has been said&hellip;.we learn from our mistakes. Hopefully this is true. However, it is always better to learn from O.P.M. (Other People's Mistakes) &nbsp;\nThis webinar is a collection of common PBM questions and protocol errors that we see in the clinical support department and when teaching PBM classes. &nbsp;Examples-Treating through clothing, Over treating, Under treating and Mistreating. &nbsp;Skipping around the Priority Principles, and playing laser treatment Hop Scotch so to speak. &nbsp;The nice thing is, with PBM you are never going to hurt anyone with the wrong treatment&hellip;but you really owe it to your patients your best. &nbsp;\nThat is really what this webinar is about. &nbsp;Join Dr. Chris Carraway, and special guest Dr. Elizabeth Starkey as they review the Do&rsquo;s and Don&rsquo;ts for good Laser Therapy."}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[63:14]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[It has been said….we learn from our mistakes. Hopefully this is true. However, it is always better to learn from O.P.M. (Other People's Mistakes)  ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser Therapy Mistakes: Novice myths & habits and how to avoid them | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Laser Therapy Mistakes-Novice myths and habits and how to avoid them ]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-15049174" name="vzvd-15049174" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/15049174/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>