<?xml version="1.0" encoding="utf-8"?>
<Content Key="47766b32-55c4-5251-3f2b-6f2d01005300" Alias="Kidney" Level="4">
  <Info>
    <Parent Key="a057febd-ed99-4039-aec9-096cf381360a">Research Category</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/ResearchCategory/Kidney</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Kidney" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>