<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cc50398-6521-ba9c-10f1-d7256aaa5533" Alias="Knee" Level="4">
  <Info>
    <Parent Key="ccacb58d-1510-4e43-8351-eb6b5e37fea3">Body Part</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/BodyPart/Knee</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Knee" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>