<?xml version="1.0" encoding="utf-8"?>
<Content Key="66120077-9aff-451c-aac9-2b53d44eb0d9" Alias="Knee - Shin Splints" Level="3">
  <Info>
    <Parent Key="a2686db5-6dcc-485c-a183-f2648cfb7a29">Protocols</Parent>
    <Path>/Home/Protocols/KneeShinSplints</Path>
    <Trashed>false</Trashed>
    <ContentType>protocol</ContentType>
    <CreateDate>2025-12-03T12:00:00</CreateDate>
    <NodeName Default="Knee - Shin Splints" />
    <SortOrder>66</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1bee04c-fd5a-4d72-99bf-f3260bd85b20">protocol</Template>
  </Info>
  <Properties>
    <diagramImages>
      <Value><![CDATA[[{"mediaKey":"f37f24b4-acd6-4a55-902c-5235a8e25595"}]]]></Value>
    </diagramImages>
    <headline>
      <Value><![CDATA[Knee - Shin Splints]]></Value>
    </headline>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[Find the latest research including the Knee Shins Splints Protocol from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[29.95]]></Value>
    </price>
    <protocolFile>
      <Value><![CDATA[[
  {
    "mediaKey": "b7289672-8eda-4e78-89f6-3bc61e7bd645"
  }
]]]></Value>
    </protocolFile>
    <salePrice>
      <Value><![CDATA[0]]></Value>
    </salePrice>
    <shortDescription>
      <Value><![CDATA[<p class="p1">Learn how to treat Shin Splints, MTSS and Stress Fractures with Super Pulsed Laser and Priority Principle</p>]]></Value>
    </shortDescription>
    <showDiagrams>
      <Value><![CDATA[1]]></Value>
    </showDiagrams>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>