<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4daa1b5-902f-4131-8229-d6d3618d799a" Alias="Laser Therapy and Osteoarthritis…..Fighting the Chronic Epidemic" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/LaserTherapyAndOsteoarthritisFightingTheChronicEpidemic</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Laser Therapy and Osteoarthritis…..Fighting the Chronic Epidemic" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-08-27T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOsteoarthritis is a chronic disease that affects 27 million Americans.\u0026nbsp; Each patient on average, spends $2,600 each year managing their condition!\u0026nbsp;\u0026nbsp; \u003C/p\u003E\nNon-steroidal anti-inflammatory drugs can provide temporary relief, but can have costly side effects.\u0026nbsp;\n\u003Cp\u003EJoin Dr. Chris Carraway and Dr. Patrick Starkey as they discuss laser treatment protocols for the management of osteoarthritis.\u0026nbsp; Laser therapy: The safe, effective, alternative to NSAIDs for relief of this condition.\u0026nbsp;\u0026nbsp; \u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[60:51]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Osteoarthritis is a chronic disease that affects 27 million Americans.  ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser Therapy and Osteoarthritis… Fighting the Chronic Epidemic | LaserTherapyU]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Laser Therapy and Osteoarthritis…..Fighting the Chronic Epidemic]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-4944358" mozallowfullscreen name="vzvd-4944358" src="//view.vzaar.com/4944358/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>