<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e180452-134c-46a9-ad29-969246f6f2a0" Alias=" Laser Therapy and Whiplash Associated Disorder" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/LaserTherapyAndWhiplashAssociatedDisorder</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default=" Laser Therapy and Whiplash Associated Disorder" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-08-23T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Whiplash Associated Disorder is a multi-faceted condition that requires a multifaceted approach and PBM has a lot to offer both the acute and chronic WAD victim.\n50% of people who experience a whiplash injury will never fully recover and up to 30% will remain moderately to severely disabled by their condition.  The associated costs secondary to whiplash injury, including medical care, disability, lost work productivity as well as personal costs are substantial.\nIn this webinar we will discuss case management and protocols for superior outcomes.  Join Dr. Chris Carraway and special guest Dr. Kenneth Murkowski, as they delve into this complex disorders and ways to treat it."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[62:32]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Whiplash Associated Disorder is a multi-faceted condition that requires a multifaceted approach and PBM has a lot to offer both the acute and chronic WAD victim. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser Therapy and Whiplash Associated Disorder | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[ Laser Therapy and Whiplash Associated Disorder]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-16184044" name="vzvd-16184044" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/16184044/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>