<?xml version="1.0" encoding="utf-8"?>
<Content Key="026d0534-fbee-4d14-b1c8-f39082fd4e35" Alias="Laser Therapy and Amplified Musculoskeletal Pain Syndrome" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/LaserTherapyAndAmplifiedMusculoskeletalPainSyndrome</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="Laser Therapy and Amplified Musculoskeletal Pain Syndrome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2022-02-24T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAmplified musculoskeletal pain syndrome (AMPS) is a very painful medical condition that can cause pain anywhere in the body. This pain syndrome can be intermittent or constant, can affect the whole body or be localized to just one area or limb. The degree of pain experienced by AMPS patients is more intense than one would normally expect.\u003Cbr /\u003E\n\u003Cbr /\u003E\nThis month we will discuss the \u003Cem\u003EContinuum of Care - The Right Technology for Every Stage of Care\u003C/em\u003E, define our photoceutical approach, explain pain paths and discuss clinical treatment options. We will also have a live interview with an AMPS patient whose case was recently published in \u003Cem\u003EPractical Pain Management\u003C/em\u003E.\u003C/p\u003E\n\u003Cp\u003EPlease join Dr. Timothy Demchak and Dr. Chris Carraway for the February webinar to learn some new techniques in treating this pain syndrome.\u003C/p\u003E\n\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[73:12]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Amplified musculoskeletal pain syndrome (AMPS) is a very painful medical condition that can cause pain anywhere in the body. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser Therapy for Amplified Musculoskeletal Pain Syndrome | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Laser Therapy and Amplified Musculoskeletal Pain Syndrome]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe src="https://iframe.dacast.com/vod/f8fff14e5fe3c5a4d59cc61229050db1/b386f9b4-2abf-f810-7c88-adf4a620e450" width="640" height="360" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>