<?xml version="1.0" encoding="utf-8"?>
<Content Key="da28e023-d5a3-4ef5-b51b-08bfb0c35f94" Alias="Laser and the Geriatric Patient" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/LaserAndTheGeriatricPatient</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Laser and the Geriatric Patient" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-09-24T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETreating Senior Citizens can offer a bit of a challenge in some cases, but these challenges can be easily met with the right treatment protocols.\u003C/p\u003E\n\u003Cp\u003EPeople are living longer and are much more active later in life than ever before.\u0026nbsp; More than 10,000 baby boomers a day will turn 65, a pattern that will continue for the next 19 years.\u0026nbsp; That is 69,350,000 people with all the aches and pains that come with aging and in most cases can benefit from Super Pulsed Laser.\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003EWe will discuss various common conditions for Boomers and beyond, and how to address them with Super Pulsed Laser, such as degenerating knee and persistent back pain.\u003C/p\u003E\nJoin Chris Carraway DC, and Terrance Baker MD, for an in-depth look at this challenging population segment."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[60:30]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Treating Senior Citizens can offer a bit of a challenge in some cases, but these challenges can be easily met with the right treatment protocols.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser and the Geriatric Patient | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Laser and the Geriatric Patient]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-5220350" mozallowfullscreen name="vzvd-5220350" src="//view.vzaar.com/5220350/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>