<?xml version="1.0" encoding="utf-8"?>
<Content Key="a159b270-adca-45a2-9626-2e28b568bce7" Alias="LaserU Suggested" Level="3">
  <Info>
    <Parent Key="b7ba01a3-5a91-47ce-8b3c-88cffa586aba">Resource Characteristics</Parent>
    <Path>/Filters/ResourceCharacteristics/LaserUSuggested</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="LaserU Suggested" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>