<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef971442-240f-3471-e215-ffe6baa8f8b9" Alias="Laser" Level="4">
  <Info>
    <Parent Key="c270c3c7-cb65-445a-9805-dacd63634757">Type of Device</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfDevice/Laser</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>