<?xml version="1.0" encoding="utf-8"?>
<Content Key="56ed13dd-65a5-4d95-a1b8-46dd2c010392" Alias="Laser Treatment Application-Cervical" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/LaserTreatmentApplicationCervical</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="Laser Treatment Application-Cervical" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2016-09-08T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dr. Brent Ungar demonstrates using low level laser to treat a patient with Cervical pain.\u0026nbsp;"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[9:41]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[umb://document/7cde5769a0b3646be2eafc63ea5112c1,umb://document/759e6aed45539e56514a31081dcb9da9,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/e6d7defc07fa05fdda606cca1ddb10e4,umb://document/3e8e0bd660868318a0e9079d0f6e3b0a,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/33c524ee090fae02676214ffd789067b,umb://document/692907e2e5d67028187797318a00e61b,umb://document/0016e4040cdfefbd3f6c1d0f33efe33b,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/9e97a16b98e1863d6ae9848b1caacce4,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Laser Treatment Application-Cervical]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-8129831" name="vzvd-8129831" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/8129831/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>