<?xml version="1.0" encoding="utf-8"?>
<Content Key="2061d8a9-4c7b-4612-ba42-9ba5c80aabbc" Alias="Laser Treatment-Sphenopalatine Ganglion" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/LaserTreatmentSphenopalatineGanglion</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="Laser Treatment-Sphenopalatine Ganglion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2018-11-08T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dr. Timothy Demchak reviews the Sphenopalatine Ganglion and applications for treating it with Low Level Laser for Migraine Headaches, Trigeminal Neuralgia and other related disorders."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[7:32]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[umb://document/6e71272e3e8542cb379242c2e60c6aa4,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/f17fda64ab51b2c20ae406b336346472,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Laser Treatment-Sphenopalatine Ganglion]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-17944532" name="vzvd-17944532" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/17944532/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>