<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7b2838b-2b6c-5ebe-8a28-ec93376acfc9" Alias="LE" Level="4">
  <Info>
    <Parent Key="44e544d3-f276-499e-b059-7d0a5b25761c">Region</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Region/LE</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="LE" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>