<?xml version="1.0" encoding="utf-8"?>
<Content Key="2876d560-ddc9-70fd-2769-2f45a721d901" Alias="LED" Level="4">
  <Info>
    <Parent Key="c270c3c7-cb65-445a-9805-dacd63634757">Type of Device</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfDevice/LED</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="LED" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>