<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6b4a9da-2821-2d79-802f-ddc91cdcc951" Alias="LEDs" Level="4">
  <Info>
    <Parent Key="5700692f-6d15-4cb3-a005-bf96d5b58d8b">Probe Construction</Parent>
    <Path>/Filters/LaserCharacteristics/ProbeConstruction/LEDs</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="LEDs" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>