<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf6eca36-5530-4958-8955-5b32933b88ee" Alias="Low-Level Laser Treatment with Near-Infrared Light" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LowLevelLaserTreatmentWithNearInfraredLight</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Low-Level Laser Treatment with Near-Infrared Light" />
    <SortOrder>182</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Mitchell, Ulrike H. PhD, PT; Mack, Gary L. PhD</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p class="p1">The use of near-infrared light in the form of low-level laser therapy (LLLT) has become more popular in the treatment of a variety of conditions where increased peripheral blood flow is desired. The hypothesis behind its working mechanism is its purported ability to generate nitric oxide (NO) in the treated area. We tested the hypothesis that the efficacy of near-infrared light lies in its ability to generate NO at the treatment site.</p>
<h3>Design:</h3>
<p class="p1">We conducted a single-blind, placebo-controlled, randomized clinical trial to measure NO, by its metabolites nitrite and nitrate, in venous blood draining from tissue receiving LLLT. Fifteen healthy subjects received LLLT to the forearm, and blood samples were taken immediately before treatment; at 1, 5, 15, and 30 mins; as well as 15 mins after the treatment to check for NO content.</p>
<h3>Results:</h3>
<p class="p1">We found a significant treatment effect (F = 15.75, P = 0.003). A post hoc test showed that minutes 1, 5, and 15 were different compared with the baseline measures (P's &lt; 0.05). The area under the treatment curve was significantly larger than the area under the sham treatment curve (t = 2.26, P = 0.037). A limitation of this study was that the data were collected from healthy subjects.</p>
<h3>Conclusions:</h3>
<p class="p1">LLLT increased NO levels in venous blood draining from the treatment site in healthy subjects. The peak increase in NO occurred 5 mins into the treatment, after which it slowly waned. Further research is necessary to assess NO increases with LLLT in patients with pathologies.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-02-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Am J Phys Med Rehabil. 2013 Feb;92(2):151-6. doi: 10.1097/PHM.0b013e318269d70a.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Low-Level Laser Treatment with Near-Infrared Light Increases Venous Nitric Oxide Levels Acutely: A Single-Blind, Randomized Clinical Trial of Efficacy]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Low-Level Laser Treatment with Near-Infrared Light Increases Venous Nitric Oxide Levels Acutely: A Single-Blind, Randomized Clinical Trial of Efficacy]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Am J Phys Med Rehabil.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Low-Level Laser Treatment with Near-Infrared Light Increases Venous Nitric Oxide Levels Acutely: A Single-Blind, Randomized Clinical Trial of Efficacy" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/418a3496e97eae537f5c640ad475ff41,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/da1bf14fc74d4306223f7db5b8a1ce56,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/3be3ac3c92eeda637c7e4c5bc6722c41,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>