<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9c1d6e6-ee98-46d9-8da8-80d708b539b1" Alias="Low Level Laser Therapy laser radiation absorptio" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LowLevelLaserTherapyLaserRadiationAbsorptio</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Low Level Laser Therapy laser radiation absorptio" />
    <SortOrder>163</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Paola Di Giacomo, Stefano Orlando, Marco Dell&rsquo;Ariccia, Bruno Brandimarte</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<p class="p1">In this paper we report the results of an experimental study in which we have measured the transmitted laser radiation through dead biological tissues of various animals (chicken, adult and young bovine, pig) in order to evaluate the maximum thickness through which the power density could still produce a reparative cellular effect. In our experiments we have utilized a pulsed laser IRL1 ISO model (based on an infrared diode GaAs,&nbsp;<em>&lambda;</em>=904&nbsp;nm) produced by BIOMEDICA s.r.l. commonly used in Low Level Laser Therapy. Some of the laser characteristics have been accurately studied and reported in this paper. The transmission results suggest that even with tissue thicknesses of several centimeters the power density is still sufficient to produce a cell reparative effect.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2012-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[10.1007/s00339-012-7204-z]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Low Level Laser Therapy: laser radiation absorption in biological tissues]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Low Level Laser Therapy: laser radiation absorption in biological tissues]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Applied Physics A]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Low Level Laser Therapy: laser radiation absorption in biological tissues" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/c6dd030be8b7f7e6324fe98a5ff75c9e,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/191629759db54314136fdb7885d20d7c,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>