<?xml version="1.0" encoding="utf-8"?>
<Content Key="72e5f94f-6fae-437c-bf78-15f74f4af7c9" Alias="Low-level laser therapy improves early healing of " Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/LowLevelLaserTherapyImprovesEarlyHealingOf</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Low-level laser therapy improves early healing of " />
    <SortOrder>173</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Bayat M, Delbari &gt;, Almaseyeh MA, Sadeghi Y, Bayat M, Reziae F.</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>OBJECTIVE:</h3>
<p class="p1">This study sought to investigate whether or not low-level laser therapy (LLLT) with a helium-neon laser increased biomechanical parameters of transected medial collateral ligament (MCL) in rats.</p>
<h3>BACKGROUND DATA:</h3>
<p class="p1">It has been reported that LLLT can enhance tendon healing.</p>
<h3>METHODS:</h3>
<p class="p1">Thirty rats received surgical transection to their right MCL, and five were assigned as the control group. After surgery, the rats were divided into three groups: group 1 (n = 10) received LLLT with 0.01 J/cm(2) energy density per day, group 2 (n = 10) received LLLT with 1.2 J/cm(2) energy density per day, and group 3 (sham = exposed group; n = 10) received daily placebo laser with shut-down laser equipment, while the control group received neither surgery nor LLLT. Biomechanical tests were performed at 12 and 21 days after surgery. The data were analyzed by one-way analysis of variance.</p>
<h3>RESULTS:</h3>
<p class="p1">The ultimate tensile strength (UTS) of group 2 on day 12 was significantly higher than that of groups 1 and 3. Furthermore, the UTS and energy absorption of the control (uninjured) group were significantly higher than those of the other groups.</p>
<h3>CONCLUSIONS:</h3>
<p class="p1">LLLT with a helium-neon laser is effective for the early improvement of the ultimate tensile strength of medial collateral ligament injuries.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2005-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomed Laser Surg. 2005 Dec;23(6):556-60]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Low-level laser therapy improves early healing of medical collateral ligament injuries in rats.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Low-level laser therapy improves early healing of medical collateral ligament injuries in rats.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomed Laser Surg]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Low-level laser therapy improves early healing of medical collateral ligament injuries in rats." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/02007c2475b6c22ea24897bd92e94a3b,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/5df44537a851939b196bcb715963835c,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>