<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1c2353e-61d0-8d74-757c-ffe8975bd683" Alias="Magnetic" Level="4">
  <Info>
    <Parent Key="c270c3c7-cb65-445a-9805-dacd63634757">Type of Device</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfDevice/Magnetic</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Magnetic" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>