<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbe22761-3778-4614-9408-ba7315a2ff3f" Alias="Making Super Athletes with Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/MakingSuperAthletesWithSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Making Super Athletes with Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-09-20T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "The majority of the professional sports teams are using Laser Therapy for injuries and tissues repair.  This is common place throughout the sports world.  But this is not all that they are using lasers for. More and more research is being done demonstrating that we can in fact make football, basketball, soccer, hockey players etc, faster, stronger and less prone to fatigue and injury.  Special Forces from around the world have been using laser therapy for decades for both accelerated recovery times and performance enhancement. Weekend warriors can benefit immensely from easily administered pre-event laser.\nProtocols are simple and time efficient, for those of you already familiar with Laser Therapy, but the timing of the treatments and integration into a training regimen will be fresh and new.\nJoin Doug Johnson and Dr. Brian Fitzpatrick as they review the latest laser research and application for making super athletes with super pulsed laser."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[65:21]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[The majority of the professional sports teams are using Laser Therapy for injuries and tissues repair.  ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Making Super Athletes with Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Making Super Athletes with Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-17031408" name="vzvd-17031408" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/17031408/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>