<?xml version="1.0" encoding="utf-8"?>
<Content Key="31beae1a-4f2c-4c57-895c-ccf5f0b3228d" Alias="march-2015" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/march-2015</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Peripheral Neuropathy….Is there any hope?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-03-26T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "20 million people in the United States have some form of peripheral neuropathy, and Medications offer little relief. <br />\n<br />\n-Join Dr. Christopher Carraway and special guest Dr. Timothy Demchak and take an in-depth and comprehensive look at one of the most difficult disorders seen in clinics, and a multifaceted approach with Low Level Laser as the central focus of hope. <br />\n<br />\n-Use of other modalities along with laser, to achieve the best results."}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[61:00]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[20 million people in the United States have some form of peripheral neuropathy, and Medications offer little relief]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Peripheral Neuropathy….Is there any hope?]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Peripheral Neuropathy….Is there any hope?]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="480" id="vzvd-3129784" mozallowfullscreen name="vzvd-3129784" src="//view.vzaar.com/3129784/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>