<?xml version="1.0" encoding="utf-8"?>
<Content Key="a24e1a5b-ab8b-4a39-8323-e050242db698" Alias="may-2012" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/may-2012</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Laser Therapy 101: You Have a Laser…Now What?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2012-05-01T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "<p class=\"p1\">This webinar is for new laser owners and offers valuable insights into how to begin to use, promote, and develop laser therapy into a private practice. You will learn some practical techniques for making a smooth transition from a non-laser practice to a fully laser integrated practice.</p>\n<p class=\"p1\"><img height=\"505\" alt=\"May 2012 LTU Webinar\" width=\"590\" src=\"~/media/ADA61644C74C4A8C9E89DB9B8922E435.ashx\" /></p>"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[59:37]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[This webinar is for new laser owners and offers valuable insights into how to begin to use, promote, and develop laser therapy into a private practice. You will learn some practical techniques for making a smooth transition from a non-laser practice to a fully laser integrated practice.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Laser Therapy 101: You Have a Laser…Now What? | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Laser Therapy 101: You Have a Laser…Now What?]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="480" id="vzvd-1714628" mozallowfullscreen name="vzvd-1714628" src="https://view.vzaar.com/1714628/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>