<?xml version="1.0" encoding="utf-8"?>
<Content Key="692907e2-e5d6-7028-1877-97318a00e61b" Alias="MD" Level="4">
  <Info>
    <Parent Key="509c540f-dc4a-44d3-8cf8-fdcb60a3b1c6">Profession</Parent>
    <Path>/Filters/ResourceCharacteristics/Profession/MD</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="MD" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>