<?xml version="1.0" encoding="utf-8"?>
<Content Key="a52eb0c1-66a9-42c7-a338-fe89501c4a09" Alias="Meta-analysis of pain relief effects by laser irra" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/MetaAnalysisOfPainReliefEffectsByLaserIrra</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Meta-analysis of pain relief effects by laser irra" />
    <SortOrder>185</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Jang H, Lee H.]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>BACKGROUND:</h3>
<p class="p1">Laser therapy has been proposed as a physical therapy for musculoskeletal disorders and has attained popularity because no side effects have been reported after treatment. However, its true effectiveness is still controversial because several clinical trials have reported the ineffectiveness of lasers in treating pain</p>
<h3>METHODS:</h3>
<p class="p1">In this systematic review, we investigate the clinical effectiveness of low-level laser therapy (LLLT) on joint pain. Clinical trials on joint pain satisfying the following conditions are included: the laser is irradiated on the joint area, the PEDro scale score is at least 5, and the effectiveness of the trial is measured using a visual analogue scale (VAS). To estimate the overall effectiveness of all included clinical trials, a mean weighted difference in change of pain on VAS was used.</p>
<h3>RESULTS:</h3>
<p class="p1">MEDLINE is the main source of the literature search. After the literature search, 22 trials related to joint pain were selected. The average methodological quality score of the 22 trials consisting of 1014 patients was 7.96 on the PEDro scale; 11 trials reported positive effects and 11 trials reported negative effects. The mean weighted difference in change of pain on VAS was 13.96 mm (95% CI, 7.24-20.69) in favor of the active LLLT groups. When we only considered the clinical trials in which the energy dose was within the dose range suggested in the review by Bjordal et al. in 2003 and in World Association for Laser Therapy (WALT) dose recommendation, the mean effect sizes were 19.88 and 21.05 mm in favor of the true LLLT groups, respectively.</p>
<h3>CONCLUSIONS:</h3>
<p class="p1">The review shows that laser therapy on the joint reduces pain in patients. Moreover, when we restrict the energy doses of the laser therapy into the dose window suggested in the previous study, we can expect more reliable pain relief treatments.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2012-08-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomed Laser Surg. 2012 Aug;30(8):405-17. Epub 2012 Jun 29.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Meta-analysis of pain relief effects by laser irradiation on joint areas.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Meta-analysis of pain relief effects by laser irradiation on joint areas.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomed Laser Surg.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Meta-analysis of pain relief effects by laser irradiation on joint areas." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/71fe4c438ef7af318eb86d2d370b086b,umb://document/a96574a0bb6f4201f79ce21fb9469651,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/be24ccd6743667bed46f3d1276e27d7f,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/1eb12c1f449b6fbad53be35fadfbb775,umb://document/eeea1d71a12d54af91fc872f3fb6e619,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>