<?xml version="1.0" encoding="utf-8"?>
<Content Key="80080e1f-bec1-4488-ba14-4fa778b84254" Alias="Methods, Methods, Methods" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/MethodsMethodsMethods</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Methods, Methods, Methods" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2014-03-27T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022margin-top: 3.35pt;\u0022\u003EJoin Douglas Johnson, ATC as he continues the third of four webinars focused expressly on understanding the clinical application of super pulsed laser and light treatment (SPLT).\u0026nbsp; This month we will discuss methods of treatment and how they improve outcomes.\u003C/p\u003E\n\u003Cp\u003E\n*Under pressure\u0026hellip;how to reduce swelling in the upper and lower extremities\u003Cbr /\u003E\n*Hot flash\u0026hellip;eliminating inflammation to accelerate healing\u003Cbr /\u003E\n*Pain in the\u0026hellip;how best to deal with acute and chronic pain\u003Cbr /\u003E\n*Cramp\u0026hellip;how to deactivate trigger points and ease muscle spasms\u003Cbr /\u003E\n*Quick Start: Getting Success from Day 1 using basic methods\u003C/p\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[73:10]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Methods, Methods, Methods]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="314" id="vzvd-1555604" mozallowfullscreen name="vzvd-1555604" src="https://view.vzaar.com/1555604/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>