<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d0e1727-7f15-2a66-c327-707a131bd031" Alias="Monkey" Level="4">
  <Info>
    <Parent Key="e24268d4-9f1f-4c8a-9da6-6aeb6b1939e0">Study Type</Parent>
    <Path>/Filters/StudyCharacteristics/StudyType/Monkey</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Monkey" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>