<?xml version="1.0" encoding="utf-8"?>
<Content Key="0016e404-0cdf-efbd-3f6c-1d0f33efe33b" Alias="MT" Level="4">
  <Info>
    <Parent Key="509c540f-dc4a-44d3-8cf8-fdcb60a3b1c6">Profession</Parent>
    <Path>/Filters/ResourceCharacteristics/Profession/MT</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="MT" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>