<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad58f3d1-5ff3-ed6b-f8d3-10eb31a2af03" Alias="Multiple Sclerosis" Level="4">
  <Info>
    <Parent Key="5bb3ffc5-86a3-470a-90bf-cc50c92cfd87">Diagnosis or Condition</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/DiagnosisOrCondition/MultipleSclerosis</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Multiple Sclerosis" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>