<?xml version="1.0" encoding="utf-8"?>
<Content Key="66b34b31-5160-428c-a037-8b1142dc4dfd" Alias="Muscle" Level="4">
  <Info>
    <Parent Key="a057febd-ed99-4039-aec9-096cf381360a">Research Category</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/ResearchCategory/Muscle</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Muscle" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>