<?xml version="1.0" encoding="utf-8"?>
<Content Key="f131e12f-8bec-49ee-9771-0e6b7f1d4383" Alias="NAALT Interview with Jeri-Anne Lyons" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTInterviewWithJeriAnneLyons</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="NAALT Interview with Jeri-Anne Lyons" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-11T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dr. Christopher Carraway of LTU interviews Jeri-Anne Lyons, PhD-Assoc Professor/Biomedical Sciences Dept, University of Milwaukee Wisconsin at the NAALT/WALT joint meeting in Washington, DC, September 2014 as she discusses her research with light therapy for Multiple Sclerosis.\u0026nbsp; She discusses the anti-inflammatory and probable T-cell induction effects, of light therapy and the systemic treatment future for auto-immune disorders.\u0026nbsp; Dr. Lyons was an Invited Speaker at the combined conference."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[6:05]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT Interview with Jeri-Anne Lyons]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2103999" mozallowfullscreen name="vzvd-2103999" src="//view.vzaar.com/2103999/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>