<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcc5c1a7-cc8e-4d7d-9a85-bc3f8ebca06a" Alias="NAALT/WALT 2014 Presentation-Photobiomodulation in Age-Related Macular Degeneration Using Optical Coherence Tomography" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationPhotobiomodulationInAgeRelatedMacularDegenerationUsingOpticalCoherenceTomography</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-Photobiomodulation in Age-Related Macular Degeneration Using Optical Coherence Tomography" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-10T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Graham Merry, MB, BS, LMCC speaks at the 2014 NAALT/WALT combined conference in Washington, DC on Photobiomodulation in Age-Related Macular Degeneratation Using Optical Coherence Tomography."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[13:42]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{4797CAA5-17D1-4FB8-BD7F-D9AD2C952C06}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-Photobiomodulation in Age-Related Macular Degeneration Using Optical Coherence Tomography]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2441046" mozallowfullscreen name="vzvd-2441046" src="//view.vzaar.com/2441046/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>