<?xml version="1.0" encoding="utf-8"?>
<Content Key="34f5238c-540f-4338-97b7-bc253b3b2f9a" Alias="NAALT/WALT 2014 Presentation-Conference Keynote Introduction" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationConferenceKeynoteIntroduction</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-Conference Keynote Introduction" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-08T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Richard \u0022Chip\u0022 Godine, DVM, gives the opening Keynote Introduction at the 2014 NAALT/WALT combined conference in Washington, DC.\u0026nbsp; Conference focus and title: \u003Cbr /\u003E\nPhotobiomodulation - Mainstream Medicine and Beyond\u003Cbr /\u003E\n\u003Cbr /\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[12:48]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{9C3D49B8-F719-4691-B2C1-1F684B9EF1CB}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-Conference Keynote Introduction]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2437571" mozallowfullscreen name="vzvd-2437571" src="//view.vzaar.com/2437571/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>