<?xml version="1.0" encoding="utf-8"?>
<Content Key="980834d2-9576-4adb-9dda-1e323c1f39f3" Alias="NAALT/WALT 2014 Presentation-Effect of Low Level Laser Therapy on Inflammatory Mediators in Joint Inflammation" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationEffectOfLowLevelLaserTherapyOnInflammatoryMediatorsInJointInflammation</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-Effect of Low Level Laser Therapy on Inflammatory Mediators in Joint Inflammation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-10T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EErnesto Leal Junior, PhD, PT, speaks at the 2014 NAALT/WALT combined conference in Washington, DC on the Effect of Low Level Laser Therapy on the Expression of Inflammatory Mediators, Neutrophils, \u0026amp; Macrophages in Acute Joint Inflammation.\u0026nbsp; Dr. Leal Junior was presenting on behalf of a colleague Dr. Paulo de Tarso de Carvalho. \u0026nbsp; \u003C/p\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[15:06]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{79E244FE-E4B6-48F1-88F3-79CF8714D8EA}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-Effect of Low Level Laser Therapy on Inflammatory Mediators in Joint Inflammation]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2462120" mozallowfullscreen name="vzvd-2462120" src="//view.vzaar.com/2462120/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>