<?xml version="1.0" encoding="utf-8"?>
<Content Key="beaf29ad-be5e-4131-9fa8-8c6c8c9f2f8a" Alias="NAALT/WALT 2014 Presentation-Endothelial Dependent Stimulation of the Peripheral Circulation with 670 nm Energy" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTWALT2014PresentationEndothelialDependentStimulationOfThePeripheralCirculationWith670NmEnergy</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="NAALT/WALT 2014 Presentation-Endothelial Dependent Stimulation of the Peripheral Circulation with 670 nm Energy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-10T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Nicole Lohr, MD, PhD speaks at the 2014 NAALT/WALT combined conference in Washington, DC on Endothelial Dependent Stimulation of the Peripheral Circulation with 670 nm Energy.\u003Cbr /\u003E"
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[31:29]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[{14B7AA39-ED8F-404F-944B-29258571E1B2}]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT/WALT 2014 Presentation-Endothelial Dependent Stimulation of the Peripheral Circulation with 670 nm Energy]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2440947" mozallowfullscreen name="vzvd-2440947" src="//view.vzaar.com/2440947/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>