<?xml version="1.0" encoding="utf-8"?>
<Content Key="6eb98357-6e3a-46e3-a5a2-75715b6dec3f" Alias="NAALT Interivew with Eduardo Miranda" Level="3">
  <Info>
    <Parent Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7">Videos</Parent>
    <Path>/Home/Videos/NAALTInterivewWithEduardoMiranda</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2025-09-16T20:46:11</CreateDate>
    <NodeName Default="NAALT Interivew with Eduardo Miranda" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb218954-77f9-4c3c-a596-ebbdfe5eccb0">video</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2014-09-12T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Douglas Johnson of LTU interviews Eduardo Miranda, PhD-Post doctorate fellow in Biophotonics Applied to Health Services, Nove de Julho University, Brazil at the NAALT/WALT joint meeting in Washington, DC, September 2014 on his research completed on COPD patients and the benefits of low level laser therapy as a adjunct treatment.\u0026nbsp; Dr. Miranda was awarded the\u0026nbsp;Mary Dyson Award in Clinical Photomedicine for his presentation of his COPD research at this years combined conference."
}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <length>
      <Value><![CDATA[2:15]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[NAALT Interivew with Eduardo Miranda]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="432" id="vzvd-2104432" mozallowfullscreen name="vzvd-2104432" src="//view.vzaar.com/2104432/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>