<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e97a16b-98e1-863d-6ae9-848b1caacce4" Alias="Neck" Level="4">
  <Info>
    <Parent Key="44e544d3-f276-499e-b059-7d0a5b25761c">Region</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Region/Neck</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Neck" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>