<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d73d9d8-29a1-86e1-68d8-5fe52d047e19" Alias="Neutral" Level="4">
  <Info>
    <Parent Key="1d28c5cc-b0f1-425a-9416-c74f70035766">Outcome</Parent>
    <Path>/Filters/ResourceCharacteristics/Outcome/Neutral</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Neutral" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>