<?xml version="1.0" encoding="utf-8"?>
<Content Key="4785a3f2-9b2e-760a-5d40-97ed3b9c24d5" Alias="No" Level="4">
  <Info>
    <Parent Key="a159b270-adca-45a2-9626-2e28b568bce7">LaserU Suggested</Parent>
    <Path>/Filters/ResourceCharacteristics/LaserUSuggested/No</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="No" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>