<?xml version="1.0" encoding="utf-8"?>
<Content Key="131da8f9-2bcc-398d-c7f7-5e9ca47bc197" Alias="Non-Peer" Level="4">
  <Info>
    <Parent Key="1ae04960-076e-461d-b61a-10a5e4492960">Type of Publication</Parent>
    <Path>/Filters/ResourceCharacteristics/TypeOfPublication/NonPeer</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Non-Peer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>