<?xml version="1.0" encoding="utf-8"?>
<Content Key="4038320b-ea76-42eb-94a6-e9ac3e4d95c5" Alias="Nuts and Bolts of Low-Level Laser Therapy" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/NutsAndBoltsOfLowLevelLaserTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Nuts and Bolts of Low-Level Laser Therapy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2020-01-23T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELaser Therapy is a medical and veterinary technique in which exposure to low-level laser light or light emitting diodes stimulates cellular function, leading to beneficial clinical effects. Effectiveness of this therapy depends on the wavelength, intensity, and Dose (energy/time), that is delivered to the tissue.\u003C/p\u003E\nWhat absorbs light, and what is its mechanism of action, and what are the techniques and methods to effectively administer this type of therapy? Join Dr. Chris Carraway for and insightful review of the interactions of light and tissue and how it can be used clinically, along with a Priority Principle review to guide you through the best practices.\u0026nbsp; Join us for Nuts \u0026amp; Bolts of Low Level Laser Therapy, to start your year off right, with light.\u003Cbr /\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[67:02]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Laser Therapy is a medical and veterinary technique in which exposure to low-level laser light or light emitting diodes stimulates cellular function, leading to beneficial clinical effects. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Nuts and Bolts of Low Level Laser Therapy | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Nuts and Bolts of Low-Level Laser Therapy]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-21192067" name="vzvd-21192067" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/21192067/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>