<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5e1aecb-f44b-c853-0c0a-c5680f09ed67" Alias="OT" Level="4">
  <Info>
    <Parent Key="509c540f-dc4a-44d3-8cf8-fdcb60a3b1c6">Profession</Parent>
    <Path>/Filters/ResourceCharacteristics/Profession/OT</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="OT" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>