<?xml version="1.0" encoding="utf-8"?>
<Content Key="319fd984-1d93-989f-b0e6-96b894680386" Alias="Other" Level="4">
  <Info>
    <Parent Key="004ab7ff-fb03-4dbf-9a4c-0d2d6d5ae60b">Color</Parent>
    <Path>/Filters/LaserCharacteristics/Color/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>