<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaaaa56c-cf76-4d17-b8cb-df5b78591a0b" Alias="PainAway" Level="4">
  <Info>
    <Parent Key="96a2ac03-ca4e-4abc-9fc5-4fb17df7fc80">Product Relativity</Parent>
    <Path>/Filters/LaserCharacteristics/ProductRelativity/PainAway</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="PainAway" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>