<?xml version="1.0" encoding="utf-8"?>
<Content Key="a96574a0-bb6f-4201-f79c-e21fb9469651" Alias="Pain" Level="4">
  <Info>
    <Parent Key="5bb3ffc5-86a3-470a-90bf-cc50c92cfd87">Diagnosis or Condition</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/DiagnosisOrCondition/Pain</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Pain" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>