<?xml version="1.0" encoding="utf-8"?>
<Content Key="52e0795d-35b8-7238-c41a-3c85b0417f63" Alias="Parkinsons" Level="4">
  <Info>
    <Parent Key="5bb3ffc5-86a3-470a-90bf-cc50c92cfd87">Diagnosis or Condition</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/DiagnosisOrCondition/Parkinsons</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Parkinsons" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>