<?xml version="1.0" encoding="utf-8"?>
<Content Key="a70fe11d-c65b-42c4-8360-2b3e6a6a7c5b" Alias="PBM and the Brain: What’s been done, and what’s being done for Dementia and similar disorders" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/PBMAndTheBrainWhatSBeenDoneAndWhatSBeingDoneForDementiaAndSimilarDisorders</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="PBM and the Brain: What’s been done, and what’s being done for Dementia and similar disorders" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-07-26T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Brain photobiomodulation (PBM) therapy using red to near-infrared is yielding some very interesting results in research labs and in clinical practice alike. The brain has similar metabolic needs.  The mitochondria have the same cytochrome c oxidase. It has also been demonstrated time and time again that PBM penetrates bone.\nFrom using PBM\u0026rsquo;s anti-inflammatory effects, anti-apoptotic, and antioxidant response, there is a therapeutic use for neural tissue and yes, the brain is included.\nThis webinar will be steeped in research and scientific abstracts related to this topic.  Everything covered will be supported by the current science available. Join Dr. Chris Carraway and special guest Dr. Janis Eells for an in-depth look at the PBM work being done with dementia and similar disorders."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[60:23]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Brain photobiomodulation (PBM) therapy using red to near-infrared is yielding some very interesting results in research labs and in clinical practice alike. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[PBM and the Brain | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[PBM and the Brain: What’s been done, and what’s being done for Dementia and similar disorders]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-15501070" name="vzvd-15501070" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/15501070/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>