<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7f777a5-c088-68a2-eaf8-c01097ca18b1" Alias="Peer Reviewed" Level="4">
  <Info>
    <Parent Key="1ae04960-076e-461d-b61a-10a5e4492960">Type of Publication</Parent>
    <Path>/Filters/ResourceCharacteristics/TypeOfPublication/PeerReviewed</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Peer Reviewed" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>