<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dd8cd9c-6b13-45d2-9b6b-6476099650c4" Alias="Peripheral Neuropathy…Can Low Level Laser help?" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/PeripheralNeuropathyCanLowLevelLaserHelp</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Peripheral Neuropathy…Can Low Level Laser help?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2017-10-26T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "An estimated 20 million people in the United States have some form of peripheral neuropathy, a condition that develops as a result of damage to the peripheral nervous system \u0026mdash; the vast communications network that transmits information between the central nervous system and every other part of the body.\u003Cbr /\u003E\n\u003Cbr /\u003E\n\u0026nbsp;Symptoms can range from numbness or tingling to pricking sensations (paresthesia), and even muscle weakness. PBM can improve sensory function in patients with peripheral somatosensory neuropathy and improve the patient\u0026rsquo;s quality of life.\n\u003Cbr /\u003E\n\u003Cbr /\u003E\nJoin Dr. Chris Carraway and special guest as they examine this condition and ways that Super Pulsed Laser may be able to help these patients deal with this disorder."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[53:52]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[An estimated 20 million people in the United States have some form of peripheral neuropathy, a condition that develops as a result of damage to the peripheral nervous system — the vast communications network that transmits information between the central nervous system and every other part of the body. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Peripheral Neuropathy…Can Low Level Laser help? | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Peripheral Neuropathy…Can Low Level Laser help?]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-12066121" name="vzvd-12066121" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/12066121/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>