<?xml version="1.0" encoding="utf-8"?>
<Content Key="e243d4ea-5b4f-46ea-b745-412adcaef8a7" Alias="Photobiomodulation and the Nervous System (1)" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/PhotobiomodulationAndTheNervousSystem1</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Photobiomodulation and the Nervous System (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2019-03-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Treating the Central and Peripheral Nervous Systems with PBM is a fascinating field.  Since nerve function is a part of nearly all of our body\u0026rsquo;s normal operation, it is easy to see that normal nerve function is paramount.\nNerve transmissions from the brain to various bodily functions can be improved with PBM, and the transmission of pain can be inhibited with PBM.   This is well established in the literature and is used worldwide by a diverse field of healthcare professionals.\nWe will discuss CNS protocols and laser\u0026rsquo;s effects on synaptic function.  PNS protocols will be of interest with topics on lateral femoral cutaneous neuralgia and other peripheral nerve syndromes. Join our Presenter Dr. Chris Carraway and guest speaker Dr. Patrick Starkey a Principle Investigator for a double-blind, placebo-controlled laser study on knee pain, as they discuss laser therapy and the Nervous System."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1-2 pm EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Treating the Central and Peripheral Nervous Systems with PBM is a fascinating field.  ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Photobiomodulation and the Nervous System | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Photobiomodulation and the Nervous System]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-19954042" name="vzvd-19954042" title="video player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen allowTransparency="true" src="https://view.vzaar.com/19954042/player" allow="autoplay" class="video-player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>