<?xml version="1.0" encoding="utf-8"?>
<Content Key="96f114fd-5fc2-3b0f-234a-0057ba64c78a" Alias="Pod" Level="4">
  <Info>
    <Parent Key="509c540f-dc4a-44d3-8cf8-fdcb60a3b1c6">Profession</Parent>
    <Path>/Filters/ResourceCharacteristics/Profession/Pod</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Pod" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>