<?xml version="1.0" encoding="utf-8"?>
<Content Key="7463399d-2d2d-b71e-faf0-e15f4aed7d5a" Alias="Positive" Level="4">
  <Info>
    <Parent Key="1d28c5cc-b0f1-425a-9416-c74f70035766">Outcome</Parent>
    <Path>/Filters/ResourceCharacteristics/Outcome/Positive</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Positive" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>