<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dd62c44-0090-4179-99e7-f1735945b0e5" Alias="Pre-Recorded Webinars" Level="3">
  <Info>
    <Parent Key="0f21c583-0ed5-4149-b278-eea8b3f69202">Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars</Path>
    <Trashed>false</Trashed>
    <ContentType>webinarList</ContentType>
    <CreateDate>2025-03-14T14:07:34</CreateDate>
    <NodeName Default="Pre-Recorded Webinars" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b40e4c49-b88b-4f34-bcbc-adfd3667929c">webinarList</Template>
  </Info>
  <Properties />
</Content>