<?xml version="1.0" encoding="utf-8"?>
<Content Key="5700692f-6d15-4cb3-a005-bf96d5b58d8b" Alias="Probe Construction" Level="3">
  <Info>
    <Parent Key="ae7ad9ea-1453-4b12-8ec0-b4f35abc4a74">Laser Characteristics</Parent>
    <Path>/Filters/LaserCharacteristics/ProbeConstruction</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Probe Construction" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>