<?xml version="1.0" encoding="utf-8"?>
<Content Key="509c540f-dc4a-44d3-8cf8-fdcb60a3b1c6" Alias="Profession" Level="3">
  <Info>
    <Parent Key="b7ba01a3-5a91-47ce-8b3c-88cffa586aba">Resource Characteristics</Parent>
    <Path>/Filters/ResourceCharacteristics/Profession</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Profession" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>