<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f4f31c3-8576-4991-9cd7-7472d672bdad" Alias="Prospects of using photostimulation of the visual " Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/ProspectsOfUsingPhotostimulationOfTheVisual</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Prospects of using photostimulation of the visual " />
    <SortOrder>189</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[Kozlovsky AP, Kuznetsova NV.]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[Experimental studies of photostimulation of the visual analyzer by combinations of red, green, blue, and yellow colors in a pulsed mode were carried out. Significant improvement of a visual acuity is shown after photostimulation course in patients with macular degeneration and degenerative changes of the optic nerve.]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2011-12-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Bull Exp Biol Med. 2011 Dec;152(2):236-9.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Prospects of using photostimulation of the visual analyzer in sports medicine.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Prospects of using photostimulation of the visual analyzer in sports medicine.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Bull Exp Biol Med.]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Prospects of using photostimulation of the visual analyzer in sports medicine." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/a0e90c096d8985c7fc231bbe54f01a12,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/4acb10b00009e832ffb350a053743405,umb://document/9c887c37a1aabdab536bf08b8258050c,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/131da8f92bcc398dc7f75e9ca47bc197,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/a1d86305cc3599351979e7342a067d19,umb://document/5df44537a851939b196bcb715963835c,umb://document/14b57ce1b775b3590df5a62c326da3be,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/319fd9841d93989fb0e696b894680386,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/7eb7047a95511ca8e9a081c36e14eb4c]]></Value>
    </tags>
  </Properties>
</Content>