<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2686db5-6dcc-485c-a183-f2648cfb7a29" Alias="Protocols" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Protocols</Path>
    <Trashed>false</Trashed>
    <ContentType>protocolsList</ContentType>
    <CreateDate>2025-12-03T22:46:06</CreateDate>
    <NodeName Default="Protocols" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="20627636-041f-48e1-bb98-e4f1439d1921">ProtocolsList</Template>
  </Info>
  <Properties />
</Content>