<?xml version="1.0" encoding="utf-8"?>
<Content Key="49f110ea-4dd3-915e-2fc6-a11d60c6602c" Alias="Rabbit" Level="4">
  <Info>
    <Parent Key="e24268d4-9f1f-4c8a-9da6-6aeb6b1939e0">Study Type</Parent>
    <Path>/Filters/StudyCharacteristics/StudyType/Rabbit</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Rabbit" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>