<?xml version="1.0" encoding="utf-8"?>
<Content Key="414b1541-986f-409a-a2a3-e2567d618ff9" Alias="Randomized Controlled" Level="4">
  <Info>
    <Parent Key="cc8082ea-0c8a-455c-b12b-d0162957585d">Type of Research Study</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfResearchStudy/RandomizedControlled</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Randomized Controlled" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>