<?xml version="1.0" encoding="utf-8"?>
<Content Key="45967f3c-6507-8462-b6e5-d444b913c3c2" Alias="Rat" Level="4">
  <Info>
    <Parent Key="e24268d4-9f1f-4c8a-9da6-6aeb6b1939e0">Study Type</Parent>
    <Path>/Filters/StudyCharacteristics/StudyType/Rat</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Rat" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>