<?xml version="1.0" encoding="utf-8"?>
<Content Key="61cef26e-0ef3-c638-b711-34445d11ec70" Alias="Red" Level="4">
  <Info>
    <Parent Key="004ab7ff-fb03-4dbf-9a4c-0d2d6d5ae60b">Color</Parent>
    <Path>/Filters/LaserCharacteristics/Color/Red</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Red" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>