<?xml version="1.0" encoding="utf-8"?>
<Content Key="44e544d3-f276-499e-b059-7d0a5b25761c" Alias="Region" Level="3">
  <Info>
    <Parent Key="4bd28905-9eca-40cb-a8dc-6b5d58f6e867">Diagnostics/Condition Criteria</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/Region</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Region" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>