<?xml version="1.0" encoding="utf-8"?>
<Content Key="9285348f-e847-48d5-bd46-95aa1cca0a72" Alias="Research" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Research</Path>
    <Trashed>false</Trashed>
    <ContentType>researchList</ContentType>
    <CreateDate>2026-02-24T20:36:09</CreateDate>
    <NodeName Default="Research" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="464b63a7-cdc0-4b69-9de4-0eba10c78106">researchList</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[Research]]></Value>
    </headline>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
  </Properties>
</Content>