<?xml version="1.0" encoding="utf-8"?>
<Content Key="a057febd-ed99-4039-aec9-096cf381360a" Alias="Research Category" Level="3">
  <Info>
    <Parent Key="4bd28905-9eca-40cb-a8dc-6b5d58f6e867">Diagnostics/Condition Criteria</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/ResearchCategory</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Research Category" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>