<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bb293cd-e52c-4fc6-a861-94481fc5e457" Alias="Review Discussion of 2017 NAALT  Meeting " Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/ReviewDiscussionOf2017NAALTMeeting</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Review Discussion of 2017 NAALT  Meeting " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2017-03-23T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThis month\u0026rsquo;s topic will be an overview of the 2017 NAALT meeting from early February.\u0026nbsp; The purpose of NAALT is to be a forum for therapeutic Light Therapy practitioners in North America.\u0026nbsp; Its intention is to promote phototherapy as a valid treatment, and to improve understanding of photo biological mechanisms, techniques, and parameters.\u0026nbsp; \u003C/p\u003E\n\u003Cp\u003EThis falls right in line with the goals of Laser Therapy University.\u0026nbsp; LTU was well represented at the 2017 NAALT meeting as well as our sponsor Multi Radiance.\u0026nbsp; We will be discussing some of the highlights from this important gathering in California.\u003C/p\u003E\n\u003Cp\u003EJoin Dr. Chris Carraway and special guest new NAALT board member Dr. Timothy Demchak, who will share his insights from the NAALT meeting and some of the work being advanced in the field of laser and light therapy.\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[60:50]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[This month’s topic will be an overview of the 2017 NAALT meeting from early February.  The purpose of NAALT is to be a forum for therapeutic Light Therapy practitioners in North America.  ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Review Discussion of 2017 NAALT  Meeting | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Review Discussion of 2017 NAALT  Meeting ]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-9655030" name="vzvd-9655030" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/9655030/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>