<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcdaa461-c342-9e30-2125-227ff9be639d" Alias="Sacrum" Level="4">
  <Info>
    <Parent Key="ccacb58d-1510-4e43-8351-eb6b5e37fea3">Body Part</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/BodyPart/Sacrum</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Sacrum" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>