<?xml version="1.0" encoding="utf-8"?>
<Content Key="a61e9b1a-b471-4865-b3d0-c14580edd27c" Alias="Safety" Level="3">
  <Info>
    <Parent Key="ae7ad9ea-1453-4b12-8ec0-b4f35abc4a74">Laser Characteristics</Parent>
    <Path>/Filters/LaserCharacteristics/Safety</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Safety" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>