<?xml version="1.0" encoding="utf-8"?>
<Content Key="00618f07-663a-423d-9ab1-e304215c177b" Alias="september-2017" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/september-2017</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Knee Conditions and Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2017-09-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "Knee surgery is one of the most common and lucrative orthopedic surgeries, and sometimes it&rsquo;s the best solution.  Before a knee case degrades into needing a surgical intervention, Super Pulsed Laser has a lot to offer both the acute and chronic knee pain patient, as well as ones that are rehabbing from their required surgery.\n<br />\n<br />\nJoin Dr. Chris Carraway and special guest as they discuss Knee Conditions and ways Super Pulsed Laser can help these patients."}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[61:52]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Knee surgery is one of the most common and lucrative orthopedic surgeries, and sometimes it’s the best solution.  Before a knee case degrades into needing a surgical intervention, Super Pulsed Laser has a lot to offer both the acute and chronic knee pain patient, as well as ones that are rehabbing from their required surgery.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Knee Conditions and Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Knee Conditions and Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-11647409" name="vzvd-11647409" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/11647409/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>