<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fd52a81-32b4-4976-9b91-d85994febf39" Alias="september-2011" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/september-2011</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Using Laser Therapy to Treat Upper Extremity Overuse Injuries" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2011-09-01T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{"blocks": {"contentData": [], "settingsData": [], "expose": [], "Layout": {}}, "markup": "<p class=\"p1\">Overuse injury are common in the work place and with sports. Upper extremity injuries can be particularly difficult to manage as often the patient cannot or will not stop the activities which have produced the injury. They are feeding their family with the activity or they are driven by a desire to play a sport. This webinar offers a practical laser based approach to address many of the more common conditions falling into the upper extremity category.</p>"}]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1h 4m]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Overuse injury are common in the work place and with sports. Upper extremity injuries can be particularly difficult to manage as often the patient cannot or will not stop the activities which have produced the injury. They are feeding their family with the activity or they are driven by a desire to play a sport. This webinar offers a practical laser based approach to address many of the more common conditions falling into the upper extremity category.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Using Laser Therapy to Treat Upper Extremity Overuse Injuries | Laser Therapy U]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Using Laser Therapy to Treat Upper Extremity Overuse Injuries]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="376" id="vzvd-1418291" mozallowfullscreen name="vzvd-1418291" src="https://view.vzaar.com/1418291/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>