<?xml version="1.0" encoding="utf-8"?>
<Content Key="7546aac8-3482-8032-898c-f27d04aaf2ff" Alias="SPL" Level="4">
  <Info>
    <Parent Key="797ed992-47e5-4fd9-9026-3357eb76110b">Type of Output</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfOutput/SPL</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="SPL" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>