<?xml version="1.0" encoding="utf-8"?>
<Content Key="e24268d4-9f1f-4c8a-9da6-6aeb6b1939e0" Alias="Study Type" Level="3">
  <Info>
    <Parent Key="eeca2ac3-eede-43b8-be7c-42cd31b73429">Study Characteristics</Parent>
    <Path>/Filters/StudyCharacteristics/StudyType</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Study Type" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>