<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d84ac9e-c565-4fd2-828f-f1ed19518f07" Alias="Super Pulsed Laser: Photohemotherapy and Clinical Pearls" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/SuperPulsedLaserPhotohemotherapyAndClinicalPearls</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Super Pulsed Laser: Photohemotherapy and Clinical Pearls" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-02-22T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Every now and then you run into a case that despite your best efforts, is not responding to treatment. Every clinician has experienced this.\nYou apply all your knowledge and clinical expertise, and they\u0026rsquo;re still stuck in a holding pattern.\n\u003Cbr /\u003E\n\u003Cbr /\u003E\nIn this webinar we will discuss these types of cases and how you can blend other techniques with your laser protocols, or simply tweak your protocols to get a breakthrough for these patients.\nJoin Dr. Chris Carraway and special guest for some clinical pearls, hints, and application tips, to help get past some roadblocks in treatment"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[63:11]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Every now and then you run into a case that despite your best efforts, is not responding to treatment. Every clinician has experienced this. ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser: Photohemotherapy and Clinical Pearls | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Super Pulsed Laser: Photohemotherapy and Clinical Pearls]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-13479105" name="vzvd-13479105" title="vzaar video player" class="vzaar-video-player" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/13479105/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>