<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf8f070f-aee8-7566-9923-b1f625d3b010" Alias="Super Pulsed" Level="4">
  <Info>
    <Parent Key="d690a8b8-e832-413c-ba87-9da31b3a428e">Frequency</Parent>
    <Path>/Filters/LaserCharacteristics/Frequency/SuperPulsed</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Super Pulsed" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>