<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9cc800e-b56c-43fb-9250-e8de41dfebf1" Alias="Super Pulsed Laser and the Holistic Veterinary Practice" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/SuperPulsedLaserAndTheHolisticVeterinaryPractice</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:10</CreateDate>
    <NodeName Default="Super Pulsed Laser and the Holistic Veterinary Practice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-07-30T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Onsite statistics from The American Holistic Veterinary Medical Association revealed it has over 800 members in the U.S. This may seem like a healthy number, but one must note that the American Veterinary Medical Association report placed the number of active veterinarians at over 92,000. This puts veterinarians offering holistic medicine at considerably less than 1%.\u0026nbsp;   But now in 2018, Holistic Veterinary practices are opening nationwide at a more frequent pace than past years.  Using SPL as a non-invasive, non-drug and non-thermal treatment is a great addition to your holistic practice.\nJoin equine laser therapist Lisa Cawte-Baker and her special guest speaker Shauna Cantwell, DVM as they share some insightful tips used in the successful treatment of challenging cases in holistic practice utilizing Super Pulsed Laser."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[48:30]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Using SPL as a non-invasive, non-drug and non-thermal treatment is great addition to your holistic practice.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser and the Holistic Veterinary Practice | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Super Pulsed Laser and the Holistic Veterinary Practice]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-15481174" name="vzvd-15481174" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/15481174/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>