<?xml version="1.0" encoding="utf-8"?>
<Content Key="2776d402-3892-4a92-8863-c6b3562cfc58" Alias="Super Pulsed Laser and Fibromyalgia" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/SuperPulsedLaserAndFibromyalgia</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Super Pulsed Laser and Fibromyalgia" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2015-04-16T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Scientists estimate that fibromyalgia affects 5 million Americans age 18 or older. For unknown reasons, between 80 and 90 percent of those diagnosed with fibromyalgia are women. Join us for a discussion with Dr. Chris Carraway and Dr. Tim Demchak, on treating Fibromyalgia with Super Pulsed Laser. \u003Cbr /\u003E\nDr. Demchak was a featured presenter at the NAALT/WALT Congress in Washington DC in 2014 where he presented his case series on SPL protocols for Fibromyalgia. He was able to achieve remarkable successes with each case treated. Dr. Demchak will share his simple and direct protocols for addressing this often misunderstood condition."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[56.50]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Scientists estimate that fibromyalgia affects 5 million Americans age 18 or older. For unknown reasons, between 80 and 90 percent of those diagnosed with fibromyalgia are women.]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser and Fibromyalgia | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Super Pulsed Laser and Fibromyalgia]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="461" id="vzvd-3535161" mozallowfullscreen name="vzvd-3535161" src="//view.vzaar.com/3535161/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="768"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>