<?xml version="1.0" encoding="utf-8"?>
<Content Key="36926a0c-6a0b-4e3f-b490-badb5c7865d8" Alias="test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test</Path>
    <Trashed Parent="9057fee7-e84e-4d20-9beb-e6ef6c814787">true</Trashed>
    <ContentType>webinar</ContentType>
    <CreateDate>2025-03-14T14:07:51</CreateDate>
    <NodeName Default="test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties />
</Content>