<?xml version="1.0" encoding="utf-8"?>
<Content Key="61b8ce30-927c-445d-bb93-d74a4abd68fe" Alias="The effect of low-level laser in knee osteoarthrit" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/TheEffectOfLowLevelLaserInKneeOsteoarthrit</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="The effect of low-level laser in knee osteoarthrit" />
    <SortOrder>198</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Hegedus B, Viharos L, Gervain M, G&aacute;lfi M.</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<p class="p1">Abstract</p>
<p class="p1"><strong>INTRODUCTION:</strong></p>
<p class="p1">Low-level laser therapy (LLLT) is thought to have an analgesic effect as well as a biomodulatory effect on microcirculation. This study was designed to examine the pain-relieving effect of LLLT and possible microcirculatory changes measured by thermography in patients with knee osteoarthritis (KOA).</p>
<p class="p1"><strong>MATERIALS AND METHODS:</strong></p>
<p class="p1">Patients with mild or moderate KOA were randomized to receive either LLLT or placebo LLLT. Treatments were delivered twice a week over a period of 4 wk with a diode laser (wavelength 830 nm, continuous wave, power 50 mW) in skin contact at a dose of 6 J/point. The placebo control group was treated with an ineffective probe (power 0.5 mW) of the same appearance. Before examinations and immediately, 2 wk, and 2 mo after completing the therapy, thermography was performed (bilateral comparative thermograph by AGA infrared camera); joint flexion, circumference, and pressure sensitivity were measured; and the visual analogue scale was recorded.</p>
<p class="p1"><strong>RESULTS:</strong></p>
<p class="p1">In the group treated with active LLLT, a significant improvement was found in pain (before treatment [BT]: 5.75; 2 mo after treatment : 1.18); circumference (BT: 40.45; AT: 39.86); pressure sensitivity (BT: 2.33; AT: 0.77); and flexion (BT: 105.83; AT: 122.94). In the placebo group, changes in joint flexion and pain were not significant. Thermographic measurements showed at least a 0.5 degrees C increase in temperature--and thus an improvement in circulation compared to the initial values. In the placebo group, these changes did not occur.</p>
<p class="p1"><strong>CONCLUSION:</strong></p>
<p class="p1">Our results show that LLLT reduces pain in KOA and improves microcirculation in the irradiated area.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2009-08-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Photomed Laser Surg. 2009 Aug;27(4):577-84. doi: 10.1089/pho.2008.2297.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[The effect of low-level laser in knee osteoarthritis: a double-blind, randomized, placebo-controlled trial.]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[The effect of low-level laser in knee osteoarthritis: a double-blind, randomized, placebo-controlled trial.]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomed Laser Surg]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Efficacy of interferential low-level laser therapy using two independent sources in the treatment of knee pain." from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/0cc503986521ba9c10f1d7256aaa5533,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/414b1541986f409aa2a3e2567d618ff9,umb://document/74116831414d15707446c838f054356f,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/191629759db54314136fdb7885d20d7c,umb://document/b7b2838b2b6c5ebe8a28ec93376acfc9,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/c8993620941eaa86f0fff3fee9d53e54,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/bc8bf2d59cef24b8b85a8bf2d475e82c,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>