<?xml version="1.0" encoding="utf-8"?>
<Content Key="b86b7971-7a85-4dcc-91ad-43913b7f1489" Alias="Tooth Extraction" Level="4">
  <Info>
    <Parent Key="5bb3ffc5-86a3-470a-90bf-cc50c92cfd87">Diagnosis or Condition</Parent>
    <Path>/Filters/DiagnosticsConditionCriteria/DiagnosisOrCondition/ToothExtraction</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:22</CreateDate>
    <NodeName Default="Tooth Extraction" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>