<?xml version="1.0" encoding="utf-8"?>
<Content Key="db777a6c-a8b4-b431-1f21-d75016d3cc5a" Alias="TQ Solo" Level="4">
  <Info>
    <Parent Key="96a2ac03-ca4e-4abc-9fc5-4fb17df7fc80">Product Relativity</Parent>
    <Path>/Filters/LaserCharacteristics/ProductRelativity/TQSolo</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="TQ Solo" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>