<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fb403a2-b91c-41db-b179-617ffd45e201" Alias="Treating Spine and Large Muscle Groups Using DLS Hands-Free Super Pulsed Laser" Level="4">
  <Info>
    <Parent Key="7dd62c44-0090-4179-99e7-f1735945b0e5">Pre-Recorded Webinars</Parent>
    <Path>/Home/Webinars/PreRecordedWebinars/TreatingSpineAndLargeMuscleGroupsUsingDLSHandsFreeSuperPulsedLaser</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-09-16T20:46:09</CreateDate>
    <NodeName Default="Treating Spine and Large Muscle Groups Using DLS Hands-Free Super Pulsed Laser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2013-11-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Review of the DLS Hands-Free Super Pulsed Laser system with Magna Cart. Ideal for treating the spine, knees, shoulders and other large muscle groups.\u0026nbsp; Allows you to treat multiple patients at once, and can increase ROI without increasing overhead."
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[1-2 PM EST]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Review of the DLS Hands-Free Super Pulsed Laser system with Magna Cart. Ideal for treating the spine, knees, shoulders and other large muscle groups.  Allows you to treat multiple patients at once, and can increase ROI without increasing overhead.   ]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Treating Spine and Large Muscle Groups Using DLS Hands-Free Super Pulsed Laser | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[]]></Value>
    </product>
    <products>
      <Value><![CDATA[]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Treating Spine and Large Muscle Groups Using DLS Hands-Free Super Pulsed Laser]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe allowFullScreen allowTransparency="true" class="vzaar-video-player" frameborder="0" height="314" id="vzvd-1519636" mozallowfullscreen name="vzvd-1519636" src="https://view.vzaar.com/1519636/player" title="vzaar video player" type="text/html" webkitAllowFullScreen width="500"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>