<?xml version="1.0" encoding="utf-8"?>
<Content Key="797ed992-47e5-4fd9-9026-3357eb76110b" Alias="Type of Output" Level="3">
  <Info>
    <Parent Key="eeca2ac3-eede-43b8-be7c-42cd31b73429">Study Characteristics</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfOutput</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Type of Output" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>