<?xml version="1.0" encoding="utf-8"?>
<Content Key="f02c08e3-02b5-46af-b3ea-1a64f0b842b2" Alias="Type of Testing" Level="3">
  <Info>
    <Parent Key="ae7ad9ea-1453-4b12-8ec0-b4f35abc4a74">Laser Characteristics</Parent>
    <Path>/Filters/LaserCharacteristics/TypeOfTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Type of Testing" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>