<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ae04960-076e-461d-b61a-10a5e4492960" Alias="Type of Publication" Level="3">
  <Info>
    <Parent Key="b7ba01a3-5a91-47ce-8b3c-88cffa586aba">Resource Characteristics</Parent>
    <Path>/Filters/ResourceCharacteristics/TypeOfPublication</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Type of Publication" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>