<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc8082ea-0c8a-455c-b12b-d0162957585d" Alias="Type of Research Study" Level="3">
  <Info>
    <Parent Key="eeca2ac3-eede-43b8-be7c-42cd31b73429">Study Characteristics</Parent>
    <Path>/Filters/StudyCharacteristics/TypeOfResearchStudy</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Type of Research Study" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>