<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ced179e-9d88-4332-b5c5-4ba01c3f3a76" Alias="Vet July 2018" Level="4">
  <Info>
    <Parent Key="9057fee7-e84e-4d20-9beb-e6ef6c814787">Veterinary Webinars</Parent>
    <Path>/Home/Webinars/VeterinaryWebinars/VetJuly2018</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-06-27T16:28:53</CreateDate>
    <NodeName Default="Vet July 2018" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-07-30T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOnsite statistics from The American Holistic Veterinary Medical Association revealed it has over 800 members in the U.S. This may seem like a healthy number, but according to the AVMA there are currently 121,461 veterinarians in the U.S. This puts veterinarians offering holistic medicine at considerably less than 1%.\u0026nbsp; But now in 2018, Holistic Veterinary practices are opening nationwide at a more frequent pace than past years. Using SPL as a non-invasive, non-drug and non-thermal treatment is a great addition to your holistic practice.\u003C/p\u003E\u003Cp\u003EJoin equine laser therapist Lisa Cawte-Baker and her special guest speaker Shauna Cantwell, DVM as they share some insightful tips used in the successful treatment of challenging cases in holistic practice utilizing Super Pulsed Laser.\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[48:30:00]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Using SPL as a non-invasive]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser and the Holistic Veterinary Practice | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[{78B61757-9300-4625-9755-D11D2C87A6DD}]]></Value>
    </product>
    <products>
      <Value><![CDATA[{DDCB9CDB-3B40-4C90-9D5E-CE1D64BA3E64}|{BFACC27D-1D8F-4F1D-8D4B-4DA74135BDA5}|{BB454359-4D12-4ECD-9718-6B4A616B1DAF}|{0F7D3308-67DC-4237-B6DD-3296AF91C27A}]]></Value>
    </products>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <tagss>
      <Value><![CDATA[{7E07CB60-7454-41DB-9B9D-F22F1E29C124}|{CB6A4DE9-F417-4F7F-92D3-2A5EEFA62163}|{E00FDD21-1B2A-4E09-8865-D8131329041A}|{B3B9A6D5-0279-4729-8502-652F5022518A}|{19CDC1CA-1B3D-46F4-9B0C-5B4D52FDFF43}|{F45C2414-78FB-48BC-B5D9-3905CC9F7BDF}|{AC0BFD53-2C2A-4513-92F1-0FD7ABF4ABA1}|{857D5F6E-2804-4577-9D60-561957A513D8}|{6FAEE164-5C1B-4EF3-B354-4FC3815FCBA0}|{DBDE9853-8834-46D7-B517-278DA4D7EDBE}|{E133C5FB-1B38-4631-83D7-806563DE16CA}|{2FDDDC72-EE2B-4753-975D-40898C07C111}|{59721085-B486-46E5-B8FA-CD14F5432F80}|{6E0FBF8D-3229-4570-9777-DC8693DBF002}|{BC8B89A2-74CE-41D3-AE16-2F460B265347}|{5E02243D-94E5-45E3-9F15-6CA3E758355F}|{99543CA4-26BE-4DE2-9D52-66BAE8EC1FCC}|{B90895FF-60FF-4EB5-BC09-87638AEB2848}|{672C42F7-06DA-41F4-B681-CD26D16F39FD}|{B6429984-4E91-465D-A858-9A2AD19EF55D}|{2D692CAA-37E3-42CF-B0A6-E6FFE2D73663}]]></Value>
    </tagss>
    <title>
      <Value><![CDATA[Super Pulsed Laser and the Holistic Veterinary Practice]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-15481174" name="vzvd-15481174" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/15481174/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>