<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ced179e-9d88-4332-b5c5-4ba01c3f3a76" Alias="Vet July 2018" Level="4">
  <Info>
    <Parent Key="9057fee7-e84e-4d20-9beb-e6ef6c814787">Veterinary Webinars</Parent>
    <Path>/Home/Webinars/VeterinaryWebinars/VetJuly2018</Path>
    <Trashed>false</Trashed>
    <ContentType>veterinaryWebinar</ContentType>
    <CreateDate>2025-06-27T16:28:53</CreateDate>
    <NodeName Default="Vet July 2018" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <date>
      <Value><![CDATA[2018-07-30T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOnsite statistics from The American Holistic Veterinary Medical Association revealed it has over 800 members in the U.S. This may seem like a healthy number, but according to the AVMA there are currently 121,461 veterinarians in the U.S. This puts veterinarians offering holistic medicine at considerably less than 1%.\u0026nbsp; But now in 2018, Holistic Veterinary practices are opening nationwide at a more frequent pace than past years. Using SPL as a non-invasive, non-drug and non-thermal treatment is a great addition to your holistic practice.\u003C/p\u003E\u003Cp\u003EJoin equine laser therapist Lisa Cawte-Baker and her special guest speaker Shauna Cantwell, DVM as they share some insightful tips used in the successful treatment of challenging cases in holistic practice utilizing Super Pulsed Laser.\u003C/p\u003E"
}]]></Value>
    </description>
    <facebookDescription>
      <Value><![CDATA[]]></Value>
    </facebookDescription>
    <facebookTitle>
      <Value><![CDATA[]]></Value>
    </facebookTitle>
    <hideFromFlyout>
      <Value><![CDATA[1]]></Value>
    </hideFromFlyout>
    <length>
      <Value><![CDATA[48:30:00]]></Value>
    </length>
    <metaDescription>
      <Value><![CDATA[Using SPL as a non-invasive]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Super Pulsed Laser and the Holistic Veterinary Practice | Laser Therapy U]]></Value>
    </pageTitle>
    <product>
      <Value><![CDATA[{78B61757-9300-4625-9755-D11D2C87A6DD}]]></Value>
    </product>
    <products>
      <Value><![CDATA[{DDCB9CDB-3B40-4C90-9D5E-CE1D64BA3E64}|{BFACC27D-1D8F-4F1D-8D4B-4DA74135BDA5}|{BB454359-4D12-4ECD-9718-6B4A616B1DAF}|{0F7D3308-67DC-4237-B6DD-3296AF91C27A}]]></Value>
    </products>
    <tags>
      <Value><![CDATA[umb://document/281d2edf60b92e35678cf8f8ad02d363,umb://document/725945b8e6452e659758c475c1b87f5b,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/e3a868c5e20dbfb968b7189d71d87544,umb://document/ef971442240f3471e215ffe6baa8f8b9,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/61cef26e0ef3c638b71134445d11ec70,umb://document/191629759db54314136fdb7885d20d7c,umb://document/5df44537a851939b196bcb715963835c,umb://document/2e17cd170a4dbabd06b1582209f2f455,umb://document/23713bd69ad5cb183ec079a2a5c5030e,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6,umb://document/cf8f070faee875669923b1f625d3b010,umb://document/7546aac834828032898cf27d04aaf2ff,umb://document/a83c513bf6c1ddf44882c7d34f760438,umb://document/677cfc0e6e234499bcda1761d79b2655]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Super Pulsed Laser and the Holistic Veterinary Practice]]></Value>
    </title>
    <videoEmbedCode>
      <Value><![CDATA[<iframe id="vzvd-15481174" name="vzvd-15481174" title="vzaar video player" class="vzaar-video-player" type="text/html" width="640" height="360" frameborder="0" allowFullScreen allowTransparency="true" src="//view.vzaar.com/15481174/player"></iframe>]]></Value>
    </videoEmbedCode>
  </Properties>
</Content>