<?xml version="1.0" encoding="utf-8"?>
<Content Key="9057fee7-e84e-4d20-9beb-e6ef6c814787" Alias="Veterinary Webinars" Level="3">
  <Info>
    <Parent Key="0f21c583-0ed5-4149-b278-eea8b3f69202">Webinars</Parent>
    <Path>/Home/Webinars/VeterinaryWebinars</Path>
    <Trashed>false</Trashed>
    <ContentType>webinarList</ContentType>
    <CreateDate>2025-03-14T14:07:09</CreateDate>
    <NodeName Default="Veterinary Webinars" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b40e4c49-b88b-4f34-bcbc-adfd3667929c">webinarList</Template>
  </Info>
  <Properties />
</Content>