<?xml version="1.0" encoding="utf-8"?>
<Content Key="e82da7c5-c439-48d2-8249-d2bdc458e6e7" Alias="Videos" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>videoList</ContentType>
    <CreateDate>2026-03-06T18:01:13</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9261b245-d6bf-4585-96e5-80eec7882b09">videoList</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <hideFromFlyout>
      <Value><![CDATA[0]]></Value>
    </hideFromFlyout>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <title>
      <Value><![CDATA[Videos]]></Value>
    </title>
  </Properties>
</Content>