<?xml version="1.0" encoding="utf-8"?>
<Content Key="21e40a25-6876-4c93-8923-8d53c42d5fdd" Alias="Wavelength and Bacterial Density Influence the Bac" Level="3">
  <Info>
    <Parent Key="9285348f-e847-48d5-bd46-95aa1cca0a72">Research</Parent>
    <Path>/Home/Research/WavelengthAndBacterialDensityInfluenceTheBac</Path>
    <Trashed>false</Trashed>
    <ContentType>research</ContentType>
    <CreateDate>2025-12-04T12:00:00</CreateDate>
    <NodeName Default="Wavelength and Bacterial Density Influence the Bac" />
    <SortOrder>202</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="254cc1d0-1229-4987-a08a-cb887b755d13">research</Template>
  </Info>
  <Properties>
    <articleContributors>
      <Value><![CDATA[<p class="p1">Violet V. Bumah, Daniela S. Masson-Meyers, Susan E. Cashin, and Chukuka S. Enwemeka</p>]]></Value>
    </articleContributors>
    <articleCopy>
      <Value><![CDATA[<h3>Objective:</h3>
<p>The purpose of this study was to investigate the effect of wavelength and methicillin-resistant Staphylococcus aureus (MRSA) density on the bactericidal effect of 405 and 470 nm light.</p>
<h3>Background data:</h3>
<p class="p1">It is recognized that 405 and 470 nm light-emitting diode (LED) light kill MRSA in standard 5&times;106 colony-forming units (CFU)/mL cultures; however, the effect of bacterial density on the bactericidal effect of each wavelength is not known.</p>
<h3>Methods:</h3>
<p class="p1">In three experiments, we cultured and plated US300 MRSA at four densities. Then, we irradiated each plate once with either wavelength at 0, 1, 3, 45, 50, 55, 60, and 220 J/cm2.</p>
<h3>Results:</h3>
<p class="p1">Irradiation with either wavelength reduced bacterial colonies at each density (p&lt;0.05). More bacteria were cleared as density increased; however, the proportion of colonies cleared, inversely decreased as density increased&mdash;the maximum being 100%, 96%, and 78% for 3&times;106, 5&times;106, and 7&times;106 CFU/mL cultures, respectively. Both wavelengths had similar effects on the sparser 3&times;106 and 5&times;106 CFU/mL cultures, but in the denser 7&times;106 CFU/mL culture, 405 nm light cleared more bacteria at each fluence (p&lt;0.001). To determine the effect of beam penetration, denser 8&times;106 and 12&times;106 CFU/mL culture plates were irradiated either from the top, the bottom, or both directions. More colonies were eradicated from plates irradiated from top and bottom, than from plates irradiated from top or bottom at the same sum total fluences (p&lt;0.001).</p>
<h3>Conclusions:</h3>
<p class="p1">The bactericidal effect of LED blue light is limited more by light penetration of bacterial layers than by bacterial density per se.</p>]]></Value>
    </articleCopy>
    <articleDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </articleDate>
    <articleReference>
      <Value><![CDATA[Violet V. Bumah, Daniela S. Masson-Meyers, Susan E. Cashin, and Chukuka S. Enwemeka. Photomedicine and Laser Surgery. -Not available-, ahead of print. doi:10.1089/pho.2012.3461.]]></Value>
    </articleReference>
    <articleTitle>
      <Value><![CDATA[Wavelength and Bacterial Density Influence the Bactericidal Effect of Blue Light on Methicillin-Resistant Staphylococcus aureus (MRSA)]]></Value>
    </articleTitle>
    <headline>
      <Value><![CDATA[Wavelength and Bacterial Density Influence the Bactericidal Effect of Blue Light on Methicillin-Resistant Staphylococcus aureus (MRSA)]]></Value>
    </headline>
    <journal>
      <Value><![CDATA[Photomedicine and Laser Surgery]]></Value>
    </journal>
    <linkToFullArticle>
      <Value><![CDATA[]]></Value>
    </linkToFullArticle>
    <metaDescription>
      <Value><![CDATA[Find abstracts including "Wavelength and Bacterial Density Influence the Bactericidal Effect of Blue Light on Methicillin-Resistant Staphylococcus aureus (MRSA)" from Laser Therapy U, your number one source for low-level laser therapy research.]]></Value>
    </metaDescription>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <tags>
      <Value><![CDATA[umb://document/c6dd030be8b7f7e6324fe98a5ff75c9e,umb://document/2876d560ddc970fd27692f45a721d901,umb://document/1adf6ef0ab448e0ffe27a00e3a4672cb,umb://document/5e83787cb163a6e9646affb57308f615,umb://document/7463399d2d2db71efaf0e15f4aed7d5a,umb://document/e7f777a5c08868a2eaf8c01097ca18b1,umb://document/83b045b224efa8229bd30e76c8630c6f,umb://document/a0843712313aa63463f3de24b8591e20,umb://document/f1b0228ae51c58d9cdbf8f4e17bf3250,umb://document/d757a9929b4ad1ea65872bb16e727c11,umb://document/4097c71e4d189f77c42f1344527f88bc,umb://document/d80fea2c4d46d250aa14c68f62cada08,umb://document/10ce61769a57d12205dcba1ba38c62cd,umb://document/a2701a35f821a65f813eb9863c8a07e6,umb://document/c6b4a9da28212d79802fddc91cdcc951,umb://document/114028e2148022765bcb693f38267e43,umb://document/19d72d914e764d6c5ddfd5b6db1adbb6]]></Value>
    </tags>
  </Properties>
</Content>