<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f76b3a9-a312-45a3-83c3-f1c97971065b" Alias="Wavelengths" Level="3">
  <Info>
    <Parent Key="ae7ad9ea-1453-4b12-8ec0-b4f35abc4a74">Laser Characteristics</Parent>
    <Path>/Filters/LaserCharacteristics/Wavelengths</Path>
    <Trashed>false</Trashed>
    <ContentType>filterCategory</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Wavelengths" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryActive>
      <Value><![CDATA[]]></Value>
    </categoryActive>
    <columnSplit>
      <Value><![CDATA[]]></Value>
    </columnSplit>
  </Properties>
</Content>