<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f21c583-0ed5-4149-b278-eea8b3f69202" Alias="Webinars" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Webinars</Path>
    <Trashed>false</Trashed>
    <ContentType>webinars</ContentType>
    <CreateDate>2025-03-14T13:54:14</CreateDate>
    <NodeName Default="Webinars" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8ff774c1-328c-4147-a4b4-edb6ef2bd4f5">webinars</Template>
  </Info>
  <Properties />
</Content>