<?xml version="1.0" encoding="utf-8"?>
<Content Key="d80fea2c-4d46-d250-aa14-c68f62cada08" Alias="Yes" Level="4">
  <Info>
    <Parent Key="b8f02bc7-b6e7-4d75-93a8-963d7a0f288e">Comparative Study</Parent>
    <Path>/Filters/StudyCharacteristics/ComparativeStudy/Yes</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Yes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>