<?xml version="1.0" encoding="utf-8"?>
<Content Key="be24ccd6-7436-67be-d46f-3d1276e27d7f" Alias="Yes" Level="4">
  <Info>
    <Parent Key="a159b270-adca-45a2-9626-2e28b568bce7">LaserU Suggested</Parent>
    <Path>/Filters/ResourceCharacteristics/LaserUSuggested/Yes</Path>
    <Trashed>false</Trashed>
    <ContentType>filterTag</ContentType>
    <CreateDate>2025-11-26T18:55:23</CreateDate>
    <NodeName Default="Yes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagActive>
      <Value><![CDATA[]]></Value>
    </tagActive>
    <tagDescription>
      <Value><![CDATA[]]></Value>
    </tagDescription>
  </Properties>
</Content>