@inherits UmbracoViewPage<BlockListItem>

@using Umbraco.Cms.Core.Models.Blocks

@{
    var row = Model.Content;
    var settings = Model.Settings;
    if (settings?.Value<bool>("hide") ?? false) { return; }

    var code = row?.Value<string>("code");
    var title = row?.Value<string>("title");
}

<div class="row clearfix">
    <div class="col-md-12 column">
        <pre><code>@code</code></pre>
        @if (!string.IsNullOrWhiteSpace(title))
        {
            <p class="caption">@title</p>
        }
    </div>
</div>
