@inherits UmbracoViewPage<BlockListItem>

@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions

@{
    var row = Model.Content;
    var settings = Model.Settings;
    if (settings?.Value<bool>("hide") ?? false) { return; }

    var images = row?.Value<IEnumerable<IPublishedContent>>("images")?.Where(x => x != null).ToList() ?? new List<IPublishedContent>();
    if (!images.Any()) { return; }
}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="swiffy-slider slider-item-reveal slider-nav-round slider-item-ratio slider-item-ratio-4x3" id="slider-@(Model.Content.Key.ToString())">
            <ul class="slider-container">
                @foreach (var item in images)
                {
                    <li><img src="@item.Url()" loading="lazy" alt="@item.Name"></li>
                }
            </ul>

            <button type="button" class="slider-nav" aria-label="Go left"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go right"></button>

            <div class="slider-indicators slider-indicators-square d-none d-md-flex">
                <button class="active" aria-label="Go to slide"></button>
                @if (images.Count > 1)
                {
                    foreach (var _ in images.Skip(1))
                    {
                        <button aria-label="Go to slide"></button>
                    }
                }
            </div>

            <div class="slider-indicators slider-indicators-sm slider-indicators-dark slider-indicators-round d-md-none slider-indicators-highlight">
                <button class="active" aria-label="Go to slide"></button>
                @if (images.Count > 1)
                {
                    foreach (var _ in images.Skip(1))
                    {
                        <button aria-label="Go to slide"></button>
                    }
                }
            </div>
        </div>
    </div>
</div>
