@inherits UmbracoViewPage<BlockListItem>

@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions

@{
    var row = Model.Content;
    var settings = Model.Settings;
    if (settings?.Value<bool>("hide") ?? false) { return; }

    var image = row?.Value<IPublishedContent>("image");
    var caption = row?.Value<string>("caption");
    if (image == null) { return; }
}

<div class="image">
    <img src="@image.Url()" alt="@(caption ?? image.Name)" class="img-fluid">
    @if (!string.IsNullOrWhiteSpace(caption))
    {
        <p class="caption">@caption</p>
    }
</div>

