@inherits UmbracoViewPage<BlockListItem>

@using Umbraco.Cms.Core.Models.Blocks

@{
    var row = Model.Content;
    var settings = Model.Settings;
    if (settings?.Value<bool>("hide") ?? false) { return; }

    var content = row?.Value<string>("content");
}

<div class="richtext">
    @Html.Raw(content)
</div>
