@inherits UmbracoViewPage<BlockListItem>

@using Clean.Core.Helpers
@using Umbraco.Cms.Core.Models.Blocks

@{
    var row = Model.Content;
    var settings = Model.Settings;
    if (settings?.Value<bool>("hide") ?? false) { return; }

    var videoUrl = row?.Value<string>("videoUrl");
    var caption = row?.Value<string>("caption");
    if (string.IsNullOrWhiteSpace(videoUrl)) { return; }

    var videoId = VideoUrlHelper.GetVideoId(videoUrl);
}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="youtube-player" data-id="@videoId"></div>
        @if (!string.IsNullOrWhiteSpace(caption))
        {
            <p class="caption video-caption">@caption</p>
        }
    </div>
</div>

