<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3d4e5f6-a7b8-4c5d-0e9f-1a2b3c4d5e6f" Alias="filterCategory" Level="2">
  <Info>
    <Name>Filter Category</Name>
    <Icon>icon-folder-outline color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Mid-level filter grouping (e.g., Diagnosis or Condition)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Taxonomy</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d4e5f6a7-b8c9-4d5e-1f0a-2b3c4d5e6f7a" SortOrder="0">filterTag</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c9d0e1f2-a3b4-4c5d-6e5f-7a8b9c0d1e2f</Key>
      <Name>Active</Name>
      <Alias>categoryActive</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable/disable this category]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a</Key>
      <Name>Column Split</Name>
      <Alias>columnSplit</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display tags in 2 columns in the filter UI]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2f3a4b5-c6d7-4e8f-9a0b-1c2d3e4f5a6b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f3a4b5c6-d7e8-4f9a-0b1c-2d3e4f5a6b7c</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>