<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5363f359-65fd-417c-8bea-dc7bf225695d" Alias="webinar" Level="2">
  <Info>
    <Name>Webinar</Name>
    <Icon>icon-embed color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>webinar</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c779b325-fcc5-49f8-becd-1688e6f19e3b">webinar</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>