<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0f8f4ab-b6c5-4fca-8c30-54e31d6df8aa" Alias="Member Summary (Read-only)" Level="1">
  <Info>
    <Name>Member Summary (Read-only)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.Link",
    "Umb.Tiptap.RichTextEssentials"
  ],
  "maxImageSize": 500,
  "overlaySize": "small",
  "toolbar": null
}]]></Config>
</DataType>