<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5fdc94b-c8e9-4059-8562-414ab3f642b7" Alias="Veterinary Webinar - Tags - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Veterinary Webinar - Tags - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "d4e5f6a7-b8c9-4d5e-1f0a-2b3c4d5e6f7a",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "11111111-1111-1111-1111-111111111111",
    "dynamicRoot": {
      "originKey": "11111111-1111-1111-1111-111111111111",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>