<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ccded299-640f-4eec-aba8-9e7483928cbc" Alias="protocolsList" Level="2">
  <Info>
    <Name>Protocols List</Name>
    <Icon>icon-server color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ProtocolsList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="20627636-041f-48e1-bb98-e4f1439d1921">ProtocolsList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d5bfd32a-5619-427a-8453-16b5d7ae66ba" SortOrder="0">protocol</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>