<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd5ef0aa-0128-4a09-88fa-4b4c4062ba76" Alias="webinars" Level="2">
  <Info>
    <Name>Webinars</Name>
    <Icon>icon-webhook color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>webinars</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8ff774c1-328c-4147-a4b4-edb6ef2bd4f5">webinars</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cf4a7f54-5eb5-4dcc-82df-88e01b238753" SortOrder="0">webinarList</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>