<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf4a7f54-5eb5-4dcc-82df-88e01b238753" Alias="webinarList" Level="2">
  <Info>
    <Name>Webinar List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>webinarList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b40e4c49-b88b-4f34-bcbc-adfd3667929c">webinarList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5363f359-65fd-417c-8bea-dc7bf225695d" SortOrder="0">webinar</ContentType>
    <ContentType Key="abf2c770-a37f-4308-ba94-54b012e484ed" SortOrder="1">veterinaryWebinar</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>