<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="d59be02f-1df9-4228-aa1e-01917d806cda" Alias="Member" Level="1">
  <Info>
    <Name>Member</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>icon-user</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>0d2a1a18-46ef-4931-a7f0-f6670d4b7e15</Key>
      <Name>Accepted Terms</Name>
      <Alias>acceptedTerms</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0bc1fbf-7d52-4e22-8e93-6a18ef9ed7f3</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7a24620-df75-4b3e-95d0-aea49500178d</Key>
      <Name>Address 2</Name>
      <Alias>address2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c5e80c8-7138-4ce4-a2b6-445de3bdbfac</Key>
      <Name>City</Name>
      <Alias>city</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2f3045d-c001-4ea5-a8f9-17f10bc6ddcc</Key>
      <Name>Company Name</Name>
      <Alias>companyName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dddc111-ee44-4f1a-a35d-4df739fcb165</Key>
      <Name>Country</Name>
      <Alias>country</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6f95019-2ad7-495f-941f-a3f6eb6d3add</Key>
      <Name>Customer Type</Name>
      <Alias>customerType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ddaf11f-b7b5-4fb0-9e4f-3ebf748d6101</Key>
      <Name>First Name</Name>
      <Alias>firstName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0c431f2-f1b6-4225-ab52-2d50ef5554b1</Key>
      <Name>Hear About Us</Name>
      <Alias>hearAboutUs</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>592171b2-b6ce-4d42-941b-f133ebbe315f</Key>
      <Name>Last Name</Name>
      <Alias>lastName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ceea688-6d0a-4f3c-a1dd-a51890e15e66</Key>
      <Name>Opt In</Name>
      <Alias>optIn</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ebc8d17-50d4-4c27-acfe-df1d6739f6db</Key>
      <Name>Phone Number</Name>
      <Alias>phoneNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a01e815-c95d-4a7e-8d4d-cddf06e2ea2a</Key>
      <Name>Product Name</Name>
      <Alias>productName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>056c47cf-3e58-4058-9643-5346c4d31f03</Key>
      <Name>Product Owned</Name>
      <Alias>productOwned</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d1c0aa1-2f21-46ff-96f8-7651c6fca102</Key>
      <Name>Purchased Content History</Name>
      <Alias>purchasedContentHistory</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[JSON purchase history with content key, payment intent id, and purchase date]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a11d55f-99a1-4f39-94e1-f8ce698f30f0</Key>
      <Name>Purchased Content Keys</Name>
      <Alias>purchasedContentKeys</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma-separated list of purchased content keys]]></Description>
      <SortOrder>18</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fd602b7-4365-4ef1-a736-27a8f63d2b60</Key>
      <Name>Purchased Content Summary</Name>
      <Alias>purchasedContentSummary</Alias>
      <Definition>d0f8f4ab-b6c5-4fca-8c30-54e31d6df8aa</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Read-only purchase summary with direct links for backoffice users]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>false</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20279bd7-a3e1-4dc6-8b55-99285c8784a3</Key>
      <Name>Recently Viewed Content History</Name>
      <Alias>recentlyViewedContentHistory</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[JSON history for recently viewed product pages]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b3e0f4c-eb1c-4124-9db2-26cfda78eb51</Key>
      <Name>Recently Viewed Content Summary</Name>
      <Alias>recentlyViewedContentSummary</Alias>
      <Definition>d0f8f4ab-b6c5-4fca-8c30-54e31d6df8aa</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Read-only recently viewed summary with direct links for backoffice users]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>false</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dca57664-9474-4133-ae7b-670286f61195</Key>
      <Name>State</Name>
      <Alias>state</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bbac4977-4f85-49dc-99f9-c15df42dc8df</Key>
      <Name>Subscription Expires UTC</Name>
      <Alias>subscriptionExpiresUtc</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[ISO UTC timestamp when subscription access expires]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f9cfd9e-2f41-4452-94d7-f83f0899422e</Key>
      <Name>Subscription History</Name>
      <Alias>subscriptionHistory</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[JSON history for activated subscriptions]]></Description>
      <SortOrder>27</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4993eb32-12f5-4b83-b330-9a46f97dc7d5</Key>
      <Name>Subscription Last Payment Intent ID</Name>
      <Alias>subscriptionLastPaymentIntentId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Latest Stripe payment intent id for subscription checkout]]></Description>
      <SortOrder>26</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f8bd2a6-9d7e-4ea4-b5a8-e20ccf2586cf</Key>
      <Name>Subscription Plan</Name>
      <Alias>subscriptionPlan</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Current active subscription plan name]]></Description>
      <SortOrder>23</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d0b9b3f-417b-4ce8-a3f7-273630f9ed89</Key>
      <Name>Subscription Status</Name>
      <Alias>subscriptionStatus</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subscription status value, typically Active or Inactive]]></Description>
      <SortOrder>24</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89e4f980-86ff-4b32-98be-b62e5e229e4f</Key>
      <Name>Subscription Summary</Name>
      <Alias>subscriptionSummary</Alias>
      <Definition>d0f8f4ab-b6c5-4fca-8c30-54e31d6df8aa</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Read-only subscription summary for backoffice users]]></Description>
      <SortOrder>28</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>false</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a280588-0000-0000-0000-000000000000</Key>
      <Name>Comments</Name>
      <Alias>umbracoMemberComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="membership">Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38d31235-f95d-4fca-8f4f-b032e28fff63</Key>
      <Name>User Type</Name>
      <Alias>userType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42f2f90e-6463-4dcb-a21b-d89ad7fd2548</Key>
      <Name>Zip Postal Code</Name>
      <Alias>zipPostalCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>0756729d-d665-46e3-b84a-37aceaa614f8</Key>
      <Caption>Membership</Caption>
      <Alias>membership</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>96bf3676-4e49-4999-8a12-e7fdb21cf503</Key>
      <Caption>Profile</Caption>
      <Alias>profile</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</MemberType>